      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav nav-pills">
              <li role="presentation">
                <a href="/hostgame"><i class="fa fa-calendar"></i> Host Event</a>
              </li>
              <li role="presentation">
                <a href="/events"><i class="fa fa-map-marker"></i> Events</a>
              </li>
              <li role="presentation">
                <a href="/history"><i class="fa fa-history"></i> Played</a>
              </li>
              <li role="presentation">
                <a href="/docs/hostevent.html" target="_blank"><i class="fa fa-book"></i> Docs</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
