<footer>
    <div class="container-fluid">
        <div class="col-sm-offset-2 col-sm-5">
            <h4>Roll for Group</h4>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="https://blog.rollforgroup.com">Blog</a></li>
                <li><a href="/docs/hostevent.html">Documentation</a></li>
                <li><a href="/docs/membership.html">Pricing</a></li>
                <li><a href="privacy">Privacy Policy and Terms of Service</a></li>
            </ul>

            <h4>Open Source</h4>
            <ul>
              <li><a href="https://gitlab.com/roll-for-group/rollforgroup/blob/master/CONTRIBUTING.md">Contribute to Roll for Group</a></li>
            </ul>

            <h4>Head Office</h4>
            <p>Wollongong, NSW 2500, Australia</p>
        </div>
        <div class="col-sm-3">
            <h4>Contact</h4>

            <h5>Email</h5>
            <p><i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i>
            <a href="mailto:gaming@rollforgroup.com">gaming@rollforgroup.com</a></p>
            
            <h5>Mail</h5>
            <p>PO Box 465 Unanderra, NSW 2526, Australia</p>
            
        </div>
    </div>
</footer>
