{{#if textarea-markup}}
  {{#if textarea-markup.label}}<p class="form-labels">{{textarea-markup.label}}</p>{{/if}}
  {{#if textarea-markup.instructable}}<p class="form-instructable">{{textarea-markup.instructable}}</p>{{/if}}
    <div id="div4{{textarea-markup.id}}" class="input-group text col-lg-8 col-xs-12">
        <div class="btn-group pull-right" role="group">
            <button id="headDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-header"></i></button>
            <button id="boldDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-bold"></i></button>
            <button id="italDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-italic"></i></button>
            <button id="quotDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-quote-right"></i></button>
            <button id="listUlDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ul"></i></button>
            <button id="listOlDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ol"></i></button>
            <button id="linkDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-external-link"></i></button>
            <button id="imagDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-picture-o"></i></button>
            <button id="ytubeDesc" type="button" class="btn btn-default btn-sm editmarkup"><i class="fa fa-youtube"></i></button>
            <button id="helpDescription" type="button" class="btn btn-default btn-sm">Format Help <i class="fa fa-file-text-o"></i></button>
        </div>

        <textarea id="{{textarea-markup.id}}" name={{textarea-markup.id}} type="text" {{#if textarea-markup.placeholder}}placeholder="{{textarea-markup.placeholder}}"{{/if}} class="form-control text" {{#if textarea-markup.rows}}rows="{{textarea-markup.rows}}"{{/if}} {{#if textarea-markup.value}} data-before="{{textarea-markup.value}}"{{/if}}>{{textarea-markup.value}}</textarea>
    </div>
{{/if}}
