{{#if image}}
    {{#if image.label}}<p class="form-labels">{{image.label}}</p>{{/if}}
    {{#if image.instructable}}<p class="form-instructable">{{image.instructable}}<p>{{/if}}
    <div class = "row">
      <div class="col col-sm-6 col-md-4 col-lg-3">
        <img id="{{image.id}}" {{#if image.src}}src="{{image.src}}"{{/if}}>
      </div>
    </div>
{{/if}}
