{{#if datepicker}}
  {{#if datepicker.label}}<p class="form-labels">{{datepicker.label}}</p>{{/if}}
  {{#if datepicker.instructable}}<p class="form-instructable">{{datepicker.instructable}}</p>{{/if}}
<div class="input-group date" data-provider="datepicker" data-date-format="dd/mm/yyyy">
    <input type="text" class="form-control text datepicker" name="{{datepicker.name}}" id="{{datepicker.id}}">
    </input>
</div>
{{/if}}
