{{#if textinput}}
{{#if textinput.label}}<p class="form-labels">{{textinput.label}}</p>{{/if}}
<div id="div4{{textinput.id}}" class="input-group text col-lg-8 col-xs-12">
    <div class="input-group text col-xs-12">
    {{#if textinput.instructable}}<p class="form-instructable">{{textinput.instructable}}</p>{{/if}}
    </div>
    <div class="input-group text col-xs-12">
        {{#if textinput.prefixaddon}}<div class="input-group-addon">{{textinput.prefixaddon}}</div>{{/if}}
        <input id="{{textinput.id}}" name={{textinput.id}} {{#if textinput.placeholder}}placeholder="{{textinput.placeholder}}"{{/if}} class="form-control text" {{#if textinput.maxlength}}maxlength="{{textinput.maxlength}}"{{/if}}  type="text"{{#if textinput.value}} value="{{textinput.value}}" data-before="{{textinput.value}}"{{/if}}>
            {{#if textinput.suffixaddon}}<div class="input-group-addon">{{textinput.suffixaddon}}</div>{{/if}}
    </div>
</div>
{{/if}}
