<div class="form-top">
  <div class="form-top-left">
    <h3>{{title}}</h3>
    {{#if image}}<img src={{image}} />{{/if}}
    <p class="form-labels">{{label}}</p>
  </div>
  <div class="form-top-right">
    {{#if icon}}<i class="{{icon}}"></i>{{/if}}
    {{#if imgicon}}<img src="{{imgicon}}"></img>{{/if}}
  </div>
</div>
