{{#if imageupload}}
    {{#if imageupload.label}}<p class="form-labels">{{imageupload.label}}</p>{{/if}}
    {{#if imageupload.instructable}}<p class="form-instructable">{{imageupload.instructable}}<p>{{/if}}
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
              <div class="row">
                  <div class="col col-sm-6 col-md-4 col-lg-3">
                      <div class="main-img-preview">
                        <img id="avatar" class="thumbnail img-preview" src="{{imageupload.src}}" title="Preview Logo">
                      </div>
                  </div>
              </div>
              <div class="row">

                  <div class="input-group col-sm-12 col-lg-8">
                    <input id="fakeUploadLogo" class="form-control fake-shadow" placeholder="Choose File" disabled="disabled">
                    <div class="input-group-btn">
                      <div class="fileUpload btn btn-info fake-shadow">
                        <span><i class="glyphicon glyphicon-upload"></i> {{imageupload.buttontext}}</span>
                        <input id="logo-id" name="logo" type="file" class="attachment_upload" accept="image/*">
                      </div>
                        {{#if imageupload.hasfacebook}}
                      <div id="facebookicon" class="fileUpload btn btn-primary fake-shadow">
                        <span><i class="fa fa-facebook-square"></i> facebook picture</span>
                      </div>
                      {{/if}}

                    </div>
                  </div>

              </div>
            </div>
		</div>
	</div>
{{/if}}



