{{#if hiddeninput}}
  {{#if hiddeninput.label}}<p class="form-labels">{{hiddeninput.label}}</p>{{/if}}
  {{#if hiddeninput.instructable}}<p class="form-instructable">{{hiddeninput.instructable}}</p>{{/if}}
  {{#if hiddeninput.image}}<img src="{{hiddeninput.image}}"</img>{{/if}}
      <input type="hidden" name="{{hiddeninput.name}}" value="{{hiddeninput.value}}" {{#if hiddeninput.id}}id="{{hiddeninput.id}}"{{/if}}></input>
{{/if}}
