{{#if label}}
{{#if label.label}}<p class="form-labels">{{label.label}}</p>{{/if}}
<div id="div4{{label.id}}" class="input-group text col-xs-12 col-lg-8">
    <div class="input-group text col-xs-12">
    {{#if label.instructable}}<p class="form-instructable">{{label.instructable}}</p>{{/if}}
    </div>
</div>
{{/if}}
