{{#if slider}}
  <div id = "div4{{slider.id.id}}">
  {{#if slider.label}}<p class="form-labels">{{slider.label}}</p>{{/if}}
  {{#if slider.instructable}}<p class="form-instructable">{{slider.instructable}}<p>{{/if}}
      <div class = "row">
          <div class = "col-xs-12">
              <div id="{{slider.id.id}}" class="hourslider" data-starthour="{{slider.datastarthour}}" data-startminute="{{slider.datastartminute}}" data-endhour="{{slider.dataendhour}}" data-endminute="{{slider.dataendminute}}" ></div>
          </div>
      </div>
  </div>

{{/if}}
