{{#if listgroup}}
    <div id="container4{{listgroup.id}}">
        {{#if listgroup.label}}<p class="form-labels">{{listgroup.label}}</p>{{/if}}
        {{#if listgroup.instructable}}<p class="form-instructable">{{listgroup.instructable}}<p>{{/if}}
        <div class = "row">
            <div id="div4{{listgroup.id}}" class = "col-lg-8 col-xs-12">
                <div class="list-group" id="{{listgroup.id}}" name="{{listgroup.id}}">
                {{#each listgroup.options}}
                <button type="button" {{#if vclick}}v-on:click="{{vclick}}({{value}})"{{/if}} id="{{id}}" class="list-group-item list-group-item-action{{#if default}} active{{/if}}" {{#if value}}value="{{value}}"{{/if}} {{#if onclick}}onclick"{{onclick}}"{{/if}}>{{option}}</button>
                {{/each}}
                </div>
                {{#if listgroup.othertext}}
                <input type="text" placeholder="{{listgroup.othertext.placeholder}}" class="form-control" id="{{listgroup.othertext.id}}">
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}
