{{#if textarea}}
  {{#if textarea.label}}<p class="form-labels">{{textarea.label}}</p>{{/if}}
  {{#if textarea.instructable}}<p class="form-instructable">{{textarea.instructable}}</p>{{/if}}
    <div id="div4{{textarea.id}}" class="input-group text col-lg-8 col-xs-12">
        <textarea id="{{textarea.id}}" name={{textarea.id}} type="text" {{#if textarea.placeholder}}placeholder="{{textarea.placeholder}}"{{/if}} class="form-control text" {{#if textarea.rows}}rows="{{textarea.rows}}"{{/if}} {{#if textarea.value}} data-before="{{textarea.value}}"{{/if}}>{{textarea.value}}</textarea>
    </div>
{{/if}}
