{{#if select}}
  <div id="container4{{select.id}}">
    {{#if select.label}}<p class="form-labels">{{select.label}}</p>{{/if}}
    {{#if select.instructable}}<p class="form-instructable">{{select.instructable}}<p>{{/if}}
    <div class = "row">
      <div id="div4{{select.id}}" class = "col-lg-8 col-xs-12">
        <select class="form-control" {{#if select.onchange}}onchange="{{select.onchange}}"{{/if}} id="{{select.id}}" name="{{select.id}}">
        {{#each select.options}}
          <option id="{{option}}" {{#if value}}value="{{value}}"{{/if}} {{#if default}}selected{{/if}}>{{option}}</option>
        {{/each}}
        </select>
        {{#if select.othertext}}
        <input type="text" placeholder="{{select.othertext.placeholder}}" class="form-control" id="{{select.othertext.id}}">
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
