{{#if timerange}}

  {{#if timerange.label}}<p class="form-labels">{{timerange.label}}</p>{{/if}}
  {{#if timerange.instructable}}<p class="form-instructable">{{timerange.instructable}}<p>{{/if}}

    <div class="input-group clockpicker">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
      <input type="text" class="form-control text" value="{{timerange.placeholder}}" id="{{timerange.id}}" name="{{timerange.name}}">
    </div>

{{/if}}
