{{#if maplocation}}
  {{#if maplocation.label}}<p class="form-labels">{{maplocation.label}}</p>{{/if}}
  {{#if maplocation.instructable}}<p class="form-instructable">{{maplocation.instructable}}</p>{{/if}}

<div class="input-group date">
    <input type="text" class="form-control text" name="{{maplocation.name}}" id="{{maplocation.id}}"></input>
</div>

{{/if}}
