{{#if imagehiddenid}}
    {{#if imagehiddenid.label}}<p class="form-labels">{{imagehiddenid.label}}</p>{{/if}}
    {{#if imagehiddenid.instructable}}<p class="form-instructable">{{imagehiddenid.instructable}}<p>{{/if}}
    <div class = "row">
        <div class="col col-sm-6 col-md-4 col-lg-3">
            <input id="{{imagehiddenid.id}}" name={{imagehiddenid.id}} class="form-control text" type="hidden"{{#if imagehiddenid.value}} value="{{imagehiddenid.value}}" data-before="{{imagehiddenid.value}}"{{/if}}>
            <img id="{{imagehiddenid.image.id}}" src="{{imagehiddenid.image.src}}">
        </div>
    </div>
{{/if}}
