{{#if textinputimage}}
{{#if textinputimage.label}}<p class="form-labels">{{textinputimage.label}}</p>{{/if}}
<div id="div4{{textinput.id}}" class="input-group text col-lg-8 col-xs-12">
    <div class="input-group text col-xs-12">
        {{#if textinputimage.instructable}}<p class="form-instructable">{{textinputimage.instructable}}</p>{{/if}}
    </div>

    {{#if textinputimage.image}}
    <div class="input-group text col-xs-3">
        <img id="{{textinputimage.image.id}}" src="">
    </div>
    {{/if}}

    <div class="input-group text col-xs-12">
        {{#if textinputimage.prefixaddon}}<div class="input-group-addon">{{textinputimage.prefixaddon}}</div>{{/if}}
        <input id="{{textinputimage.id}}" name={{textinputimage.id}} {{#if textinputimage.placeholder}}placeholder="{{textinputimage.placeholder}}"{{/if}} class="form-control text" {{#if textinputimage.maxlength}}maxlength="{{textinputimage.maxlength}}"{{/if}}  type="text"{{#if textinputimage.value}} value="{{textinputimage.value}}" data-before="{{textinputimage.value}}"{{/if}}>
            {{#if textinputimage.suffixaddon}}<div class="input-group-addon">{{textinputimage.suffixaddon}}</div>{{/if}}
    {{#if textinputimage.hiddeninput}}
          <input type="hidden" name="{{textinputimage.hiddeninput.name}}" value="" {{#if textinputimage.hiddeninput.id}}id="{{textinputimage.hiddeninput.id}}"{{/if}}></input>
    {{/if}}
    </div>


</div>
{{/if}}
