{{#if checkbox}}
  <p class="form-labels">{{checkbox.label}}</p>
  <p class="form-instructable">{{checkbox.instructable}}<p>
    {{#each checkbox.options}}
    <div id="div4{{checkbox.id}}" class="col-xs-12">
        <div class="checkbox">
            <label><input type="checkbox" id="{{id}}" name="{{id}}" {{#if checked}}data-begin="true" checked{{/if}}>{{option}}</label>
        </div>
    </div>
    {{/each}}
    {{#if checkbox.othertext}}
      <input type="text" placeholder="{{checkbox.othertext.placeholder}}" class="form-control" id="{{checkbox.othertext.id}}">
    {{/if}}
{{/if}}
