            {{#if headerbuttons}}
            <div class="row" id="headerbuttons">
                <div class="bottom-buttongroup pull-right">
                    {{#each headerbuttons}}
                    {{#if button}}
                        <div class="btn-group">
                            <button type="button" class="{{button.class}}" id="{{button.id}}">{{#if button.img}}<img class="{{button.img.class}}" src="{{button.img.src}}">{{/if}}{{button.text}}</button>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <!-- /.row -->
            {{/if}}
