<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <div class="row vertical-align-helper">
        <span class="navbar-brand catchphrase">
          <a href="events"><img class="brandlogo32image" src="/img/rfg-logo-whiteglow-32.png"></img></a><a href="events">Roll for Group</a>
        </span>
      </div>
    </div>
    <!-- /.navbar-header -->

    {{#if navigation.nouser}}
    <form class="navbar-form navbar-right">
      <button class="btn btn-default btn-sm navbutton" onclick="location.href='/login{{#if boardgameserviceurl}}?redirect=/events/{{key}}{{/if}}'" type='button'>Log in</button>
      <button class="btn btn-default btn-sm navbutton" onclick="location.href='/signup'" type='button'>Sign up</button>
    </form>
    {{else}}
    <ul class="nav navbar-top-links navbar-right">

        <!-- /.dropdown -->
        <li class="dropdown" id="navalerts">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i v-bind:class="faIconNotifyClass"></i><span v-bind:class="noticeclass"><b>\{{noticecount}}</b></span>
          </a>
          <ul class="dropdown-menu dropdown-alerts" role="menu">
            <li v-if="noticecount != ''">
              <a v-on:click="readNotifications" class="text-center">
                <strong>Mark All Notifications as Read</strong>
              </a>
            </li>
            <li v-if="noticecount != ''" class="divider"></li>
            <li v-if="noticecount == ''">
              <a class="text-center" href="#">
                <span>You have no notifications</span>
              </a>
            </li>
            <li v-for='notice in notices' class="notify-unread">
              <a v-on:click="readNotification(notice.noteid, notice.url, notice.openNewTab)" class="notify-hover">
                <img v-bind:src="notice.thumbnail" class="pull-left notify-image" onerror="this.src='/img/u_roll_icon1-01.png'"></img>
                <div>
                  <span class="pull-right text-muted small notify-fromnow"><em>\{{notice.fromnow}}</em></span>
                  <span>\{{notice.text}}</span>
                </div>
              </a>
             </li>
          </ul>
          <!-- /.dropdown-alerts -->
        </li>

        <li class="dropdown" id="emailalerts">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i v-bind:class="faIconMailClass"></i><span v-bind:class="noticeclass"><b>\{{noticecount}}</b></span>
          </a>
          <ul class="dropdown-menu dropdown-messages">
            <li v-for='privatemail in privatemails' class="notify-unread">
              <a v-bind:href="getMailId(privatemail.mailid)">
                <div>
                  <span class="mailname">\{{privatemail.name}}</span>
                  <span class="pull-right text-muted small">
                    <em>\{{privatemail.momentdate}}</em>
                  </span>
                </div>
                <div class="mailsubject">
                  <strong>\{{privatemail.subject}}</strong>
                </div>
                <div class="mailtext">\{{privatemail.text}}</div>
              </a>
              <a v-bind:href="getMailId(privatemail.mailid)" class="mailreply"><small>Reply</small></a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="mail">
                <span>
                  <i class="fa fa-envelope"></i>
                  Inbox
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>{{user.name}} <i class="fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-user">
            <li>
              <a href="/mail"><i class="fa fa-envelope fa-fw"></i> Inbox</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
            </li>
            <li>
              <a href="/buymembership"><img src="/img/u_roll_icon1-01.png" style="max-width:16px;"></img> Membership</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <!-- /.navbar-static-side -->

<script>
    vuPrivateMail = new Vue({
      el:'#emailalerts',
      data: {
        faIconMailClass: 'fa fa-envelope fa-fw',
        notices: [],
        active: false,
        initialise: false,
        noticecount: '',
        noticeclass: '',
				privatemails: []
      },
      methods: {
        showUserPrivateMails: function() {
          const mergeDate = function(obj) {
            return R.merge({
              momentdate: moment(R.prop(obj, 'date')).format('D MMM YY @ h:mm a')
            }, obj);
          };

          $.ajax({
            type: "GET",
            url: "/api/v1/accounts/{{user.email}}/privatemails",
            dataType: "json",
            data: {type:'new'},
            cache: false
          }).done(function(x) {

            // mailMessage :: s -> s
            const mailMessage = function(name) {
              return name + ' has sent you Roll for Group mail';
            }

            // lastNotifyText :: [a] -> s
            const lastNotifyText = R.compose(
              vuNotify.notifyUser,
              mailMessage,
              R.prop('name'),
              R.head
            );

            // notify user
            if (vuPrivateMail.initialise) {
              if (vuPrivateMail.noticecount != x.noticecount) {
                lastNotifyText(x.privatemails);
              };
            } else {
              vuPrivateMail.initialise = true;
            }

            vuPrivateMail.faIconMailClass = x.faIconMailClass;
            vuPrivateMail.privatemails = R.map(mergeDate, x.privatemails);
            vuPrivateMail.noticecount = x.noticecount;
            vuPrivateMail.noticeclass = x.noticeclass;
          })
        },
        getMailId: function(id) {
          return 'mail?mailid=' + id;
        }
      }
    });
    vuNotify = new Vue({
      el:'#navalerts',
      data: {
        faIconNotifyClass: 'fa fa-bell fa-fw',
        notices: [],
        active: false,
        initialise: false,
        noticecount: '',
        noticeclass: ''
      },
      methods: {
        notifyUser : function(message) {

          // Let's check if the browser supports notifications
          if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
          }

          // Let's check whether notification permissions have already been granted
          else if (Notification.permission === "granted") {
            // If it's okay let's create a notification
            var notification = new Notification(message);
          }

          // Otherwise, we need to ask the user for permission
          else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(function (permission) {
              // If the user accepts, let's create a notification
              if (permission === "granted") {
                var notification = new Notification(message);
              }
            });
          }

          // At least, if the user has denied notifications, and you 
          // want to be respectful there is no need to bother them any more.

        },
        showUserNotifications: function() {
          $.ajax({
            type: "GET",
            url: "/api/v1/accounts/{{user.email}}/notifications",
            dataType: "json",
            data: {},
            cache: false
          }).done(function(x) {

            // lastNotifyText :: [a] -> s
            const lastNotifyText = R.compose(
              vuNotify.notifyUser,
              R.prop('text'),
              R.head
            );

            // notify user
            if (vuNotify.initialise) {
              if (vuNotify.noticecount != x.noticecount) {
                lastNotifyText(x.notices);
              };
            } else {
              vuNotify.initialise = true;
            }

            vuNotify.faIconNotifyClass = x.faIconNotifyClass;
            vuNotify.notices = x.notices;
            vuNotify.noticecount = x.noticecount;
            vuNotify.noticeclass = x.noticeclass;

            // usermoji :: {u} => s 
            const usermoji = function(users) {
              return ((typeof vuUsers != "undefined") && R.has('emojiview', vuUsers)) ? vuUsers.emojiview : '';
            };

            // usernotices :: n -> s
            const usernotices = function(noticecount) {
              return (noticecount == 0) ? '' : "(" + noticecount + ") ";
            };

            document.title = usernotices(x.noticecount) + "{{#if webtitle}}{{webtitle}}{{else}}Roll for Group - Meet up and get your game group rolling{{/if}}"

          })
        },
        readNotification: function(noteId, url, newTab) {
          $.ajax({
            type: "PATCH",
            url: "/api/v1/accounts/{{user.email}}/notifications/" + noteId,
            dataType: "json",
            data: {status: "read"},
            cache: false
          }).done(function(x) {
            if (newTab) {
              window.open(url, '_blank');
            } else {
              window.location.href = url;
            }
          })
        },
        readNotifications: function() {
          $.ajax({
            type: "PATCH",
            url: "/api/v1/accounts/{{user.email}}/notifications",
            dataType: "json",
            data: {status: "read"},
            cache: false
          }).done(function(x) {
            vuNotify.faIconNotifyClass = 'fa fa-bell fa-fw';
            vuNotify.notices = [];
            vuNotify.noticecount = '';
            vuNotify.noticeclass = '';
          }).fail(function(err) {
            window.location.href = 'login';
          })
        }
      }
    }); 

    $(document).ready(function() {
      vuNotify.showUserNotifications();
      vuPrivateMail.showUserPrivateMails();
    });

    // fix the setIntervals
    window.setInterval(function() {
      vuNotify.showUserNotifications();
      vuPrivateMail.showUserPrivateMails();
    }, 20000);

</script>


{{/if}}

</nav>

{{#if navigation.nouser}}
{{else}}
<nav class="navbar navbar-default navbar-second" role="navigation" style="margin-bottom: 0">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-top-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-top-collapse" >
      <ul class="nav navbar-nav">
          {{#each navbarul.li}}
          <li {{#if activeclass}}class="active"{{/if}}>
            <a href="{{a.link}}" class="navtabs">{{a.text}}</a>
          </li>
          {{/each}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{/if}}
