<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="RollForGroup" src="/img/rfg-logo-whiteglow-32.png" />
            </a>
        </div>
        <!-- /.navbar-header -->

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-top-links navbar-right">

                <li><a href="/docs/hostevent.html">Support</a></li>
                <li><a href="/hosting">Host Event</a></li>
                <li><a href="/collection">Create Collection</a></li>
                <li><a href="/events">Find Players</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>

           </ul>
        </div>
        <!-- /.collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
