      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav nav-pills">
              <li role="presentation">
                <a href="/players"><i class="fa fa-map-marker"></i> Nearby</a>
              </li>
              <li role="presentation">
                <a href="/lounge"><i class="fa fa-comments"></i> Chat</a>
              </li>
              <li role="presentation">
                <a href="/mail"><i class="fa fa-envelope"></i> Mail</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
