    <!-- Top content -->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
            <!-- questions on the left -->

              {{#each sections}}
              <form id="sections" method="post" action="/stage" role="form">

                {{>form-header}}

                <div class="form-bottom">
                  {{#each questions}}
                  <fieldset class="form-group" {{#if fieldsetid}}id="{{fieldsetid}}"{{/if}}>
                    {{>form-select}}
                    {{>form-checkbox}}
                    {{>form-textinput}}
                    {{>form-textarea}}
                    {{>form-imageupload}}
                    {{>form-timerange}}
                    {{>form-hiddeninput}}
                    {{>form-maplocation}}
                    {{>form-datepicker}}
                    {{>form-slider}}
                  </fieldset>
                  {{/each}}
                </div>

                {{#if nosubmit}}
                {{else}}
                <fieldset class="form-bottom">
                  <button type="submit" name="nextstage" class="btn btn-default btn-xl btn-link-1 btn-form pull-right card-2">Next <i class="fa fa-arrow-circle-right"></i></button>
                </fieldset>
                {{/if}}

              </form>
              {{#if nosubmit}}
              <div>
                <fieldset class="form-bottom">
                  <button id="nextverify" name="nextverifydeleteme" class="btn btn-default btn-xl btn-link-1 btn-form pull-right card-2">Next <i class="fa fa-arrow-circle-right"></i></button>
                </fieldset>
              </div>
              {{/if}}
              <div class="form-bottom-image col-xs-12">
                <img class="col-xs-12" src="{{canvas}}" />
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
