      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav nav-pills">
              <li role="presentation">
                <a href="findmatch"><i class="fa fa-map-marker"></i> Nearby</a>
              </li>
              <li role="presentation">
                <a href="schedule"><i class="fa fa-calendar"></i> Schedule</a>
              </li>
              <li role="presentation">
                <a href="history"><i class="fa fa-history"></i> Played</a>
              </li>
              <li role="presentation">
                <button id="hostgame" class="btn btn-primary navbar-btn navbar-right">Host Event</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
