<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{#if metadescription}}{{metadescription}}{{else}}Roll for Group is the meet up site to find board gamers and play board games.{{/if}}">
    <meta name="author" content="Jaie Demaagd">

    <title>{{#if webtitle}}{{webtitle}}{{else}}Roll for Group - Meet up and get your game group rolling{{/if}}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-clockpicker.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css" type="text/css">
    <link rel="stylesheet" href="/css/iThing.css" type="text/css">


    {{#each css}}
    <link rel="stylesheet" href="{{csshref}}" type="text/css">
    {{/each}}

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--
    <link rel="stylesheet" href="/css/form-elements.css">
    <link rel="stylesheet" href="/css/style.css">
    -->

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/creative.css?version=1.9.4" type="text/css">

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/form-elements.css">

    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/timeline.css?version=0.1" rel="stylesheet">
    <link href="/css/sb-admin-2.css?version=0.402" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<!-- Custom CSS
    <link rel="stylesheet" href="/css/style.css">
-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/css/jquery.mThumbnailScroller.css" type="text/css">

    <link href="/css/jquery-ui.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/vis-timeline-graph2d.min.js"></script>
    <script src="/js/vis-network.min.js"></script>

    {{#if navigation.nouser}}
    <!-- Open graph data -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:site" content="https://www.rollforgroup.com" />
    <meta property="og:url" content="https://www.rollforgroup.com/events/{{key}}" />
    <meta property="og:site_name" content="Roll for Group" />
    <meta property="og:description" content="{{host.name}} invites you to play. Click the link for time and location details." />
    {{#if image}}<meta property="og:image" content="{{image}}" />{{/if}}
    <meta property="fb:app_id" content="394936304217742" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rollforgroup" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{host.name}} invites you to play. Click the link for time and location details." />
    <meta name="twitter:image" content="{{thumbnail}}" />
    {{/if}}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{>analytics}}

</head>

<body id="page-top">

	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  appId            : '394936304217742',
		  autoLogAppEvents : true,
		  xfbml            : true,
		  version          : 'v2.9'
		});
		FB.AppEvents.logPageView();
	  };

	  (function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

    {{{body}}}

</body>
</html>
