<div class="sidenav">
	<span class="catchphrase navbar-brand"><a href="../home"><img src="../img/rfg-logo-whiteglow-32.png" alt="Roll for group match making user manual" /> Roll for Group</a></span>
	<ul>
		<li><a href="../home">Home</a></li>
		<li><a href="../login">Log In</a></li>
		<li><a href="../signup">Sign Up</a></li>
	</ul>

	<h5>Documentation</h5>
	<ul class="nav navbar-top-links navbar-right">
		<li>Hosting</li>
		<ul>
			<li><a href="hostevent.html">Host an Event</a></li>
			<li><a href="addgameevent.html">Add Board Games</a></li>
			<li><a href="inviteevent.html">Invite Players</a></li>
			<li><a href="joinevent.html">Join an Event</a></li>
			<li><a href="votingevent.html">Suggest and Vote for Games</a></li>
		</ul>

		<li>User Account</li>
		<ul>
			<li><a href="useraccount.html">Create Account</a></li>
			<li><a href="userforgotpassword.html">Password Recovery</a></li>
			<li><a href="userlinkbgg.html">Link BoardgameGeek Account</a></li>
		</ul>
		<li>Premium</li>
		<ul>
			<li><a href="membership.html">Membership</a></li>
			<li><a href="premiumgems.html">Gems</a></li>
			<li><a href="linkcalendar.html">Link Calendar</a></li>
		</ul>
	</ul>
</div>

<div id="main">
