<hr>
<footer>
    <div class="container-fluid">
        <div class="col-sm-offset-2 col-sm-5">
            <h4 class="docs-footer">Roll for Group</h4>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="/docs/hostevent.html">Documentation</a></li>
                <li><a href="privacy">Privacy Policy and Terms of Service</a></li>
            </ul>

            <h4 class="docs-footer">Head Office</h4>
            <p>Wollongong, NSW 2500, Australia</p>
        </div>
        <div class="col-sm-3">
            <h4 class="docs-footer">Contact</h4>

            <h5 class="docs-footer">Email</h5>
            <p><i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i>
            <a href="mailto:gaming@rollforgroup.com">gaming@rollforgroup.com</a></p>
            
            <h5 class="docs-footer">Mail</h5>
            <p>PO Box 465 Unanderra, NSW 2526, Australia</p>
            
        </div>
    </div>
</footer>

</div>

