{{>plainheader}}

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Roll for Group - Find Your Board Game Match</h2>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">Mission Statement</h2>
        <p>To make board gaming an accessible and enjoyable fun experience for everyone.</p>
        <h2 class="section-heading">Vision Statement</h2>
        <p>To become the most reliable place for organising quality modern board gaming events, by being an accessible global meeting place anybody can use, designed to meet the specific needs of the board game community in a user friendly and convenient way.</p>
      </div>
      <div class="col-md-2 text-center">
        <img src="img/rfg-logo-whiteglow-64.png">
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">Values</h2>
        <p><b>Accessibility - </b>to increase the accessibility of modern board gaming to all people.</p>
        <p><b>Community - </b>to be community driven, and help grow the board game community.</p>
        <p><b>Fun - </b>enable people to have, enjoy and prioritise fun experiences.</p>
     </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="section-heading">Our Services Road Map</h2>
        <div class="col-sm-6">
          <h3>Voyage</h3>
          <p>For players who want to find people to play board games.</p>
          <ul>
            <li>Help board gamers find each other in their local area.</li>
            <li>Advertise and view local board game events in your local area.</li>
            <li>Find and meet local board gamers with similar interests.</li>
            <li>Find a boardgame match when travelling out of your area.</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Bounty</h3>
          <p>For players who want to manage their private board game group.</p>
          <ul>
            <li>Manage your boardgame group.</li>
            <li>Easily share your boardgame event on facebook or email.</li>
            <li>Collaborative the details of your game, participating players can vote on time, games to play and venue.</li>
            <li>Automate the process of inviting and managing players attendance.</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Lighthouse</h3>
          <p>For players who want to manage their public local board game group.</p>
          <ul>
            <li>Manage your boardgame group.</li>
            <li>Automate publication of your events on facebook, twitter and meetup.</li>
            <li>Promote your group, and invite new local players to your group.</li>
            <li>Allow players to organise heavier games at your meet up, by organising details ahead of time.</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Harbor</h3>
          <p>For board game conventions.</p>
          <ul>
            <li>Automates and provides a self-service board game match scheduling for convention attendees.</li>
            <li>Facilitate heavier games that require larger times to play at your con, by allowing players to confirm participation ahead of time.</li>
            <li>Allow players to advertise games as experienced players, or beginners.</li>
            <li>Increase player participation in your board game convention.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{{>footer}}

<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
