    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div id="wrapper">

        {{>navbars}}

        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"><i class="fa fa-shield fa-fw"></i>Acheivement Showcase</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- questions on the left -->
                <form method="post" action="/stage" role="form">
                {{#each sections}}
                    <div class="form-bottom">
                    {{#each questions}}
                        <fieldset class="form-group" {{#if fieldsetid}}id="{{fieldsetid}}"{{/if}}>
                            {{>form-select}}
                            {{>form-checkbox}}
                            {{>form-textinput}}
                            {{>form-textarea}}
                            {{>form-timerange}}
                            {{>form-hiddeninput}}
                            {{>form-maplocation}}
                            {{>form-datepicker}}
                        </fieldset>
                    {{/each}}
                    </div>
                {{/each}}
                </form>

                <div>
                    <fieldset class="form-bottom">
                        <button id="nextverify" class="btn btn-default btn-xl btn-link-1 btn-form pull-right">Next <i class="fa fa-arrow-circle-right"></i></button>
                    </fieldset>
                </div>
            </div>
       </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{{>footer}}

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>

        <script src="js/moment.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap-datepicker.min.js"></script>
        <script src="js/bootstrap-clockpicker.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>

        <!-- typeahead -->
        <script src="js/typeahead/typeahead.bundle.js"></script>
        <script src="js/ramda.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

        <script>


            var momentify = R.compose(moment, R.join(' '));

            var validatedate = function(inputdate, inputtime) {
                var datetime = momentify([inputdate, inputtime]);
                if (!R.isEmpty(inputtime) && datetime.isValid()) {
                    return datetime.isAfter();

                } else {
                    return false;
                }

            };

            $(document).ready(function() {
                $('.clockpicker').clockpicker({
                    donetext: 'OK'
                });

                $('.datepicker').datepicker({
                    startDate: '+1d'
                });

                $('#nextverify').click(function() {
                    {{#if cancel}}
                    cancelhost();
                    {{else}}
                    hostgame();
                    {{/if}}
                });

            })

        </script>
