
      <link rel="stylesheet" type="text/css" title="Regular Layout" href="/css/admin.css?v=1.0">
      <link rel="stylesheet" type="text/css" title="Regular Layout" href="/css/vis-timeline-graph2d.css">

      {{>navbars}}

      <div v-cloak class="containerx admin">

        <div class="rfglogo32 itemx">
          <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png" alt="RollforGroup" />
          <span class="brandname">Roll for Group</span>
          <span>Admin Stats Panel</span>
        </div>

        <div class="netpromoterscores">
          <div class = "well">
            <span>Net Promoter Score</span>
            <h1>\{{netpromoterscore}}</h1>
          </div>
        </div>
        <div class="promoters">
          <div class = "well">
            <span>Promoters</span>
            <h1>\{{promoters}}</h1>
          </div>
        </div>
        <div class="detractors">
          <div class = "well">
            <span>Detractors</span>
            <h1>\{{detractors}}</h1>
          </div>
        </div>
        <div class="userscount">
          <div class = "well">
            <span>Users</span>
            <h1>\{{userscount}}</h1>
          </div>
        </div>

        <div class="monthlyusercount">
          <span>User Count</span>
          <div id="visualization"></div>
        </div>

        <div class="whymanagemyevent">
          <div class = "well">
            <span>Manage my Event</span>
            <h1>\{{whymanagemyevent}}</h1>
          </div>
        </div>
        <div class="whyfindlocalgamers">
          <div class = "well">
            <span>Find Local Gamers</span>
            <h1>\{{whyfindlocalgamers}}</h1>
          </div>
        </div>
        <div class="whyfindlocalevents">
          <div class = "well">
            <span>Find Local Events</span>
            <h1>\{{whyfindlocalevents}}</h1>
          </div>
        </div>
        <div class="whymanageboardgames">
          <div class = "well">
            <span>Manage Boardgame</span>
            <h1>\{{whymanageboardgames}}</h1>
          </div>
        </div>


        <div class="newfooter">
          <span id="about"><a href="about" class="terms">About</a></span>
          <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
          <span id="privacy"><a href="privacy" class="terms">Terms &amp; Conditions</a></span>
        </div>

      </div>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src = "/js/ramda.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/moment.js"></script>
    <script src="/js/creative.js"></script>
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/scripts.js"></script>

    <!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
    <![endif]-->

    <script src="/js/admin.js?v=0.4"></script>

    <script>
      vuAdmin.loadDataset();
      vuAdmin.loadHistoricDataset();
    </script>
