    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div id="wrapper">

      {{>navbars}}

        <div id="maincontent" class="container-fluid">

            <div class="row" id="listhead">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        <i class="fa fa-book"></i> Your Library Bookings
                    </h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>

{{>headerbuttons}}

            {{#each warnings}}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-{{bstrapclass}} card-1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-1 text_{{bstrapclass}}">
                                    <i class="fa {{panelrow.faicon}} fa-2x"></i>
                                </div>
                                <div class="col-xs-9">
                                    {{panelrow.text}} 
                                    {{#if panelrow.input}}
                                    <input id="{{panelrow.input.id}}" class="{{panelrow.input.class}}" placeholder="{{panelrow.input.placeholder}}"></input>
                                    {{/if}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-2">
                                        <button id="{{panelrow.button.id}}" class="btn btn-{{bstrapclass}}">{{panelrow.button.text}} <i class="fa {{panelrow.button.faicon}}"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {{/each}}

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default card-1">
                        <div class="panel-heading">
                            <i class="fa fa-book fa-fw"></i> Your Reservations 
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body">
                            <a href="eventslibrary?event={{event.pageslug}}"><button name="reserve" class="btn btn-primary card-1">Reserve Game </button></a>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="gamelist">
                                <thead>
                                    <tr>
                                        <th>Cover</th>
                                        <th>Boardgame</th>
                                        <th>Day</th>
                                        <th>Pickup Time</th>
                                        <th>Return Time</th>
                                        <th>Booking Code</th>
                                        <th>Players</th>
                                        <th>Recommended Play Time</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each bookings}}
                                        <tr id="row{{id}}">
                                            <td><a href="http://www.boardgamegeek.com/boardgame/{{id}}"><img src="{{thumbnail}}" class="media-object center-block img-responsive" style="max-height:64px"></img></a></td>
                                            <td><a href="http://www.boardgamegeek.com/boardgame/{{id}}">{{name}}</a></td>
                                            <td><span class="formatdate" data-bookingdate="{{date}}">Booking Date</span></td>
                                            <td><span class="formattime" data-bookingdate="{{date}}">Booking Pickup</span></td>
                                            <td><span class="formattime" data-bookingdate="{{timeend}}">Booking Return</span></td>
                                            <td><span class="bookingcode" data-bookingcode="{{code}}">Booking Code</span></td>
                                            <td>{{minplayers}}-{{maxplayers}} <i class = "fa fa-users"></i></td>
                                            <td><i class = "fa fa-clock-o"></i> {{minplaytime}}-{{maxplaytime}} mins</td>
                                            <td><button class="btn btn-warning cancelbooking" data-bookingcode="{{code}}">Cancel Booking</button></td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>


    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/ramda.min.js"></script>

    <script src="js/ramda.min.js"></script>

    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <script>
      
    const showCode = R.compose(R.toUpper, R.slice(2, 8)); 

    var revoke = function(code) {
        $.ajax({
            type: "DELETE",
            url: "/api/v1/events/{{event.pageslug}}/bookings",
            dataType: "json",
            data: {
                user: '{{user.email}}',
                code: code 
            },
            cache: false
        }).done(function(x) {
            window.location.href = "/booking?event={{event.pageslug}}"

        }).fail(function(err) {
            alert(JSON.stringify(err));
            alert('An error occured while trying to cancel booking, please ensure you are logged in and try again.');
        })
    };

    $(document).ready(function() {

        $('.formatdate').each(function(item) {
            $(this).text(moment( $(this).data('bookingdate') ).format('Do MMM YYYY') );
        })

        $('.formattime').each(function(item) {
            $(this).text(moment( $(this).data('bookingdate') ).format('h:mm a') );
        })

        $('.bookingcode').each(function(item) {
            $(this).text( showCode( $(this).data('bookingcode') ));
        })

        $('.cancelbooking').on('click', function(item) {
            if (confirm("Are you sure you want to cancel this booking?"))
                revoke($(this).data('bookingcode'));

        })

        $('#hostgame').on('click', function(event) {
            window.location.href = "/hostgame";
        }); 

        $('#hostgameconv').on('click', function(event) {
            window.location.href = "/hostgame?event=lfgaustralia2017";
        }); 

    });

    </script>

<!--
</body>
-->
