<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div id="wrapper">
    {{>navbars}}
    <div id="maincontent" class="container-fluid">
        <div class="container-fluid">

            <!--<div class="full-page-wrapper">-->

            <!-- questions on the left -->
            <form method="post" action="/stage" role="form">


                {{#each sections}}
                <div class="form-bottom">
                    {{#each questions}}
                    <fieldset class="form-group" {{#if fieldsetid}}id="{{fieldsetid}}"{{/if}}>
                        {{>form-imagehiddenid}}
                        {{>form-select}}
                        {{>form-checkbox}}
                        {{>form-textinput}}
                        {{>form-textarea}}
                        {{>form-timerange}}
                        {{>form-textinputimage}}
                        {{>form-hiddeninput}}
                        {{>form-maplocation}}
                        {{>form-datepicker}}
                    </fieldset>
                    {{/each}}
                </div>
                {{/each}}
            </form>

            <div>
                <fieldset class="form-bottom">
                    <button id="nextverify" class="btn btn-default btn-xl btn-link-1 btn-form card-2">Book Game <i class="fa fa-arrow-circle-right"></i></button>
                </fieldset>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default card-1">
                        <div class="panel-heading">
                            <i class="fa fa-book fa-fw"></i> Reservations 
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body"></div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="gamelist">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Pickup Time</th>
                                        <th>Return Time</th>
                                        {{#if event.isadmin}}
                                        <th>Booking Code</th>
                                        <th>User</th>
                                        <th>Action</th>
                                        {{/if}}
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#if event.isadmin}}
                                    {{#each bookings}}
                                        <tr id="row{{id}}">
                                            <td><span class="formatdate" data-bookingdate="{{date}}">Booking Date</span></td>
                                            <td><span class="formattime" data-bookingdate="{{date}}">Booking Pickup</span></td>
                                            <td><span class="formattime" data-bookingdate="{{timeend}}">Booking Return</span></td>
                                            <td><span class="bookingcode" data-bookingcode="{{code}}">Booking Code</span></td>
                                            <td><span class="bookingemail" data-bookingemail="{{email}}">Booking Email</span></td>
                                            {{#if button}}<td><button class="{{button.class}}" data-bookingcode="{{code}}" data-gameid="{{gameid}}" data-newstatus="{{button.datastatus}}">{{button.text}}</button></td>{{/if}}
                                            <td><button class="btn btn-danger cancelbooking" data-bookingcode="{{code}}">Delete</button></td>
                                        </tr>
                                    {{/each}}
                                    {{else}}
                                    {{#each bookings}}
                                        <tr id="row{{id}}">
                                            <td><span class="formatdate" data-bookingdate="{{date}}">Booking Date</span></td>
                                            <td><span class="formattime" data-bookingdate="{{date}}">Booking Pickup</span></td>
                                            <td><span class="formattime" data-bookingdate="{{timeend}}">Booking Return</span></td>
                                        </tr>
                                    {{/each}}
                                    {{/if}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->


        </div>
   </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{{>footer}}

            <!-- Plugin JavaScript -->
            <script src="js/jquery.easing.min.js"></script>
            <script src="js/jquery.fittext.js"></script>
            <script src="js/wow.min.js"></script>

            <script src="js/moment.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap-datepicker.min.js"></script>
            <script src="js/bootstrap-clockpicker.min.js"></script>
            <script src="js/bootstrap-select.min.js"></script>

            <!-- typeahead -->
            <script src="js/typeahead/typeahead.bundle.js"></script>
            <script src="js/ramda.min.js"></script>

            <!-- Custom Theme JavaScript -->
            <script src="js/creative.js"></script>
            <script src="js/jquery.backstretch.min.js"></script>
            <script src="js/scripts.js"></script>

            <!--[if lt IE 10]>
                <script src="assets/js/placeholder.js"></script>
            <![endif]-->

            <script>

                var momentify = R.compose(moment, R.join(' '));

                var validatedate = function(inputdate, inputtime) {
                    var datetime = momentify([inputdate, inputtime]);
                    if (!R.isEmpty(inputtime) && datetime.isValid()) {
                        return datetime.isAfter();

                    } else {
                        return false;
                    }

                };

                var revoke = function(code) {
                    $.ajax({
                        type: "DELETE",
                        url: "/api/v1/events/{{event.pageslug}}/bookings",
                        dataType: "json",
                        data: {
                            user: '{{user.email}}',
                            code: code 
                        },
                        cache: false
                    }).done(function(x) {
                        window.location.href = "/booking?event={{event.pageslug}}&gameid=" + $('#gameid').val();

                    }).fail(function(err) {
                        alert(JSON.stringify(err));
                        alert('An error occured while trying to cancel booking, please ensure you are logged in and try again.');
                    })
                };

                {{#if event.isadmin}}
                var checkin = function(gameid, code, status) {
                    $.ajax({
                        type: "PATCH",
                        url: "/api/v1/events/{{event.pageslug}}/bookings",
                        dataType: "json",
                        data: {
                            user: '{{user.email}}',
                            gameid: gameid,
                            code: code,
                            status: status 
                        },
                        cache: false
                    }).done(function(x) {
                        window.location.href = "/booking?event={{event.pageslug}}&gameid=" + $('#gameid').val();

                    }).fail(function(err) {
                        alert(JSON.stringify(err));
                        alert('An error occured while updating the booking, please ensure you are logged in and try again.');
                    })
                };
                {{/if}}

                $(document).ready(function() {
                    $('.clockpicker').clockpicker({
                        placement: 'top',
                        donetext: 'OK'
                    });

                    $('.datepicker').datepicker({
                        startDate: '07/07/2017',
                        endDate: '07/09/2017'
                    });

                    $('#nextverify').click(function() {
                        {{#if cancel}}
                        cancelhost();
                        {{else}}
                        bookevent();
                        {{/if}}
                    });

                    $('.formatdate').each(function(item) {
                        $(this).text(moment( $(this).data('bookingdate') ).format('Do MMM YYYY') );
                    })

                    $('.formattime').each(function(item) {
                        $(this).text(moment( $(this).data('bookingdate') ).format('h:mm a') );
                    })

                    $('.bookingcode').each(function(item) {
                        $(this).text( showCode( $(this).data('bookingcode') ));
                    })

                    $('.bookingemail').each(function(item) {
                        $(this).text( $(this).data('bookingemail') );
                    })

                    $('.cancelbooking').on('click', function(item) {
                        if (confirm("Are you sure you want to cancel this booking?"))
                            revoke($(this).data('bookingcode'));
                    })

                    {{#if event.isadmin}}
                    $('.checkin').on('click', function(item) {
                        if (confirm("Are you sure you want to update this booking?"))
                            checkin($(this).data('gameid'), $(this).data('bookingcode'), 'returned');
                    })

                    $('.checkout').on('click', function(item) {
                        if (confirm("Are you sure you want to update this booking?"))
                            checkin($(this).data('gameid'), $(this).data('bookingcode'), 'inuse');
                    })

                    {{/if}}

                });

                {{#if cancel}}
                var cancelhost = function() {
                    window.location.href = '/library?event=' + {{event.pageslug}};
                };

                {{else}}

                const showCode = R.compose(R.toUpper, R.slice(2, 8)); 
                var bookevent = function() {

                    const notNil = R.compose(R.not, R.isNil);
                    const notEmpty = R.compose(R.not, R.isEmpty);

                    $("#nextverify").prop('disabled', true);

                    var formdata = {
                        bookingref: '',
                        user: '{{user.email}}',
                        from: momentify([$('#playdate').val(), $('#timestart').val()]).format(), 
                        to: momentify([$('#playdate').val(), $('#timeend').val()]).format(), 
                        gameid: $('#gameid').val()
                    };

                    var senddata = formdata;

                    if (validatedate($('#playdate').val(), $('#timestart').val())) {
                        if (validatedate($('#playdate').val(), $('#timeend').val())) {
                            submitUserData(senddata);

                        } else {
                            alert('Please enter a valid end time');
                            $('#timeF').addClass('has-warning');
                            $('#timeend').focus();
                            $('#nextverify').prop('disabled', false);
                        }

                    } else {
                        alert('Please enter a valid future date and time');
                        if (!moment($('#playdate').val()).isValid()) {
                            $('#playdate').focus();
                        } else {
                            $('#timestart').focus();
                        }
                        $('#nextverify').prop('disabled', false);
                    }


                }

                // sumbitUserData :: JSONObj
                const submitUserData = function(senddata) {
                    $.ajax({
                        type: "POST",
                        url: "/api/v1/events/{{event.pageslug}}/bookings",
                        dataType: "json",
                        data: senddata,
                        cache: false

                    }).done(function(x) {
                        $("#nextverify").prop('disabled', false);
                        {{#if event.isadmin}}
                            window.location.reload();
                        {{else}}
                            window.location.href = '/booking?event={{event.pageslug}}';
                        {{/if}}

                    }).fail(function(err) {
                        alert('Booking could not be created, the game may already be booked for that time');
                        $("#nextverify").prop('disabled', false);

                    });
                };

                {{/if}}

            </script>
