    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src = "js/moment.js"></script>
    <script src = "js/vue.min.js"></script>
    <script src = "js/markdown-it.min.js"></script>

    <div id="wrapper">

        {{>navbars}}

        <div id="top-content" class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
					<div id="header" class="matchheader text-center">
                        <img src="img/premiumbuyer.png" class="wow tada"></img>
                        <h2>Thank you</h2>
                        <p>Your payment has been received!</p> 
					</div> 
                </div>
            </div>
            <!-- /.row -->
        </div>

        <div id="thankyoutips" class="container-fluid">
           <div class="row">
                <div class="col-lg-12">
					<div id="header" class="matchfollowup">

                        <p>Purchasing gems and premium membership helps us keep our servers running, and helps us support the board gaming community.</p>

                        <h2>What Happens Now?</h2>

                        <h3>As a Premium Member</h3>
                        <p>As a paying member, your avatar will stand out from the crowd to show your status as a board gaming. Your  avatar will receive a unique look in player listings, and your text will have a different color when posting comments into events. You will additionally receive new perks as they are released.</p>

                        <h3>Tipping other players</h3>
                        <p>After attending an event with another player, gems can be spent to show your appreciation for another player. The receiving player will receive a notice you have tipped them and will have unlocked premium membership perks for the Roll for Group website. Each gem a premium player receives extends the time they have access to the Roll for Group perks by one month.</p>

                        <h3>Checking your membership status and gem balance</h3>
                        <p>You can check on your membership status and gem balance on your <a href="/users?email={{user.email}}">career page</a>.</p>

					</div> 
                </div>
            </div>
            <!-- /.row -->

       </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{{>footer}}

        <!-- Plugin JavaScript -->
        <script src = "js/jquery.fittext.js"></script>
        <script src = "js/wow.min.js"></script>

        <script src = "js/ramda.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src = "js/creative.js"></script>
        <script src = "js/jquery.backstretch.min.js"></script>
        <script src = "js/scripts.js"></script>


        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

