    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Braintree -->
	<script src="https://js.braintreegateway.com/web/dropin/1.7.0/js/dropin.min.js"></script>

    <div id="wrapper">

        {{>navbars}}

        <div id="maincontent" class="container-fluid">

            <div class="row">
                <div class="col-xs-12 col-lg-8">
                    <h2 class="page-header"><img src="img/u_roll_icon1-01.png" /> Premium Membership</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row" id="vuPayment">
                <!-- questions on the left -->
                <form method="post" action="/stage" role="form"> {{#each sections}}
                    <div class="description"><span>{{label}}</span></div>
                    <div class="form-bottom">
                    {{#each questions}}
                        <fieldset class="form-group" {{#if fieldsetid}}id="{{fieldsetid}}"{{/if}}>
                            {{>form-listgroup}}
                            {{>form-select}}
                            {{>form-checkbox}}
                            {{>form-textinput}}
                            {{>form-textarea}}
                            {{>form-label}}
                            {{>form-image}}
                            {{>form-imageupload}}
                            {{>form-timerange}}
                            {{>form-hiddeninput}}
                            {{>form-maplocation}}
                            {{>form-datepicker}}
                            {{>form-slider}}
                        </fieldset>
                    {{/each}}
                    </div>
                {{/each}}

                </form>

                <div class="col-xs-12 col-lg-8">
					<div id="dropin-container"></div>
				</div>

                <div class="col-xs-12 col-lg-8">
                    <fieldset class="form-bottom">
                        <button id="submit-button" class="btn btn-default btn-xl btn-link-1 btn-form pull-right card-2">Purchase <img src="img/u_roll_icon1-01.png" style="max-width:32px;"/></button>
                    </fieldset>
                </div>

                <div class="col-xs-12 col-lg-8">
					<p class="quote">"We want to help gamers who own board games they love to play, by helping them access other gamers who share their passion. Your purchase will help create something great for the board gaming community."</p>
					<p class="author">~ Jaie Demaagd - Founder of Roll For Group</p>
                </div>

            </div>
       </div>
       <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

	<!-- Modal -->
	<div class="modal fade" id="saved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Profile Updated</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			Your profile has been updated.	
		  </div>
		  <div class="modal-footer">
			<button id="modalok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
		  </div>
		</div>
	  </div>
	</div>

{{>footer}}

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>

        <script src="js/moment.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap-datepicker.min.js"></script>
        <script src="js/bootstrap-clockpicker.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/jQDateRangeSlider-min.js"></script>
        <script src="js/loadingbar/loadingoverlay.min.js"></script>

        <!-- typeahead -->
        <script src="js/typeahead/typeahead.bundle.js"></script>
        <script src="js/ramda.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

        <script>

            var vuPayment = new Vue({
                el: '#vuPayment',
                data: {
                    clienttoken: '',
					selecteditem: {code: 'rfggold-once-12pack', quant: 1},
					onceQuant: 12,
					ongoingQuant: 12,
					creditQuant: 12,
					currency: 'AUD'
                },
                methods: {
                    typeOngoing: function() {
                        $('#container4planonceprice').show();
                        $('#container4planongoingprice').hide();
                        $('#container4plancreditprice').hide();
                    },
                    updateType: function() {
                        if ($('#plantype option:selected').val() == 1) { 
                            $('#container4planonceprice').show();
                            $('#container4planongoingprice').hide();
                            $('#container4plancreditprice').hide();
							vuPayment.clickOnce(vuPayment.onceQuant);

                        } else if ($('#plantype option:selected').val() == 2) {
                            $('#container4planonceprice').hide();
                            $('#container4planongoingprice').show();
                            $('#container4plancreditprice').hide();
							vuPayment.clickOngoing(vuPayment.ongoingQuant);

                        } else if ($('#plantype option:selected').val() == 3) {
                            $('#container4planonceprice').hide();
                            $('#container4planongoingprice').hide();
                            $('#container4plancreditprice').show();
							vuPayment.clickCredit(vuPayment.creditQuant);

                        }
                    }, 
					itemFindClassName: function(baseClassName, quantity) {
						return (quantity >= 12) ? baseClassName + '12pack' + quantity / 12 : baseClassName + quantity;
					},
					buildItem: function(baseItemName, quantity) {
						return (quantity >= 12) ? {code: baseItemName + '-12pack', quant: quantity / 12} : {code: baseItemName, quant: quantity}
					},
                    clickOnce: function(value) {
						$(vuPayment.itemFindClassName('#itemonce', vuPayment.onceQuant)).removeClass('active');
						$(vuPayment.itemFindClassName('#itemonce', value)).addClass('active');
						vuPayment.selecteditem = vuPayment.buildItem('rfggold-once', value);
						vuPayment.onceQuant = value;
                    },
                    clickOngoing: function(value) {
						$(vuPayment.itemFindClassName('#itemongoing', vuPayment.ongoingQuant)).removeClass('active');
						$(vuPayment.itemFindClassName('#itemongoing', value)).addClass('active');
						vuPayment.selecteditem = vuPayment.buildItem('rfggold-ongoing', value);
						vuPayment.ongoingQuant = value;
                    },
                    clickCredit: function(value) {
						$(vuPayment.itemFindClassName('#itemcredit', vuPayment.creditQuant)).removeClass('active');
						$(vuPayment.itemFindClassName('#itemcredit', value)).addClass('active');
						vuPayment.selecteditem = vuPayment.buildItem('rfggold-credit', value);
						vuPayment.creditQuant = value;
                    },
                    getToken: function() {
                        var ajaxCall = $.ajax({
                            type: "GET",
                            url: "/api/v1/accounts/{{user.email}}/purchase",
                            timeout: 10000,
                            dataType: "json",
                            data: {request:'clienttoken'},
                            cache: false
                        });

                        ajaxCall.done(function(result) {
                            vuPayment.clienttoken = result.clienttoken;

							var button = document.querySelector('#submit-button');
							braintree.dropin.create({
								authorization: result.clienttoken,
								container: '#dropin-container',
								paypal: {
									flow: 'vault'
								}
							}, function (createErr, instance) {
							  button.addEventListener('click', function () {
								instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                                    // Show full page LoadingOverlay
                                    $.LoadingOverlay("show", {'z-index': 9999});
									if (requestPaymentMethodErr) {
                                        $.LoadingOverlay("hide");
										alert("Please select a payment method to continue");

									} else {
										var ajaxPurchase = $.ajax({
											type: "POST",
											url: "/api/v1/accounts/{{user.email}}/purchase",
											timeout: 60000,
											dataType: "json",
											data: R.merge({items:[vuPayment.selecteditem]}, payload),
											cache: false
										});

										ajaxPurchase.done(function(result) {
                                            $.LoadingOverlay("hide");
											alert('Your payment was successful');
											window.location.href = "buymembershipthankyou";
										});
										ajaxPurchase.fail(function(e, errortext) {
                                            $.LoadingOverlay("hide");
											alert('Failed to process payment');
										});

									}
								});
							  });
							});

                        });

                        ajaxCall.fail(function(e, errortext) {
                        });

                    }
                }
            });

            const halert = R.curry(function(msg, a) {
                alert('ha:' + msg + "." + JSON.stringify(a));
                return a;
            });

            $('#plantype').change(function() {
                vuPayment.updateType();
            });

            $(document).ready(function() {
                vuPayment.typeOngoing();
                vuPayment.getToken();

                $('#save').on('click', function() {
                    saveProfile();
                });
            });

        </script>


