    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <script src = "js/moment.js"></script>
    <script src = "js/he.js"></script>
    <script src = "js/markdown-it.min.js"></script>
    <script src = "js/markdown-it-emoji.min.js"></script>
    <script src = "js/jquery.textarea_autosize.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{>navbars}}

    <article id="maincontent">

      <nav v-if="showcollections" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav nav-pills">
              <li v-for="collection in collections" role="presentation">
                <a v-bind:href="getCollectionUrl(collection)"><i class="fa fa-cubes"></i> \{{collection.name}}</a>
              </li>
              <li role="presentation">
                <button id="addList" v-on:click="addNewList" class="btn btn-primary navbar-btn"> New List</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="wrapper">
        <div class="container-fluid">
          <div id="collection" class="row">
            <div v-cloak v-if="showCreateList" id="createlist" class="col-lg-12">
              <div v-if="loading" class="loading-table col-xs-12 text-center"><img class="brandlogo32image fa-spin" src="img/rfg-logo-whiteglow-32.png"><br>Importing BGG User</div>

              <p class="form-labels">Create a New Board Game List</p>
              <p class="form-instructable">List name<p>
              <input type="text" id="newTitle" class="form-control" placeholder="List name"></input>
              <p class="form-instructable">Sync Board Game Geek Collection (Optional)<p>
              <div class="input-group">
                <input v-model="bgguser" type="text" id="newBggName" class="form-control" placeholder="bgguser"></input>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    \{{bgglisttext}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" v-on:click="bggList('Own', 'own', 1)">Own (Default)</a></li>
                    <li><a href="#" v-on:click="bggList('Previously Owned', 'prevowned', 1)">Previously Owned</a></li>
                    <li><a href="#" v-on:click="bggList('For Trade', 'fortrade', 1)">For Trade</a></li>
                    <li><a href="#" v-on:click="bggList('Want in Trade', 'want', 1)">Want in Trade</a></li>
                    <li><a href="#" v-on:click="bggList('Want To Play', 'wanttoplay', 1)">Want To Play</a></li>
                    <li><a href="#" v-on:click="bggList('Want To Buy', 'wanttobuy', 1)">Want To Buy</a></li>
                    <li><a href="#" v-on:click="bggList('Preordered', 'wanttobuy', 1)">Preordered</a></li>
                    <li><a href="#" v-on:click="bggList('Wishlist - (1) Must have', 'wishlist', 1)">Wishlist - (1) Must have</a></li>
                    <li><a href="#" v-on:click="bggList('Wishlist - (2) Love to have', 'wishlist', 2)">Wishlist - (2) Love to have</a></li>
                    <li><a href="#" v-on:click="bggList('Wishlist - (3) Like to have', 'wishlist', 3)">Wishlist - (3) Like to have</a></li>
                    <li><a href="#" v-on:click="bggList('Wishlist - (4) Thinking about it', 'wishlist', 4)">Wishlist - (4) Thinking about it</a></li>
                    <li><a href="#" v-on:click="bggList('Wishlist - (5) Don\'t buy this', 'wishlist', 5)">Wishlist - (5) Don't buy this</a></li>
                  </ul>
                </span>
              </div>

              <p class="form-instructable">Description (Uses markdown formatting)<p>

              <div class="btn-group pull-right" role="group">
                <button id="headDesc" type="button" v-on:click="pressHeadDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-header"></i></button>
                <button id="boldDesc" type="button" v-on:click="pressBoldDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-bold"></i></button>
                <button id="italDesc" type="button" v-on:click="pressItalDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-italic"></i></button>
                <button id="quotDesc" type="button" v-on:click="pressQuotDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-quote-right"></i></button>
                <button id="listUlDesc" type="button" v-on:click="pressListUlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ul"></i></button>
                <button id="listOlDesc" type="button" v-on:click="pressListOlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ol"></i></button>
                <button id="linkDesc" type="button" v-on:click="pressLinkDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-external-link"></i></button>
                <button id="imagDesc" type="button" v-on:click="pressImagDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-picture-o"></i></button>
                <button id="ytubeDesc" type="button" v-on:click="pressYtubeDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-youtube"></i></button>
                <button id="helpDescription" type="button" v-on:click="formatHelp" class="btn btn-default btn-sm">Format Help <i class="fa fa-file-text-o"></i></button>
              </div>
              <!-- btn-group pull-right -->

              <textarea type="text" id="newDescription" class="form-control" rows="10" placeholder="List description"></textarea>
              <p class="form-instructable"><p>

              <button v-on:click="createList" id="newSubmit" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Create</button>
              <button v-if="activeListLoaded" v-on:click="cancelNew" id="newCancel" class="btn btn-default btn"><i class="fa fa-times"></i></button>


            </div>
            <!-- createlist -->

            <div v-if="!showCreateList" id="viewcollection" class="col-lg-12">
              <div class="row">
                <div class="col-lg-12" id="divname">
                  <h2 class="page-header"><img v-if="showTitle" class="brandlogo32image" src="img/rfg-logo-whiteglow-32.png">
                    <span v-if="showTitle">\{{name}}</span> 
                    <button v-if="showEdit&&showAdmin" v-on:click="editTitle" id="editTitle" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <input type="text" v-if="showSave" id="textTitle" class="form-control" v-bind:placeholder="name" v-bind:value="name"></input>
                    <button v-if="showSave" v-on:click="saveTitle('{{collectionid}}')" id="saveTitle" class="btn btn-default btn-success btn-sm"><i class="fa fa-floppy-o"></i> Save</button>
                    <button v-if="showSave" v-on:click="cancelTitle" id="cancelTitle" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                  </h2>
                </div>
                <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->

              <div class="row matchdescription">
                <div v-if="showDesc" v-bind:data-render="description" id="notes"></div>

                <div class="col-xs-12">
                  <!-- notes -->

                  <div class="btn-group pull-right" role="group">
                    <button v-if="showSaveDesc" id="headDesc" v-on:click="pressHeadDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-header"></i></button>
                    <button v-if="showSaveDesc" id="boldDesc" v-on:click="pressBoldDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-bold"></i></button>
                    <button v-if="showSaveDesc" id="italDesc" v-on:click="pressItalDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-italic"></i></button>
                    <button v-if="showSaveDesc" id="quotDesc" v-on:click="pressQuotDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-quote-right"></i></button>
                    <button v-if="showSaveDesc" id="listUlDesc" v-on:click="pressListUlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ul"></i></button>
                    <button v-if="showSaveDesc" id="listOlDesc" v-on:click="pressListOlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ol"></i></button>
                    <button v-if="showSaveDesc" id="linkDesc" v-on:click="pressLinkDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-external-link"></i></button>
                    <button v-if="showSaveDesc" id="imagDesc" v-on:click="pressImagDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-picture-o"></i></button>
                    <button v-if="showSaveDesc" id="ytubeDesc" v-on:click="pressYtubeDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-youtube"></i></button>
                    <button v-if="showSaveDesc" id="helpDescription" v-on:click="formatHelp" class="btn btn-default btn-sm">Format Help <i class="fa fa-file-text-o"></i></button>
                  </div>
                  <!-- btn-group pull-right -->

                  <textarea v-if="showSaveDesc" type="text" id="textDescription" class="form-control" rows="10">\{{description}}</textarea>

                  <button v-if="showEditDesc&&showAdmin" v-on:click="editDescription" id="editDesc" class="btn btn-default btn-sm pull-right"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  <button v-if="showSaveDesc" v-on:click="saveDescription('{{collectionid}}')" id="saveDesc" class="btn btn-default btn-success btn-sm"><i class="fa fa-floppy-o"></i> Save</button>
                  <button v-if="showSaveDesc" v-on:click="cancelDescription" id="cancelDesc" class="btn btn-default btn-sm" v-on:click="cancelDescription"><i class="fa fa-times"></i></button>

                </div>
                <!-- /.col-xs-12 -->

              </div>
              <!-- /.row matchdescription -->
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
              <p class="statsbar">
                <span class="text-gray">\{{viewcount}} views</span>
                
                <a v-on:click="findRandomGame()" onmouseover="" style="cursor: pointer;"><span class="text-gray-underline"><img id="random" src="img/rfg-logo-whiteglow-16.png"></img> pick one</span></a>
                <a v-if="activeListLoaded" v-on:click="shareVisible" onmouseover="" style="cursor: pointer;"><span class="text-gray-underline"><i class="fa fa-share-alt"></i> share</span></a>
                <a v-on:click="updatebgg('{{collectionid}}')" v-if="validateText(bgguser) && showAdmin" onmouseover="" style="cursor: pointer;"><span class="text-gray-underline"><i id="updatespin" v-bind:class="updatespinclass"></i> sync</span></a>

              </p>
            </div>
          </div>

          <div v-cloak v-if="showRandomGame" id="random" class="row">
            <div class="col-lg-12">
              <div class="panel panel-default card-1" id="gamespanel">
                <div class="panel-heading">
                </div>

                <table class="table table-hover table-striped">
                  <tr>
                    <th>Cover</th>
                    <th class="gamelisttitle">Name</th>
                    <th class="gamelisttitle">Description (from BoardGameGeek)</th>
                    <th class="gamelisttitle">Players</th>
                    <th class="gamelisttitle">Play Time</th>
                    <!--
                    <th v-if="showAdmin" class="hide-small-screen">Actions</th>
                    -->
                  </tr>

                  <tr v-for="game in gamesRandom">
                    <td>
                      <a v-bind:href="bgglink(game.id)" target="_blank"><img v-bind:src="game.thumbnail" class="media-object center-block img-responsive" style="max-height:64px"></img></a>
                    </td>
                    <td><a v-bind:href="bgglink(game.id)" target="_blank">\{{game.name}}</a></td>
                    <td>
                      <span v-html="decodeDescription(game.description)"></span>
                    </td>
                    <td>
                      \{{game.minplayers}}-\{{game.maxplayers}} 
                      <span v-for="playercount in game.playercounts" v-if="playercount.status==='Best'" class="vutips label label-info" v-bind:title="'Best Played With ' + playercount.playercount">\{{playercount.playercount}}</span>
                    </td>
                    <td>
                      <i class = "fa fa-clock-o"></i> \{{game.minplaytime}}-\{{game.maxplaytime}} mins
                      <p v-if="game.weight">
                        <span v-bind:class="classifyWeight(game.weight)" v-bind:title="titleWeight(game.weight)">\{{labelfyWeight(game.weight)}}</span>
                      </p>
                    </td>
                  </tr>

                  <div v-if="randomspin" class="loading-table col-xs-12 text-center">
                    <img class="brandlogo32image fa-spin" src="img/rfg-logo-whiteglow-32.png"> Picking a game ...
                  </div>

                </table>
              </div>
            </div>
          </div>

          <div v-if="activeListLoaded && showShare" id="sharepanel" class="row">
            <div class="col-lg-12">
              <div class="panel panel-default card-1">
                <div class="panel-heading">
                  <span>Share List</span>
                </div>
                <div class="panel-body">
                  <label for="clipboard" class="share-label">Share this list by sending the link below to other players</label>
                  <div class="input-group">
                    <span class="input-group-btn" id="clipboard">
                      <button class="btn btn-default" type="button" v-on:click="copy('sharelink')"><i class="fa fa-clipboard"></i> Copy</button>
                    </span>
                    <input type="text" id="sharelink" class="form-control" name="link" value="https://www.rollforgroup.com/collection?id={{collectionid}}" readonly></input>
                  </div>
                  <label for="clipboard" v-if="showAdmin" class="share-label">Save this link to administrate this list</label>
                  <div class="input-group" v-if="showAdmin">
                    <span class="input-group-btn" id="clipboard">
                      <button class="btn btn-default" type="button" v-on:click="copy('shareadminlink')"><i class="fa fa-clipboard"></i> Copy</button>
                    </span>
                    <input type="text" id="shareadminlink" class="form-control" name="link" value="https://www.rollforgroup.com/collection?id={{collectionid}}&adminkey={{adminkey}}" readonly></input>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default card-1">
                <div class="panel-heading">
                  <span>Filter Games</span>
                </div>
                <div class="panel-body">
                  <div class="col-sm-3">
                    <label class="share-label">Best with</label>
                    <span v-if="errBestWith" class="label label-warning">Players should be numeric</span>
                    <div class="input-group">
                      <input type="text" v-on:keyup="runFilter()" class="form-control" aria-label="..." placeholder="#" v-model="filterBestWith">
                      <span class="input-group-addon" id="basic-addon3">players</span>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <label class="share-label">Supports</label>
                    <span v-if="errPlays" class="label label-warning">Players should be numeric</span>
                    <div class="input-group">
                      <input type="text" v-on:keyup="runFilter()" class="form-control" aria-label="..." placeholder="#" v-model="filterPlays">
                      <span class="input-group-addon" id="basic-addon3">players</span>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <label class="share-label">Min Time</label>
                    <span v-if="errMinTime" class="label label-warning">Minutes should be numeric</span>
                    <div class="input-group">
                      <input type="text" v-on:keyup="runFilter()" class="form-control" aria-label="..." placeholder="#" v-model="filterMinTime">
                      <span class="input-group-addon" id="basic-addon3">minutes</span>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <label class="share-label">Max Time</label>
                    <span v-if="errMaxTime" class="label label-warning">Minutes should be numeric</span>
                    <div class="input-group">
                      <input type="text" v-on:keyup="runFilter()" class="form-control" aria-label="..." placeholder="#" v-model="filterMaxTime">
                      <span class="input-group-addon" id="basic-addon3">minutes</span>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <label class="share-label">Complexity</label>
                    <div class="button-group">

                      <button v-on:click="toggleFilterCpxLight" v-bind:class="filterClassGreen(filterCpxLight)">Light</button>
                      <button v-on:click="toggleFilterCpxMedLight" v-bind:class="filterClassGreen(filterCpxMedLight)">Med Light</button>
                      <button v-on:click="toggleFilterCpxMedium" v-bind:class="filterClass(filterCpxMedium)">Medium</button>
                      <button v-on:click="toggleFilterCpxMedHeavy" v-bind:class="filterClassOrange(filterCpxMedHeavy)">Med Heavy</button>
                      <button v-on:click="toggleFilterCpxHeavy" v-bind:class="filterClassOrange(filterCpxHeavy)">Heavy</button>

                    </div><!-- /input-group -->
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div v-if="!showCreateList" class="row" >
            <div class="col-lg-12">
              <div class="panel panel-default card-1" id="gamespanel">
                <div class="panel-heading">
                  <div v-if="validateText(bgguser) && showAdmin" class="row">
                    <div class="col-xs-9">
                      BGG user <strong>\{{bgguser}}</strong> list <strong>\{{bggtype}}</strong>. 
                    </div>
                 </div>
                </div>

                <table v-cloak class="table table-hover table-striped">
                  <tr>
                    <th>Cover</th>
                    <th v-on:click="changeSort('name')" class="gamelisttitle">Name <i v-if="sortby=='name'" class="fa fa-sort"></i></th>
                    <th v-on:click="changeSort('bggrank')" class="gamelisttitle hide-small-screen">Rank <i v-if="sortby=='bggrank'" class="fa fa-sort"></i></th>
                    <th v-on:click="changeSort('avgrating')" class="gamelisttitle hide-small-screen">BGG Rating <i v-if="sortby=='avgrating'" class="fa fa-sort"></i></th>
                    <th v-on:click="changeSort('yearpublished')" class="gamelisttitle hide-small-screen">Year <i v-if="sortby=='yearpublished'" class="fa fa-sort"></i></th>
                    <th v-on:click="changeSort('maxplayers')" class="gamelisttitle">Players <i v-if="sortby=='maxplayers'" class="fa fa-sort"></i> <span class="label label-info">Best</span></th>
                    <th v-on:click="changeSort('maxplaytime')" class="gamelisttitle">Play Time <i v-if="sortby=='maxplaytime'" class="fa fa-sort"></i></th>
                    <th v-if="showAdmin" class="hide-small-screen">Actions</th>
                  </tr>

                  <tr v-for="game in games">
                    <td>
                      <a v-bind:href="bgglink(game.id)" target="_blank"><img v-bind:src="game.thumbnail" class="media-object center-block img-responsive" style="max-height:64px"></img></a>
                    </td>
                    <td><a v-bind:href="bgglink(game.id)" target="_blank">\{{game.name}}</a></td>
                    <td class="hide-small-screen">\{{game.bggrank}}</td>
                    <td class="hide-small-screen">\{{game.avgrating}}</td>
                    <td class="hide-small-screen">\{{game.yearpublished}}</td>
                    <td>
                      \{{game.minplayers}}-\{{game.maxplayers}} 
                      <span v-for="playercount in game.playercounts" v-if="playercount.status==='Best'" class="vutips label label-info" v-bind:title="'Best Played With ' + playercount.playercount">\{{playercount.playercount}}</span>
                    </td>
                    <td>
                      <i class = "fa fa-clock-o"></i> \{{game.minplaytime}}-\{{game.maxplaytime}} mins
                      <p v-if="game.weight">
                        <span v-bind:class="classifyWeight(game.weight)" v-bind:title="titleWeight(game.weight)">\{{labelfyWeight(game.weight)}}</span>
                      </p>
                    </td>
                    <td v-if="showAdmin" class="hide-small-screen">
                      <button v-if="showAdmin && !game.bggsync" v-on:click="removeGameFromList('{{collectionid}}', game.id)" id="removeGame" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i> Remove</button>
                      <span v-if="game.bggsync" class="label label-primary">BGG Sync</span>
                    </td>
                  </tr>
                  <div class="loading-table col-xs-12 text-center"><img class="fa fa-spin brandlogo32image fa-spin" src="img/rfg-logo-whiteglow-32.png"></div>

                </table>

                <div v-if="showAdmin" class="panel-footer">
                  <i class="fa fa-cubes"></i> Add Game To List
                  <div class="input-group text col-xs-3">
                    <img id="addgameimg" src="" style="max-height:64px;" >
                  </div>
                  <div class="input-group text col-xs-12">
                    <input id="addgameid" name="addgame" class="form-control text" type="text">
                    <input id="addgame" name="addgame" type="hidden">
                  </div>
                  <button v-on:click="addGameToList('{{collectionid}}', $('#addgame').val())" id="addGame" class="btn btn-default btn-success btn-sm"><i class="fa fa-plus-circle"></i> Add Game</button>
                  <button v-on:click="clearGameFromList()" id="clearGame" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                </div>
              </div>
            </div>

            <div id="deletecollection" class="row">
              <div class="col-lg-12">
                <div class="panel panel-default card-1" id="gamespanel">
                  <div class="panel-heading">
                    <button v-if="showAdmin" v-on:click="deleteThisList('{{collectionid}}')" id="deleteList" class="btn btn-danger"><i class="fa fa-minus-circle"></i> Delete List</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- #deletecollection -->

         </div>
        </div>
        <!-- /#page-wrapper -->

      </div>
      <!-- /#wrapper -->

    </article>

{{>footer}}

    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <script src="js/collection.js?v=0.9d"></script>

    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/ramda.min.js"></script>
    <script src="js/wow.min.js"></script>


    <script>
      $(document).ready(function() {
        setuppage("{{collectionid}}", "{{user.pageslug}}", "{{adminkey}}", "{{bgguser}}", "{{boardgamesURL}}");
      });
    </script>
