<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- plugin stylesheet -->
<link rel="stylesheet" href="/css/jquery.mThumbnailScroller.css">

  {{>navbars}}

    <article id="maincontent">
      <div id="wrapper">

        <div class="container-fluid">

          <p class="form-header">Create Board Game Group</p>

          <div class="panel panel-default">
            <div class="panel-body card-1">
              <div class="row">
                <div class="col-xs-12">
                  <fieldset class="form-group" id="div4title">
                    <div id="container4title">
                      <label class="form-label" for="title">Title *</label>
                      <input id="title" name="title" class="form-control text" type="text" placeholder="What's the event?">
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body card-1">
              <div class="row">
                <div class="col-sm-6">
                  <label class="form-label" for="notes">Description</label>
                  <fieldset class="form-group" id="div4notes">
                    <div id="container4notes">
                      <div class="btn-group pull-right" role="group">
                        <button id="headDesc" type="button" v-on:click="pressHeadDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-header"></i></button>
                        <button id="boldDesc" type="button" v-on:click="pressBoldDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-bold"></i></button>
                        <button id="italDesc" type="button" v-on:click="pressItalDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-italic"></i></button>
                        <button id="quotDesc" type="button" v-on:click="pressQuotDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-quote-right"></i></button>
                        <button id="listUlDesc" type="button" v-on:click="pressListUlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ul"></i></button>
                        <button id="listOlDesc" type="button" v-on:click="pressListOlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ol"></i></button>
                        <button id="linkDesc" type="button" v-on:click="pressLinkDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-external-link"></i></button>
                        <button id="imagDesc" type="button" v-on:click="pressImagDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-picture-o"></i></button>
                        <button id="ytubeDesc" type="button" v-on:click="pressYtubeDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-youtube"></i></button>
                        <button id="helpDescription" type="button" v-on:click="formatHelp" class="btn btn-default btn-sm">Help <i class="fa fa-file-text-o"></i></button>
                      </div>
                      <!-- btn-group pull-right -->

                      <textarea type="text" id="notes" class="form-control" rows="10" placeholder="Friends getting together to play **board games**." v-model="description"></textarea>
                    </div>
                  </fieldset>
                </div>
                <div class="col-sm-6 preview-border-right">
                  <label class="form-label" for="notes">Description Preview</label>
                  <div id="notes" v-html="renderDescription(description)"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body card-1">
              <h4>Location</h4>
              <div class="row">
                <div class="col-xs-12">
                  <fieldset class="form-group" id="venue">
                    <label class="form-label" for="playarea">Address *</label>
                    <input type="text" class="form-control text" name="playarea" id="playarea"></input>
                    <input type="hidden" class="form-control text" name="playarealat" id="playarealat"></input>
                    <input type="hidden" class="form-control text" name="playarealng" id="playarealng"></input>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 buttons-area">
              <fieldset class="pull-right">
                <button type="button" id="cancel" class="btn btn-default">Cancel</button>
                <button @click="creategroup('{{user.email}}')" id="nextverify" class="btn btn-primary">Create Group <i class="fa fa-arrow-circle-right"></i></button>
              </fieldset>
            </div>
          </div>

        </div>
      </div>
      <!-- /#wrapper -->
    </article>

{{>footer}}

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<script src = "/js/markdown-it.min.js"></script>
<script src = "/js/markdown-it-emoji.min.js"></script>

<script>
    new WOW().init();
</script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap-clockpicker.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/loadingbar/loadingoverlay.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/jquery.backstretch.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/ramda.min.js"></script>

<!-- Thumbnail plugin script -->
<script src="/js/jquery.mThumbnailScroller.min.js"></script>

<!-- typeahead -->
<script src="/js/typeahead/typeahead.bundle.js"></script>

<!--[if lt IE 10]>
    <script src="/assets/js/placeholder.js"></script>
<![endif]-->

<script src="/js/groupsnew.js?v=0.1"></script>
