<div class="containerx"> <div class="login-form">

    <form role="form" action="" method="post" @submit="resetPassword">

      <div class="rfglogo32 itemx">
        <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
        <span class="brandname">Roll for Group</span>
      </div>

      <div class="headertext itemx">
        <h2>Verify your email address</h2>
        <span>A verification email has been sent to your email address.</span>
      </div>

      <div class="emailtext itemx">
        <h3 class="wow bounceInLeft">{{email}}</h3>
      </div>

      <div class="headertext itemx">
        <span>Please check your email to finalise your Roll for Group account.</span>
      </div>

      <div class="sociallogin">
        <div class="createaccount itemx">
          <span>Or social login without a password</span>
        </div>
        <div class="facebookbutton itemx">
          <a class="btn btn-link-2" href="/login/facebook" id="facebookbutton">
            <i class="fa fa-facebook"></i> Log in with Facebook
          </a>
        </div>
        <div class="googlebutton itemx">
          <a class="btn btn-link-3" href="/auth/google" id="googlebutton">
            <img src="img/btn_google_dark_focus_ios.png"></img> Sign in with Google 
          </a>
        </div>
      </div>


      <div class="createaccount itemx">
        <span><a href="/login">Return to login</a></span>
      </div>

    </form>
  </div>

  <div class="bottomspace">
  </div>

  <div class="newfooter">
    <span id="about"><a href="about" class="terms">About</a></span>
    <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
    <span id="privacy"><a href="privacy" class="terms">Terms & Conditions</a></span>
  </div>

</div>



<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/ramda.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/scripts.js"></script>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->

<script src="js/verify.js?v=0.1a"></script>
