{{>plainheader}}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The page you are looking for could not be found</h2>
                <hr class="light">
                <p class="text-faded">error 404.</p>
                <a href="home"><img src="/img/sonar_404.jpg"></img></a>
                <hr class="light">
                <p><a href="home" class="btn btn-default btn-xl btn-roundedge">Home</a></p>
            </div>
        </div>
    </div>
</section>

{{>footer}}

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>
