    <div id="wrapper">

      {{>navbars}}
      <div id="maincontent" class="container-fluid">

      {{#each warnings}}
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-{{bstrapclass}} card-1">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 text_{{bstrapclass}}">
                  <i class="fa {{panelrow.faicon}} fa-2x"></i>
                </div>
                <div class="col-xs-9">
                  {{panelrow.text}} 
                  {{#if panelrow.input}}
                  <input id="{{panelrow.input.id}}" class="{{panelrow.input.class}}" placeholder="{{panelrow.input.placeholder}}"></input>
                  {{/if}}
                </div>
                <div class="pull-right">
                  <div class="col-xs-2">
                    <button id="{{panelrow.button.id}}" class="btn btn-{{bstrapclass}}">{{panelrow.button.text}} <i class="fa {{panelrow.button.faicon}}"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-lg-12 -->

        </div>
        <!-- /.row -->
        {{/each}}

      </div>
    </div>

<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{event.name}} - Board Game Library.</h2>
      </div>
    </div>
  </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <a href="eventslibrary{{#if event.pageslug}}?event={{event.pageslug}}{{/if}}">
                      <i class="fa fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".4s"></i>
                      <h3>Game Library</h3>
                  </a>
                  <p class="text-muted">Browse nearly 250 board games available to play at LFG Sydney.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <a href="hostgame{{#if event.pageslug}}?event={{event.pageslug}}{{/if}}">
                      <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".3s"></i>
                      <h3>Host a Game</h3>
                  </a>
                  <p class="text-muted">Host a game at LFG Australia open library area for new or experienced players. Book games from the library or BYO your own game.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <a href="events{{#if event.pageslug}}?event={{event.pageslug}}{{/if}}">
                      <i class="fa fa-4x fa-calendar-check-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                      <h3>Join a Game</h3>
                  </a>
                  <p class="text-muted">Make the most of your time at the convention. Book seats in premade games for LFG Australia.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <a href="players">
                      <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                      <h3>Meet Gamers</h3>
                  </a>
                  <p class="text-muted">Find local board gamers on Roll for Group.</p>
              </div>
          </div>
       </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="http://syd.lfg-aus.com.au/index.html"><img src="img/0-4.jpeg" class="img-responsive center" style="max-width:477px; margin:auto;" alt="event-logo"></a>
            </div>
            <div class="col-lg-6">
                <a href="home"><img src="img/rfg-card.png" class="img-responsive center" style="max-width:477px; margin:auto;" alt="event-logo"></a>
            </div>
        </div>
    </div>
</section>



{{>footer}}

<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
