    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src = "js/moment.js"></script>
    <script src = "js/vue.min.js"></script>
    <script src = "js/markdown-it.min.js"></script>

    <div id="wrapper">

      {{>navbars}}

      <div id="top-content" class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div id="header" class="matchheader text-center">
              <img src="img/rfg-logo-whiteglow-128.png" class="wow tada"></img>
              <h2>Congratulations <i class="fa fa-gift"></i></h2>
              <p>Your event <b>{{title}}</b> has been publically posted, and is now visible to near by users!</p> 
            </div> 
          </div>
        </div>
        <!-- /.row -->
      </div>

      <div id="thankyoutips" class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div id="header" class="matchfollowup">

              <div class="call-to-action col-xs-12 text-center">
                <a href="/events/{{key}}" class="btn btn-primary btn-xl btn-roundedge">View Event</a>
              </div>

              <h2>What Happens Now?</h2>
              <p>Posting your event is just the beginning. Especially if this is your first event, you'll want to read through these tips to help you get players to join your event.</p>

              <h3>Help Get the Word Out</h3>
              <p>Depending on your area, and especially if it's your first time hosting you may need to help get the word out about your event. Copy the link below, and use it to promote your event on social media, and on any other web sites that need to link to the event, or email it to your friends.</p>

              <div v-cloak id="seriesid" v-if="(seriesid != '')" class="row">
                <div class="col-xs-12"> 
                  <div class="alert alert-info" role="alert">
                    <p>
                      <span>Share event URL</span>
                      <span class="fa fa-share-alt" aria-hidden="true"></span>
                      <span><a :href="geturl(reoccurenable, eventid, seriesid)">\{{geturl(reoccurenable, eventid, seriesid)}}</a></span>
                    </p>
                  </div>
                </div>
              </div>

              <h3>Inviting Players</h3>
              <p>The event page includes a player invitation section. By entering another players user name, the Roll for Group website will send them a personalised invitation to the event.</p>

              <p>Once a player joins an event, Roll for Group will manage a list of your players and their details will be available to reinvite them to future events.</p>

              <div class="call-to-action col-xs-12 text-center">
                <a href="/events/{{key}}" class="btn btn-primary btn-xl btn-roundedge">View Event</a>
              </div>

            </div> 
          </div>
        </div>
        <!-- /.row -->

     </div>
     <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src = "/js/jquery.fittext.js"></script>
    <script src = "/js/wow.min.js"></script>

    <script src = "/js/ramda.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src = "/js/creative.js"></script>
    <script src = "/js/jquery.backstretch.min.js"></script>
    <script src = "/js/scripts.js"></script>

    <script src = "/js/eventsthankyou.js?v=0.1a"></script>
    <script>
      setupPages('{{key}}', '{{user.email}}');
    </script>


    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
