<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

  {{>navbars}}

    <article id="maincontent">

      {{#if setlocation}}
      {{else}}
      {{>event-nav}}
      {{/if}}

      <div id="wrapper">
        <div id="maincontent" class="container-fluid">

          <div v-cloak class="row" id="vumatchlist">
            <div v-if="({{#if navigation.nouser}}false{{else}}true{{/if}})">
              <div v-if="(ispremium)" id="calendarlink" class="panel panel-default">

                <div class="panel-heading premiumband">
                  <div class="pull-right">
                    <button type="button" @click="showicallink" class="btn btn-sm btn-default"><img src="/img/u_roll_icon_32.png" style="max-width:16px;" /> Premium iCal Link</button>
                  </div>
                </div>
                <div v-if="icallinkvisible" class="panel-body">
                  <p>Subscribe your calendar to the url below to see joined Roll for Group events in your personal calendar. <a href="docs/linkcalendar.html " target="_blank">Learn more</a></p>
                  <div class="input-group">
                    <span class="input-group-btn" id="clipboard">
                      <button class="btn btn-default" type="button"><i class="fa fa-clipboard"></i> Copy</button>
                    </span>
                    <input type="text" id="sharelink" class="form-control" name="link" v-bind:value="url" readonly></input>
                  </div>
                </div>
              </div>
              <div v-else id="calendarlink" class="panel panel-info">
                <div class="panel-heading premiumband">
                  <div class="pull-right">
                    <button type="button" @click="purchasemembership" class="btn btn-sm btn-default"><img src="/img/u_roll_icon_32.png" style="max-width:16px;" /> Purchase Membership</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <h3>Find Board Game Events</h3>
            </div>

            <div class="homeHero" id="searchlocation">

              <div v-if="!hasSelectedLocation" id="online" title="Online Events" class="homeHeroOnline vutooltip showpointer">
                <div class="dotOnline" @click="loadOnlineEvents">
                  <i class="fa fa-globe"></i>
                </div>
              </div>

              <div v-if="!hasSelectedLocation" id="nearby" title="Nearby" class="homeHeroNearby vutooltip showpointer">
                <div class="dot" @click="locationSet()">
                  <i class="fa fa-location-arrow"></i>
                </div>
              </div>

              <div class="homeHeroCentered">
                <div id="setlocationDiv">
                  <input id="setlocation" name="location" placeholder="Your City..." class="form-control text" type="text"></input>
                </div>
                <div v-if="hasSelectedLocation" id="activeLocationDiv">
                  <div @click="locationCancel" class="homeHeroLabel showpointer">\{{activeLocation}}</div>
                </div>
              </div>

              <div id="reset" title="Clear Location" class="homeHeroReset vutooltip showpointer">
                <div class="dot" @click="locationCancel">
                  <i class="fa fa-times-circle"></i>
                </div>
              </div>

            </div>

            <div v-if="({{#if navigation.nouser}}false{{else}}true{{/if}}) && hasSelectedLocation">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-sm-12">
                    <button type="button" class="btn btn-warning" id="savelocation" @click="updateLocation">Save as my location</button>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="(matchdates.length == 0)">
              <div id="panel-new" class="panel panel-default">
                <div class="panel-body">
                  <h3>No Events.</h3>
                  <p>There are no upcoming public events in your search area.</p>
                  <p><button type="button" class="btn btn-default" @click="hostgame">Create a new event</button> to list the first board game event in your area</p>
                </div>
              </div>
            </div>

            <div v-else class="eventlistheader">
              <h3>Upcoming Board Game Events</h3>
            </div>


            <div v-if="preload && haslocation" v-for="n in 3">
              <p>
                <div class="text-placeholder"></div>
              </p>
              <div>
                <div class="eventtime text-center col-xs-1">
                  <div class="shorttext-placeholder"></div>
                </div>

                <div class="eventdetails col-xs-6">
                  <div class="text-placeholder"></div>
                  <p>
                    <div class="text-placeholder"></div>
                  </p>
                </div>

                <div class="col-xs-4">
                  <div class="gamecontainer hide-small-screen">
                  <div v-for="n in (1 + Math.floor(Math.random() * 4))" class="eventplayerimage">
                    <div class="game-placeholder"></div>
                  </div>
                  </div>
                </div>

                <div class="eventplayers col-xs-12">
                  <div v-for="n in (1 + Math.floor(Math.random() * 8))" class="eventplayerimage">
                    <div class="player-placeholder"></div>
                  </div>
                </div>
              </div>
            </div>

            <div v-cloak v-if="!preload" v-for="matchdate in matchdates">
              <div class="dateheader">\{{matchdate.matchday[0]}}</div>
              <div v-for="event in matchdate.matchday[1]" v-on:click="openEvent(event.key)" v-bind:class="event.containerClass">

                <div class="eventtime text-center col-xs-1">
                  \{{event.time}} 
                </div>

                <div class="eventdetails col-xs-6">
                  <div class="eventtitle">\{{event.title}}</div> 
                  <div v-bind:class="event.badge.class">\{{event.badge.text}}</div>
                  <div v-if="event.isprivate" class="eventisprivate"><i class="fa fa-eye-slash"></i> Private Event</div>
                  <div v-if="event.locname" class="eventloc"><i class="fa fa-map-marker"></i> \{{event.locname}}</div>
                  <div v-else="event.locname" class="eventloc"><i class="fa fa-globe"></i> Online</div>
                  <div class="eventprice">\{{event.entryFee}}</div>
                  <span v-bind:class="event.statusLabel.class">\{{event.statusLabel.text}}</span>
                  <span v-bind:class="event.xp.class">\{{event.xp.text}}</span>
                  <span v-if="event.usertypeObj" v-bind:class="event.usertypeObj.class">\{{event.usertypeObj.text}}</span>
                </div>

                <div class="col-xs-4">
                  <div class="gamecontainer hide-small-screen">
                    <img v-for="game in event.games" v-if="game.status=='select'" v-bind:src="game.thumbnail" class="gamesquare vutooltip" v-bind:title="game.name" data-toggle="tooltip">
                  </div>
                </div>

                <div class="eventplayers col-xs-12">
                  <div v-for="player in event.players" class="eventplayerimage">
                    <img v-bind:src="player.avataricon" v-bind:class="player.imgclass" style="max-height:45px" v-bind:title="player.name" onerror="this.src='/img/default-avatar-sq.jpg'"></img>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="bottompanels"></div>

        </div>
        <!-- /#page-wrapper -->

      </div>
      <!-- /#wrapper -->

    </article>

{{>footer}}

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<script>
    new WOW().init();
</script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap-clockpicker.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/loadingbar/loadingoverlay.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/jquery.backstretch.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/ramda.min.js"></script>

<!-- typeahead -->
<script src="/js/typeahead/typeahead.bundle.js"></script>

<script src="/js/events.js?v=0.35"></script>

<script>

  setupPage({{#if setlocation}}false{{else}}true{{/if}}, {{#if ispremium}}false{{else}}true{{/if}}, "{{icalurl}}");

    // saveLocation :: s
    const saveLocation = function(location) {

      var getLat = R.path(['place', 'coords', 'lat']);
      var getLng = R.path(['place', 'coords', 'lng']);

      var userdata = {
        playcity    : location.place.address,
        locality    : location.place.locality,
        country     : location.place.country,
        playcitylat : getLat(location),
        playcitylng : getLng(location)
      };
      submitUserData(userdata);

    };


    // sumbitUserData :: JSONObj
    const submitUserData = function(userdata) {

      // Show full page LoadingOverlay
      $.LoadingOverlay("show");
      var ajaxCall = $.ajax({
        type: "PATCH",
        url: "/api/v1/accounts/{{user.email}}",
        timeout: 60000,
        dataType: "json",
        data: userdata,
        cache: false
      });

      ajaxCall.done(function(result) {
        $.LoadingOverlay("hide");
        alert("Your location has been updated to " + userdata.playcity);
      });

      ajaxCall.fail(function(e, errortext) {
        alert(errortext);
        $.LoadingOverlay("hide");
        $('#setlocation').focus();
      });

    };


    $(document).ready(function() {

      {{#if user.name}}
      $("#yourname").hide();
      {{/if}}

      // lookup matches
      $.ajax({
        type: "GET",
        url: "/api/v1/matches",
        dataType: "json",
        data: { 
          {{#if onload.ajaxdata.location}}
          distance: {{onload.ajaxdata.location.distance}}, 
          nearby: '{{onload.ajaxdata.location.nearby}}'
          {{/if}} 
        }
      }).done(function(x) {
        vuMatchList.loadGames(x);

      }).fail(function(err) {
        vuMatchList.loadAllEvents();

      });

      $('#hostgame').on('click', function(event) {
        window.location.href = "/hostgame";
      }); 

    });

</script>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->
