<div class="containerx">
  <div class="login-form">

    <form role="form" action="" method="post" @submit="resetPassword">

      <div class="rfglogo32 itemx">
        <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
        <span class="brandname">Roll for Group</span>
      </div>

      <div class="headertext itemx">
        <h2>Forgot your password?</h2>
        <span>Enter your email address to reset your password</span>
      </div>

      <div class="reset">
        <div class="email itemx">
          <label class="" for="form-username">Email address</label>
          <a href="/docs/useraccount.html" class="labelanchor pull-right" target="_blank">Need help?</a>
          <input v-model="email" type="email" name="email" placeholder="Email..." class="form-input" id="email" value="{{email}}">
        </div>
        <div class="loginbutton itemx">
          <button type="submit" class="btn" name="login" id="resetbutton" >Reset Password</button>
        </div>
      </div>


      <div class="sociallogin">
        <div class="createaccount itemx">
          <span>Or social login without a password</span>
        </div>
        <div class="facebookbutton itemx">
          <a class="btn btn-link-2" href="/login/facebook" id="facebookbutton">
            <i class="fa fa-facebook"></i> Log in with Facebook
          </a>
        </div>
        <div class="googlebutton itemx">
          <a class="btn btn-link-3" href="/auth/google" id="googlebutton">
            <img src="img/btn_google_dark_focus_ios.png"></img> Sign in with Google 
          </a>
        </div>
      </div>


      <div class="createaccount itemx">
        <span><a href="/login">Return to login</a></span>
      </div>

    </form>
  </div>

  <div class="bottomspace">
  </div>

  <div class="newfooter">
    <span id="about"><a href="about" class="terms">About</a></span>
    <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
    <span id="privacy"><a href="privacy" class="terms">Terms & Conditions</a></span>
  </div>

</div>



<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/ramda.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/scripts.js"></script>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->

<script src="js/forgot.js?v=0.1a"></script>
