    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div id="wrapper">

      {{>navbars}}

      <div id="maincontent" class="container-fluid">
        <div class="row">
          <div class="jumbotron">

            <h2 class="display-4">\{{focus.name}}</h2>
            <div class="row">
              <div class="col-sm-6">
                <p class="lead">\{{focus.description}}</p>
								<a :href="bgglinkify(focus.id)" target="_blank">(bgg link)</a>
              </div>
              <div class="col-sm-6">
                <div id="player"></div> 
                <div class="row center-block">
                  <span>
                  <a v-for="subvideo in subvideos" class="btn btn-default" @click="playVideo(subvideo.videoid, true)" role="button">\{{subvideo.buttonname}}</a>
                  </span>
                </div>


    <script>

      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";

      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '285',
          width: '480',
          // videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
      }

      //    the player should play for six seconds and then stop.
      var videoLoadDone = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !videoLoadDone) {
          videoLoadDone = true;
          pauseVideo();
        }
      }

      function stopVideo() {
        player.stopVideo();
      }

      function pauseVideo() {
        player.pauseVideo();
      }

    </script>


              </div>
            </div>
          </div>
        </div>

        <div class="game-scroll">
          <div v-for="gamelist in gamelists" class="row blackcontainer">
            <div class="col-sm-12 container-edgeroom">

              <div class="col-sm-12">
                <h4 class="gamelist-header display-4">\{{gamelist.name}} <small><a @click="openPageUrl(gamelist.key)" role="button">View</a></small></h4>
                <div class="">

                  <div class="thumbnail-list">
                    <ul>
                      <li v-for="game in gamelist.games"><a @click="updateName(game)"><img :src="game.thumbnail" :title="game.name" class="thumb-icons vutips showpointer"/></a></li>
                    </ul>
                  </div>

                </div>
              </div>

              <hr></hr>

            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- /#page-wrapper -->

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/moment.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-clockpicker.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/jQDateRangeSlider-min.js"></script>
    <script src="js/loadingbar/loadingoverlay.min.js"></script>

    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>
    <script src="js/ramda.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>

    <script src="js/jquery.mThumbnailScroller.min.js"></script>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
    <script src="js/games.js?v=0.5"></script>

    <script>
      $(document).ready(function() {
        setuppage("{{user.email}}", "{{user.pageslug}}", "{{bggname}}", "{{gameid}}", "{{boardgamesURL}}", "{{collectionsURL}}");
      });
    </script>
