    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src = "js/moment.js"></script>
    <script src = "js/vue.min.js"></script>
    <script src = "js/markdown-it.min.js"></script>

    <div id="wrapper">

      {{>navbars}}

      <div id="top-content" class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div id="header" class="matchheader text-center">
              <img src="img/u_roll_icon1-01.png" class="wow tada"></img>
              <h2>Gem Gifted</h2>
              <p>Your transfer has been sent!</p> 
            </div> 
          </div>
        </div>
        <!-- /.row -->
      </div>

      <div id="thankyoutips" class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
					  <div id="header" class="matchfollowup">
              <p>Gifting gems helps us keep our servers running, and helps us support the board gaming community.</p>
                <h2>What Happens Now?</h2>
                <h3>Player notification</h3>
                <p>The receiving player will receive an email notification that you have tipped them. Each gem a player receives, extends their premium access to the Roll for Group perks by one month.</p>
                <h3>Membership perks</h3>
                <p>The players you tip will receive a months worth of membership perks.</p>
                <h3>Checking your membership status and gem balance</h3>
                <p>You can check on your membership status and gem balance on your <a href="/users?email={{user.email}}">career page</a>.</p>
              </div> 
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->

  {{>footer}}

        <!-- Plugin JavaScript -->
        <script src = "js/jquery.fittext.js"></script>
        <script src = "js/wow.min.js"></script>

        <script src = "js/ramda.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src = "js/creative.js"></script>
        <script src = "js/jquery.backstretch.min.js"></script>
        <script src = "js/scripts.js"></script>


        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

