<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- plugin stylesheet -->
<link rel="stylesheet" href="/css/jquery.mThumbnailScroller.css">

  {{>navbars}}

    <article v-cloak id="maincontent">

      <!-- The sidebar -->
      <div class="sidebar">
        <a class="active" href="/groups"><i class="fa fa-users"></i> Groups</a>
        <a href="/events"><i class="fa fa-calendar"></i> Events</a>
        <a href="/players"><i class="fa fa-address-card"></i> Players</a>
        <a href="/games"><i class="fa fa-cubes"></i> Collections</a>
        <a href="/users"><i class="fa fa-trophy"></i> Profile</a>
      </div>

      <!-- Page content -->
      <div class="content">

        <div v-if="isprivate" class="row">
          <div class="alert alert-info" role="alert">
            <span class="fa fa-eye-slash" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            <span>This group is private, it is only visible to group members.</span>
            <button v-if="showEdit" @click="setIsPrivate('{{user.email}}', '{{group.url}}', false)" id="publishPublic" class="btn btn-primary btn-sm"><i class="fa fa-paper-plane"></i> Make Public</button>
          </div>
        </div>

        <div v-if="!isprivate && showEdit" class="row">
          <div class="alert alert-success" role="alert">
            <span class="sr-only">Info:</span>
            <span>This group is public, it is visible to everyone.</span>
            <button v-if="showEdit" @click="setIsPrivate('{{user.email}}', '{{group.url}}', true)" id="publishPublic" class="btn btn-success btn-sm"><i class="fa fa-eye-slash"></i> Make Private</button>
          </div>
        </div>

        <div v-cloak class="row rowtitle">
          <div class="col-xs-12">
            <span v-if="showEditTitle" class="title">\{{name}}
              <button @click="editTitle" id="editTitle" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Edit</button>
            </span>

            <span v-if="showSaveTitle">
              <input v-model="name" type="text" id="textTitle" class="form-control" v-bind:placeholder="name"></input>
              <button @click="saveTitle('{{user.email}}', '{{group.url}}', name)" id="saveTitle" class="btn btn-default btn-success btn-sm savebuttons"><i class="fa fa-floppy-o"></i> Save</button>
              <button @click="cancelTitle" id="cancelTitle" class="btn btn-default btn-sm savebuttons"><i class="fa fa-times"></i></button>
            </span>
            <span class="location">\{{locname}}</span>

          </div>
        </div>

        <div id="userspanel">
          <h3>Members ( \{{countPlayers(members)}} )</h3>
        </div>

        <div id="h-users">
          <div v-for="user in members" class="player-area">
            <div class="playerstatus">
              \{{friendlyStatus(user.status)}}
            </div>
            <div class="playeravatar">
              <a v-if="user.imgtype === 'img'" :href="user.link" class="center">
                <img v-bind:src="user.imgsrc" v-bind:class="user.imgclass" onerror="this.src='/img/default-avatar-sq.jpg'" style="max-height:65px" ></img>
              </a>
            </div>
            <div class="player-area-text">
              <a v-bind:class="user.nameclass" v-bind:href="user.link">\{{user.name}}</a>
            </div>
          </div>
        </div>


        <div v-cloak class="row" id="mappanel">
          <div class="col-xs-12">
            <div class="panel map-panel">
              <div class="panel-body">

                <h4>About</h4>

                <div id="textDescription" v-html="renderDescription(description)"></div>
                <div v-if="!showDescription" class="btn-group pull-right" role="group">
                  <button id="headDesc" type="button" v-on:click="pressHeadDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-header"></i></button>
                  <button id="boldDesc" type="button" v-on:click="pressBoldDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-bold"></i></button>
                  <button id="italDesc" type="button" v-on:click="pressItalDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-italic"></i></button>
                  <button id="quotDesc" type="button" v-on:click="pressQuotDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-quote-right"></i></button>
                  <button id="listUlDesc" type="button" v-on:click="pressListUlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ul"></i></button>
                  <button id="listOlDesc" type="button" v-on:click="pressListOlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ol"></i></button>
                  <button id="linkDesc" type="button" v-on:click="pressLinkDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-external-link"></i></button>
                  <button id="imagDesc" type="button" v-on:click="pressImagDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-picture-o"></i></button>
                  <button id="ytubeDesc" type="button" v-on:click="pressYtubeDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-youtube"></i></button>
                  <button id="helpDescription" type="button" v-on:click="formatHelp" class="btn btn-default btn-sm">Format Help <i class="fa fa-file-text-o"></i></button>
                </div>

                <textarea v-if="!showDescription" type="text" id="textEditDescription" class="form-control" rows="10" v-model="description"></textarea>

                <button v-if="showEditDescription" id="editDescription" class="btn btn-default btn-sm" @click="editDescription"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <button v-if="showSaveDescription" id="saveDescription" class="btn btn-default btn-success btn-sm" @click="saveDescription('{{user.email}}', '{{group.url}}', description)"><i class="fa fa-floppy-o"></i> Save</button>
                <button v-if="showSaveDescription" id="cancelDescription" class="btn btn-default btn-sm" @click="cancelSaveDescription"><i class="fa fa-times"></i></button>

              </div>
            </div>
          </div>
        </div>

        <div v-cloak class="row" id="mappanel">
          <div class="col-xs-12">
            <div class="panel map-panel">
              <div class="panel-body">
                <h4>Location</h4>

                <div class="">
                  <div hidden id="playareadiv"> 
                    <input type="text" id="playarea" class="form-control" name="locationlink" value="{{locname}}"></input>
                  </div>
                  <div v-if="!showSave"><i class="fa fa-map-marker"></i> \{{locname}}</div>

                  <div id="map" class="mapheight">
                    <iframe id="maplocation" width="600" height="450" frameborder="0" style="border:0" v-bind:src="encodeLocation" allowfullscreen></iframe>  
                  </div>
                </div>

                <button v-if="showEditLocation" id="editLocation" class="btn btn-default btn-sm" @click="editLocation"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <div v-if="showSaveLocation"> 
                  <button id="saveLocation" class="btn btn-default btn-success btn-sm" @click="saveLocation('{{user.email}}', '{{group.url}}', locname)"><i class="fa fa-floppy-o"></i> Save</button>

                  <button id="cancelLocation" class="btn btn-default btn-sm" @click="cancelLocation"><i class="fa fa-times"></i></button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </article>

{{>footer}}

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<script src = "/js/markdown-it.min.js"></script>
<script src = "/js/markdown-it-emoji.min.js"></script>

<script>
    new WOW().init();
</script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap-clockpicker.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/loadingbar/loadingoverlay.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/jquery.backstretch.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/ramda.min.js"></script>

<!-- Thumbnail plugin script -->
<script src="/js/jquery.mThumbnailScroller.min.js"></script>

<!-- typeahead -->
<script src="/js/typeahead/typeahead.bundle.js"></script>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->

<script src="/js/group.js?v=0.3"></script>

<script>
  $(document).ready(function() {
    setuppage("{{group.url}}", "{{user.pageslug}}");
  });
</script>
