<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- plugin stylesheet -->
<link rel="stylesheet" href="/css/jquery.mThumbnailScroller.css">

  {{>navbars}}

    <article id="maincontent">

      <!-- The sidebar -->
      <div class="sidebar">
        <a class="active" href="/groups"><i class="fa fa-users"></i> Groups</a>
        <a href="/events"><i class="fa fa-calendar"></i> Events</a>
        <a href="/players"><i class="fa fa-address-card"></i> Players</a>
        <a href="/games"><i class="fa fa-cubes"></i> Collections</a>
        <a href="/users"><i class="fa fa-trophy"></i> Profile</a>
      </div>

      <!-- Page content -->
      <div class="content">

        <p class="form-header">Groups</p>
        <button class="btn pull-right btn-brand" @click="newgroup">Create Group</button>

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="areasearch">
              <label for="playarea">Where</label> <a @click="geolocate" class="showpointer">( Use my location )</a>
              <input type="text" class="form-control text" name="playarea" id="playarea" placeholder="City or town (nearby)"></input>
            </div>

            <div class="grouplist">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Members</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="group in groups">
                    <td><a :href="buildurl(group.url)">\{{group.name}}</a></td>
                    <td>\{{group.locname}}</td>
                    <td>\{{group.members.length}}</td>
                  </tr>
                </tbody>
              </table>
            </div> 

          </div>
        </div>

      </div>
      <!-- /#wrapper -->

    </article>

{{>footer}}

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<script src = "/js/markdown-it.min.js"></script>
<script src = "/js/markdown-it-emoji.min.js"></script>

<script src="/js/groups.js?v=0.2"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap-clockpicker.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/loadingbar/loadingoverlay.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/jquery.backstretch.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/ramda.min.js"></script>

<!-- Thumbnail plugin script -->
<script src="/js/jquery.mThumbnailScroller.min.js"></script>

<!-- typeahead -->
<script src="/js/typeahead/typeahead.bundle.js"></script>

<!--[if lt IE 10]>
    <script src="/assets/js/placeholder.js"></script>
<![endif]-->

<!-- typeahead -->
<script src="/js/typeahead/typeahead.bundle.js"></script>

<script>

  $(document).ready(function() {
    new WOW().init();
    setuppage('{{user.email}}');

    $('#playarea').typeahead(
      {
        hint: true,
        highlight: true,
        minLength: 3
      },
      {
        source: function(query, sync, process) 
        {
          return $.ajax({
            type: "GET",
            url: "/api/v1/locations",
            dataType: "json",
            data: {search: query},
            success: function(data) {
              cacheTypeaheadData(data);
              return process(R.map(R.path(['place','address']), data));
            }
          });
        }
      }
    );
  });

  $('#playarea').bind('typeahead:selected', function(obj, datum, name) {
    loadArea(datum);
  })


</script>

