<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

  {{>navbars}}
  <article id="maincontent">
    {{>event-nav}}
  </article>

    <div id="maincontent" class="container-fluid">
      <div v-if="ispremium" id="calendarlink" class="panel panel-default">
        <div class="panel-heading">
          <span><img src="img/u_roll_icon1-01.png" style="max-width:32px;"></img> Premium Calendar Syncing</span>
        </div>
        <!-- .panel-heading -->

        <div class="panel-body">
          <p>Subscribe your calendar to the url below to see joined Roll for Group events. <a href="docs/linkcalendar.html " target="_blank">Learn more</a></p>
          <div class="input-group">
            <span class="input-group-btn" id="clipboard">
              <button class="btn btn-default" type="button"><i class="fa fa-clipboard"></i> Copy</button>
            </span>
            <input type="text" id="sharelink" class="form-control" name="link" v-bind:value="url" readonly></input>
          </div>
        </div>
        <!-- .panel-body -->

      </div>
      <!-- /#calendarlink -->

      <div class="row">
        <div class="col-lg-12" id="matchlist">
        </div>
      </div>
      <!-- .row -->

  </div>
  <!-- /#maincontent -->

  <div class="loading-table col-xs-12 text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>

<!-- /#wrapper -->
<div id="wrapper">
  <div class="container">
    <ul v-cloak class="timeline" id="history">

      <li v-for="match in matches">
        <div v-bind:class="readPrivateImgClass(match.isprivate)" v-bind:title="readPrivateTooltip(match.isprivate)">
          <i v-bind:class="readPrivateClass(match.isprivate)"></i>
        </div>
        <div class="timeline-panel">

          <div class="timeline-heading">
            <h4 class="timeline-title"><a v-bind:href="matchlink(match.key)">\{{match.title}}</a></h4>
            <span v-bind:class="match.usertypeObj.class">\{{match.usertypeObj.text}}</span>

          </div>

          <div class="timeline-body">

            <div>
              <h4 class="timeline-subtitle">Where</h4>
              <i class="fa fa-map-marker"></i> \{{match.locname}}
            </div>
            <div>
              <h4 class="timeline-subtitle">When</h4>
              <i class="fa fa-calendar"></i> \{{gettime(match.date)}}
            </div>

            <h4 class="timeline-subtitle">Games Played</h4>
            <div class="gamecontainer">
              <a v-for="game in match.games" v-bind:href="bgglink(game.id)">
                <img v-bind:src="game.thumbnail" class="vutips gamesquare" v-bind:title="game.name"/>
              </a>
            </div>

            <h4 class="timeline-subtitle">Friends</h4>
            <div class="eventplayers">
              <div class="eventplayerimage">
                <img v-for="player in match.players" v-bind:src="player.avataricon" v-bind:title="player.name" onerror="this.src='img/default-avatar-sq.jpg'" class="vutips img-circle" style="max-height: 45px;">
              </div>
            </div>

            <!--
            <div class="col-xs-12" style="max-height:450px">
              <div id="map">
                <iframe id="maplocationx" width="600" height="450" frameborder="0" style="border:0" v-bind:src="mapencode(match.locname)" allowfullscreen></iframe>  
              </div>
            </div>
            -->

          </div>

        </div>
      </li>

    </ul>
  </div>
</div>


{{>footer}}

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap-clockpicker.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/loadingbar/loadingoverlay.min.js"></script>
<script src="js/jQDateRangeSlider-min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/moment.js"></script>
<script src="js/ramda.min.js"></script>

<script>

    vuCalendarLink = new Vue({
      el: '#calendarlink',
      data: {
        ispremium: {{#if ispremium}}{{ispremium}}{{else}}false{{/if}},
        url: '{{icalurl}}'
      },
      methods: {}
    });

    var vuHistory = new Vue({
      el: '#history',
      data: {
        matches: []
      },
      methods:{
        mapencode: function(loc) {
          return "https://www.google.com/maps/embed/v1/place?q=" + 
            R.replace(/&/g, '%26', R.replace(/#/g, '%23', encodeURI(loc))) + 
            "&key=AIzaSyDZGpB9hMYMo9pAg6mydAR0PXYcUh-77QQ"
        },
        showTooltips: function() {
          $('.vutips').tooltip();
        },
        readPrivateClass: function(isPrivate) {
          return (isPrivate) 
            ? 'fa fa-eye-slash'
            : 'fa fa-paper-plane';
        },
        readPrivateImgClass: function(isPrivate) {
          return (isPrivate) 
            ? 'vutips timeline-badge info'
            : 'vutips timeline-badge primary';
        },
        readPrivateTooltip: function(isPrivate) {
          return (isPrivate) 
            ? 'Private Match'
            : 'Public Match';
        },
        matchlink: function(key) {
          return 'events/' + key;
        },
        bgglink: function(id) {
          return 'https://www.boardgamegeek.com/boardgame/' + id;
        },
        gettime: function(utcdate) {
          return moment(utcdate).format('DD MMM YYYY') + ' - ' 
            + moment(utcdate).format('h:mm a')
        }
      }
    });

    $(document).ready(function() {

      {{#if user.name}}
      $("#yourname").hide();
      {{/if}}

      // lookup matches
      $.ajax({
        type: "GET",
        url: "/api/v1/matches",
        dataType: "json",
        data: { 
          types:[{{#each onload.ajaxdata.matchtypes.types}}'{{this}}',{{/each}}], user:'{{onload.ajaxdata.matchtypes.user}}',
          history: true 
        }

      }).done(function(x) {

        vuHistory.matches = x.matches;
        setTimeout(function() { 
          vuHistory.showTooltips();
        }, 1000);
        $('.loading-table').hide();

      });

      $('#hostgame').on('click', function(event) {
          window.location.href = "/hostgame";
      }); 

    });

</script>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->
