<header class="header-rpg">
    <div class="header-content">
        <div class="header-content-inner">
          <div class="blackback">
            <h1>Play Tabletop Games</h1>
          </div>
          <div class="blackback">
            <div class="row">
              <img src="img/rfg-logo-whiteglow.png"></img>
              <p class="brand" id="brandtitle">Roll for Group</p>
            </div>
            <p>Meet Up With Tabletop Gamers <b>Offline</b></p>
            <hr>
          </div>

          <div class="row">
            <a href="signup" class="btn btn-primary btn-xl btn-roundedge btn-white page-scroll">Create Account</a>
            <a href="login" class="btn btn-primary btn-xl btn-roundedge btn-form page-scroll">Log In</a>
          </div>
        </div>
    </div>
</header>

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="quote">"I've found <b>Roll for Group</b> to be a great tool for: <b>Scheduling game days</b>, getting previously <b>unplayed games</b> to the table, <b>meeting new gamers</b>, and basically organising all of the above."</p>
                <p class="author">~ Tod De Clouett</p>
            </div>
        </div>
        <hr class="primary">
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-12 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".4s"></i>
                  <h3>Schedule Game Day</h3>
                  <p class="text-muted">Host and be notified of local board gaming events. From tournaments, to your friendly local board game store meetup, to an ad-hoc event at a friends house that needs one more player.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h3>Meet New Local Players</h3>
                  <p class="text-muted">Meet up with different local board gamers each week and make new friends and find new gamers for your game group.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-check wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Get Unplayed Games Played</h3>
                  <p class="text-muted">Roll for Group matches games you own with games nearby players can want to play. Find games you own that other players want to play.</p>
              </div>
          </div>
       </div>
    </div>
</section>

<section class="testimonials bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="quote text-faded">"I have been using <b>Roll for Group</b> since it started and was able to <b>find various new players</b> of all levels and ages. The website is helpful for finding people who have the <b>same level of interest in a particular game</b> to play with. I often host a game and find myself meeting one or two <b>new people every week</b>. I love to <b>see the group grow</b> and this could be the future of board game meetups."</p>
                <p class="author text-faded">~ Adrian Chew</p>

                <div class="text-center">
                    <hr class="light">
                    <a href="signup" target="_blank" class="btn btn-default btn-xl btn-roundedge">Find Players</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
                <h2 class="section-heading">A great way to start playing board games.</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-12 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-check wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Beginner Friendly</h3>
                  <p class="text-muted">Most hosts come prepared to teach new player the rules. With so many games available, many players are trying a game for the same time, so don't worry if you don't know how to play.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-child wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h3>Meet New People</h3>
                  <p class="text-muted">Playing board games is a social experience to meet new people. On Roll for Group you will meet other people who share an interest in modern boardgaming, in a relaxed setting and friendly atmosphere.</p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                  <h3>For Busy Gamers</h3>
                  <p class="text-muted">Roll for Group organises the number of players, games to be played and time frame ahead of time.</p>
              </div>
          </div>
       </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="quote">"<b>Roll for Group</b> is a great portal to arrange <b>your own board gaming session</b>, and you can easily <b>find other sessions</b> you might be interested in."</p>
                <p class="author">~ Andy Nguyen</p>
            </div>
            <div class="call-to-action col-xs-12 text-center">
                <a href="signup" class="btn btn-default btn-xl btn-roundedge wow tada">Create Account</a>
            </div>
       </div>
    </div>
</aside>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img data-original="img/portfolio/mechsvsminions-600.jpg" class="lazy img-responsive" alt="play scythe" width="600px" height="400px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lets Play
                            </div>
                            <div class="project-name">
                                Mechs vs Minions 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img data-original="img/portfolio/arkhamhorror-600.png" class="lazy img-responsive" alt="play scythe" width="600px" height="400px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cthullu Horror
                            </div>
                            <div class="project-name">
                                Arkham Horror The Card Game
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img data-original="img/portfolio/terraformingmars-600.jpg" class="lazy img-responsive" alt="play scythe" width="600px" height="400px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Space Exploration
                            </div>
                            <div class="project-name">
                               Terraforming Mars 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img data-original="img/portfolio/scythe-600.jpg" class="lazy img-responsive" alt="play scythe" width="600px" height="400px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Old World Mechs and Farming 
                            </div>
                            <div class="project-name">
                               Scythe 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.lazyload.js" type="text/javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<script>
$("img.lazy").lazyload();
</script>
