<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

  {{>navbars}}

  <article v-cloak id="maincontent">

    {{>event-nav}}

    <div id="wrapper">
      <div id="maincontent" class="container-fluid">
        <div class="container-fluid">

          <p class="form-header">Create Event</p>

          <div class="panel panel-default">
            <div class="panel-body card-1">
              <div class="row">
                <div class="col-sm-12">
                  <fieldset class="form-group" id="div4title">
                    <div id="container4title">
                      <label class="form-label" for="title">Event Title *</label>
                      <input id="title" name="title" class="form-control text" type="text" placeholder="What's the event?">
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-body card-1">
              <div class="row">
                <div class="col-sm-6">
                  <div id="div4experience">
                    <label class="form-label" for="isOnline">Online</label>
                    <fieldset class="form-group">
                      <input @click="clickIsOnline(isonline)" v-model="isonline" type="checkbox" id="isonline" name="isonline" checked>
                      <label class="form-label" for="isonline">Is this event online?</label>
                    </fieldset>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div id="container4experience">
                    <div id="div4experience">
                      <fieldset class="form-group">
                        <label class="form-label" for="experience">Event Type</label>
                        <select @change="selectEventType($event)" v-model="experience" class="form-control" id="experience" name="experience">
                          <option id="Convention Event" value="9">Convention Event</option>
                          <option id="Game Demo" value="3">Game Demo</option>
                          <option id="For Experienced Players" value="4">For Experienced Players</option>
                          <option id="Learn to Play" value="2">Learn to Play</option>
                          <option id="Meet Up" value="1" selected>Meet Up</option>
                          <option id="Miniature Painting" value="8">Miniature Painting</option>
                          <option id="Online Board Games" value="6">Online Board Games</option>
                          <option id="Online Role Play" value="11">Online Role Play</option>
                          <option id="Repeating Campaign" value="10">Repeating Campaign</option>
                          <option id="Role Play" value="5">Role Play</option>
                          <option id="Tournament" value="7">Tournament</option>
                        </select>
                      </fieldset>
                    </div>
                  </div>
                </div>

                <div v-if="isonline" class="col-sm-12">
                  <div class="alert alert-info" role="alert">
                    <span class="fa fa-globe" aria-hidden="true"></span>
                    <span>Online options help gamers organise online events during the Covid-19 pandemic.</span>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="row" id="gamespanel">
            <div class="col-lg-12">
              <div class="panel panel-default card-1">
                <div class="panel-heading">
                  <h4>What are you playing?</h4>
                </div>

                <table class="table table-hover table-striped">
                  <tr>
                    <th>Game</th>
                    <th>Name</th>
                    <th>Players</th>
                    <th class="hide-small-screen"><span class="label label-info">Best</span></th>
                    <th class="hide-small-screen">Play Time</th>
                    <th>Action</th>
                  </tr>
                  <tr v-for="game in games" v-if="R.propOr('select', 'status', game)=='select'">

                    <td>
                      <a :href="buildLink(game.id)" target="_blank"><img :src="game.thumbnail" class="gamesquare vutips" style="max-height:64px" :title="'Brought by ' + game.username"></img></a>
                      <a v-for="expansion in game.hasexpansions" :href="buildLink(expansion.id)" target="_blank"><img :src="expansion.thumbnail" class="gamesquare vutips" style="max-height:64px" :title="expansion.name"></img></a>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button @click="clickBggLink(game.id)" type="button" class="btn btn-default btn-sm">\{{game.name}}</button>
                      <!--
                        <button v-if="game.expansions.length > 0" type="button" class="btn btn-default btn-sm dropdown-toggle vutips" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Add expansion">
                          <span class="fa fa-plus"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li v-for="expansion in game.expansions" :class="expansionListClass("", game.pageslug, expansion.id, expansion.use)"><a @click="toggleUseExpansion(serviceurl, matchkey, useremail, userpageslug, game.pageslug, expansion.id, expansion.use)">\{{expansion.name}} <i v-if="expansion.use" class="fa fa-check"></i></a></li>
                        </ul>
                      -->
                      </div>
                      <!--
                      <div v-for="expansion in game.expansions" v-if="expansion.use" class="expansionlist">
                        <span class="label label-info vutips">\{{expansion.name}}</span>
                      </div>
                      -->
                    </td>

                    <td class="hide-small-screen">
                      <div class="matchgametext">
                        \{{readminexpansiondata(games, game.expansions, 'minplayers', game.pageslug)}}-\{{readmaxexpansiondata(games, game.expansions, 'maxplayers', game.pageslug)}}
                      </div>
                    </td>
                    <td>
                        <span v-for="playercountobj in game.playercounts" v-if="playercountobj.status==='Best'" class="vutips label label-info" v-bind:title="'Plays Best With ' + playercountobj.playercount">\{{playercountobj.playercount}}</span>
                    </td>

                    <td class="hide-small-screen">
                      <div class="matchgametext">
                        <i class = "fa fa-clock-o vutips" title="Expected game play time"></i> \{{readminexpansiondata(games, game.expansions, 'minplaytime', game.pageslug)}}-\{{readmaxexpansiondata(games, game.expansions, 'maxplaytime', game.pageslug)}} mins
                        <p v-if="game.weight">
                          <span v-bind:class="classifyWeight(game.weight)" v-bind:title="titleWeight(game.weight)">\{{labelfyWeight(game.weight)}}</span>
                        </p>
                      </div>
                    </td>

                    <td>
                      <div class="matchgamebutton">
                        <button v-on:click="removeGame(game.id)" class="btn btn-danger btn-sm removegame vutips" title="Remove game"><i class="fa fa-times"></i></button>
                      </div>
                    </td>

                  </tr>

                </table>

                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-12">
                      <fieldset class="form-group">
                        <div class="text">
                          <input id="addgameid" name="addgameid" class="form-control" type="text">
                        </div>
                      </fieldset>
                    </div>
                    <!-- div input-group -->

                    <div class="col-sm-12" v-if="experience==10 && games.length==0" >
                      <div class="alert alert-warning" role="alert">
                        <span class="fa fa-cube" aria-hidden="true"></span>
                        <span>Repeating Campaigns require a selected boardgame.</span>
                      </div>
                    </div>

                  </div>
                  <!-- div row -->

                </div>
                <!-- div panel-footer -->

              </div>
              <!-- div panel-default -->

            </div>
            <!-- div col-lg-12 -->

          </div>
          <!-- div row -->



          <div class="panel panel-default">
            <div class="panel-body card-1">
              <div class="row">
                <div class="col-sm-6">
                  <label class="form-label" for="notes">Description</label>
                  <fieldset class="form-group" id="div4notes">
                    <div id="container4notes">
                      <div class="btn-group pull-right" role="group">
                        <button id="headDesc" type="button" v-on:click="pressHeadDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-header"></i></button>
                        <button id="boldDesc" type="button" v-on:click="pressBoldDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-bold"></i></button>
                        <button id="italDesc" type="button" v-on:click="pressItalDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-italic"></i></button>
                        <button id="quotDesc" type="button" v-on:click="pressQuotDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-quote-right"></i></button>
                        <button id="listUlDesc" type="button" v-on:click="pressListUlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ul"></i></button>
                        <button id="listOlDesc" type="button" v-on:click="pressListOlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ol"></i></button>
                        <button id="linkDesc" type="button" v-on:click="pressLinkDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-external-link"></i></button>
                        <button id="imagDesc" type="button" v-on:click="pressImagDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-picture-o"></i></button>
                        <button id="ytubeDesc" type="button" v-on:click="pressYtubeDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-youtube"></i></button>
                        <button id="helpDescription" type="button" v-on:click="formatHelp" class="btn btn-default btn-sm">Help <i class="fa fa-file-text-o"></i></button>
                      </div>
                      <!-- btn-group pull-right -->

                      <textarea type="text" id="notes" class="form-control" rows="10" placeholder="Friends getting together to play **board games**." v-model="description"></textarea>
                    </div>
                  </fieldset>
                </div>
                <div class="col-sm-6 preview-border-right">
                  <label class="form-label" for="notes">Description Preview</label>
                  <div id="notes" v-html="renderDescription(description)"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div id="userspanel">
                <div class="panel panel-default card-1">
                  <div class="col-lg-12">
                    <h4>When</h4>
                  </div>

                  <table class="table table-hover table-striped">
                    <tr>
                      <th>From</th>
                      <th>To</th>
                      <th>Action</th>
                    </tr>
                    <tr v-for="timeslot in timeslots">
                      <td style="vertical-align:middle">
                        <span class="fa fa-calendar"></span> \{{timeslot.startdate}} - \{{timeslot.starttime}} <span class="glyphicon glyphicon-time"></span>
                      </td>
                      <td style="vertical-align:middle">
                        <span class="fa fa-calendar"></span> \{{timeslot.enddate}} - \{{timeslot.endtime}} <span class="glyphicon glyphicon-time"></span> 
                      </td>
                      <td>
                        <button type="button" class="btn btn-sm btn-danger" @click="removeTimeslot(timeslot.id)">Remove <i class="fa fa-minus-circle"></i></button>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label class="form-label" for="playdate">From Date</label>
                        <div class="input-group date showpointer">
                          <input v-model="startdate" type="text" class="form-control text" name="playdate" id="playdate"></input>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                          </span>
                        </div>
                        <label class="form-label" for="timestart">Start Time</label>
                        <div class="input-group clockpicker">
                          <input v-model="starttime" type="text" class="form-control text" value="hh:mm" id="timestart" name="timestart">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                          </span>
                        </div>
                      </td>
                      <td>
                        <label class="form-label" for="playdateend">To Date</label>
                        <div class="input-group date showpointer">
                          </span>
                          <input v-model="enddate" type="text" class="form-control text" name="playdateend" id="playdateend"></input>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                        <label class="form-label" for="timeend">Finish Time</label>
                        <div class="input-group clockpicker">
                          <input v-model="endtime" type="text" class="form-control text" value="hh:mm" id="timeend" name="timeend">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                          </span>
                        </div>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td style="vertical-align:bottom">
                        <button type="button" class="btn btn-sm btn-info" @click="pushTimeslot(startdate, starttime, enddate, endtime)"><i class="fa fa-plus-circle"></i> Suggest multiple times</button>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body card-1">
              <div class="row">
                <div class="col-xs-12">
                  <fieldset class="form-group" id="div4reoccurinterval">
                    <div id="container4reoccurinterval">
                      <div id="div4reoccurinterval">
                        <label class="form-label" for="reoccurinterval">Repeat</label>
                        <select v-model="reoccurinterval" class="form-control" id="reoccurinterval" name="reoccurinterval">
                          <option id="Never" value="never" selected="selected">Never</option>
                          <option id="Weekly" value="week">Weekly</option>
                          <option id="Monthly" value="weekOfMonth">Monthly</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="col-sm-12" v-if="experience==10 && reoccurinterval=='never'">
                  <div class="alert alert-warning" role="alert">
                    <span class="fa fa-cube" aria-hidden="true"></span>
                    <span>Repeating Campaigns need to be repeat period.</span>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12">
                  <fieldset v-if="reoccurinterval=='week' || reoccurinterval=='weekOfMonth'" class="form-group" id="div4reoccurevery">
                    <label class="form-label" for="reoccurevery" id="intervallabel">\{{intervalLabel}}</label>
                    <select v-model="reoccurevery" class="form-control" id="reoccurevery" name="reoccurevery">
                      <option id="1" value="1" selected="selected">1</option>
                      <option id="2" value="2">2</option>
                      <option id="3" value="3">3</option>
                      <option id="4" value="4">4</option>
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body card-1">
              <h4>Location</h4>
              <div class="row">
                <div class="col-xs-12">
                  <fieldset class="form-group" id="venue">
                    <label class="form-label" for="playarea">Address *</label>
                    <input type="text" class="form-control text" name="playarea" id="playarea"></input>
                    <input type="hidden" class="form-control text" name="playarealat" id="playarealat"></input>
                    <input type="hidden" class="form-control text" name="playarealng" id="playarealng"></input>
                  </fieldset>
                </div>

                <div v-if="isonline" class="col-xs-12">
                  <div class="alert alert-warning" role="alert">
                    <span class="fa fa-globe" aria-hidden="true"></span>
                    <span>Online events don't require a location.</span>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body card-1">
              <h4>Player Sign Up</h4>

              <div class="row">
                <div class="col-sm-6">
                  <fieldset class="form-group" id="playersmin">
                    <label class="form-label" for="hostmin">Minimum players *</label>
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input type="text" class="form-control text" name="hostmin" id="hostmin" placeholder="2" value="2"></input>
                    </div>
                  </fieldset>
                </div>
                <div class="col-sm-6">
                  <fieldset class="form-group" id="playersmax">
                    <label class="form-label" for="hostmax">Maximum players *</label>
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input type="text" class="form-control text" name="hostmax" id="hostmax" value="10"></input>
                    </div>
                  </fieldset>
                </div>

                <div class="col-sm-12">
                  <fieldset class="form-group" id="playersmin">
                    <input type="checkbox" id="autoaccept" name="autoaccept" checked>
                    <label class="form-label" for="autoaccept">Automatically accept users when they request to join this event</label>
                  </fieldset>
                </div>

              </div>
            </div>
          </div>

          <div v-if="experience!=6 && experience!=11" class="panel panel-default">
            <div class="panel-body card-1">
              <h4>Venue details</h4>
              <div class="row">
                <div class="col-sm-6">
                  <fieldset class="form-group">
                    <label class="form-label" for="price">Entry fee</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" class="form-control text" name="price" id="price" placeholder="0.00"></input>
                    </div>
                  </fieldset>
                </div>
                <div class="col-sm-6">
                  <fieldset class="form-group">
                    <label class="form-label" for="currency">Currency</label>
                    <select class="form-control" id="currency" name="currency">
                      <option value="AUD">Australian Dollar (AUD)</option>
                      <option value="CAD">Candian Dollar (CAD)</option>
                      <option value="EUR">Euro (EUR)</option>
                      <option value="NZD">New Zealand Dollar (NZD)</option>
                      <option value="USD">United States Dollar (USD)</option>
                    </select>
                  </fieldset>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6">
                  <fieldset class="form-group">
                    <label class="form-label" for="hostsmoking">Smoking</label>
                    <select v-model="hostsmoking" class="form-control" id="hostsmoking" name="hostsmoking">
                      <option value="1" selected="selected">No Smoking</option>
                      <option value="2">Smoking is OK</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-sm-6">
                  <fieldset class="form-group">
                    <label class="form-label" for="hostalcohol">Alcohol</label>
                    <select v-model="hostalcohol" class="form-control" id="hostalcohol" name="hostalcohol">
                      <option value="1">No alcohol thank you</option>
                      <option value="2" selected="selected">I don't mind if people want to drink</option>
                    </select>
                  </fieldset>
                </div>

              </div>
            </div>
          </div>

          <div v-if="timeslots.length < 1" class="panel panel-default">
            <div class="panel-body card-1">
              <h4>Visibility</h4>
              <div class="row">
                <div class="col-sm-12">
                  <fieldset class="form-group">
                    <select v-model="public" class="form-control" id="experience" name="publish">
                      <option value="1">Private, only invited people can see this event</option>
                      <option value="2">Public, anyone can find this event</option>
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

        <hr>

        <div class="row">
          <div class="col-xs-12 buttons-area">
            <fieldset class="pull-right">
              <button type="button" id="cancel" class="btn btn-default">Cancel</button>
              <button id="nextverify" class="btn btn-primary">Create Event <i class="fa fa-arrow-circle-right"></i></button>
            </fieldset>
          </div>
        </div>

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

  </article>

{{>footer}}

  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.fittext.js"></script>
  <script src="/js/wow.min.js"></script>

  <script src="/js/moment.js"></script>
  <script src="/js/moment-timezone-with-data.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap-clockpicker.min.js"></script>
  <script src="/js/bootstrap-select.min.js"></script>

  <!-- typeahead -->
  <script src="/js/typeahead/typeahead.bundle.js"></script>
  <script src="/js/ramda.min.js"></script>
  <script src="/js/lightpick.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/js/creative.js"></script>
  <script src="/js/jquery.backstretch.min.js"></script>
  <script src="/js/scripts.js"></script>

  <!--[if lt IE 10]>
      <script src="/assets/js/placeholder.js"></script>
  <![endif]-->

  <script src = "/js/markdown-it.min.js"></script>
  <script src = "/js/markdown-it-emoji.min.js"></script>

  <script>
    $(document).ready(function() {

      setuppage('{{user.email}}', '{{boardgameserviceurl}}');

      $('#playarea').typeahead(
        {
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          source: function(query, sync, process) 
          {
            return $.ajax({
              type: "GET",
              url: "/api/v1/locations",
              dataType: "json",
              data: {search: query},
              success: function(data) {
                return process(R.map(R.path(['place','address']), data));
              }
            });
          }
        }
      );
    });
  </script>

  <script src="js/hostgame.js?v=0.7f"></script>
