    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div id="wrapper">

      {{>navbars}}

        <div id="maincontent" class="container-fluid">

            <div class="row" id="listhead">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        <i class="fa fa-cubes"></i> {{event.name}} Game Library 
                    </h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>

{{>headerbuttons}}

            {{#each warnings}}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-{{bstrapclass}} card-1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-1 text_{{bstrapclass}}">
                                    <i class="fa {{panelrow.faicon}} fa-2x"></i>
                                </div>
                                <div class="col-xs-9">
                                    {{panelrow.text}} 
                                    {{#if panelrow.input}}
                                    <input id="{{panelrow.input.id}}" class="{{panelrow.input.class}}" placeholder="{{panelrow.input.placeholder}}"></input>
                                    {{/if}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-2">
                                        <button id="{{panelrow.button.id}}" class="btn btn-{{bstrapclass}}">{{panelrow.button.text}} <i class="fa {{panelrow.button.faicon}}"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {{/each}}

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default card-1">
                        <div class="panel-heading">
                            <i class="fa fa-cube fa-fw"></i> Games Available 
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body"></div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="gamelist">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Cover</th>
                                        <th>Name</th>
                                        <th>Players</th>
                                        <th>Play Time</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {{#each event.games}}

                                    <tr id="row{{id}}">
                                        <td><button id="reserve-{{id}}" class="btn btn-primary bookgame" type="button" data-gameid="{{id}}">Reserve Game</button></td>
                                        <td><a href="http://www.boardgamegeek.com/boardgame/{{id}}"><img src="{{thumbnail}}" class="media-object center-block img-responsive" style="max-height:64px"></img></a></td>
                                        <td><a href="http://www.boardgamegeek.com/boardgame/{{id}}"><p>{{name}}</a> {{#if label}}<span class="{{label.class}}">{{label.text}}</span>{{/if}}</td></p>
                                        <td>{{minplayers}}-{{maxplayers}} <i class = "fa fa-users"></i></td>
                                        <td><i class = "fa fa-clock-o"></i> {{minplaytime}}-{{maxplaytime}} mins</td>
                                    </tr>

                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>


    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/ramda.min.js"></script>

    <script src="js/ramda.min.js"></script>

    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <script>
      
    $('#gamename').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            source: function(query, sync, process) 
            {
                var ajaxCall = $.ajax({
                    type: "POST",
                    url: "/game",
                    dataType: "json",
                    data: {typeahead: query}
                });
                return ajaxCall.done(process);
            }
        }
    );
    
    // $(document).ready(function(){
    $(document).ready(function() {

        $('.bookgame').on('click', function(event) {
            window.location.href = "booking?event={{event.pageslug}}&gameid=" + $(this).data('gameid')
        });

        {{#each warnings}}

        {{#if script.warning}}
        $('#addbgg').on('click', function() {
            addbggUser('#addbgg', $('#bggname').val());
        });
        {{/if}}

        {{#if script.info}}
        $('#sync').on('click', function() {
            addbggUser('#sync', '{{script.bggname}}');
        });
        {{/if}}

        {{#if script.success}}
        $('#forcesync').on('click', function() {
            addbggUser('#forcesync', '{{script.bggname}}');
        });
        {{/if}}

        {{/each}}

    });

    var addbggUser = function(buttonname, bggname) {

        $(buttonname).prop('disabled', true);

        $(buttonname + ' > i').removeClass('fa-add');
        $(buttonname + ' > i').addClass('fa-refresh');
        $(buttonname + ' > i').addClass('fa-spin');

        var ajaxCall = $.ajax({
            type: "PATCH",
            url: "/api/v1/accounts/{{user.email}}",
            timeout: 60000,
            dataType: "json",
            data: {bggname: bggname},
            cache: false
        });

        ajaxCall.done(function(result) {
            $('.fa-refresh').removeClass('fa-spin');
            $(buttonname).prop('disabled', false);
            window.location.href = "collection";
        });

        ajaxCall.fail(function(e, errortext) {
            $('.fa-refresh').removeClass('fa-spin');
            $(buttonname).prop('disabled', false);

            if (e.status == 404) {
                alert('The BGG username was not found, or BGG did not respond. If your BGG name is correct, then the site will attempt to update it at a later time');
                $('#addbgg').focus();

            } else if(e.status == 401) {
                window.location.href = "login";

            } else { 
                alert('error:' + JSON.stringify(e));
            };
        });

    };

    var hostGame = function(id, labelName, isOwned) {
        window.location.href = "hostgame?" + labelName + "=" + id + "&isowned=" + isOwned;
    };

    </script>

<!--
</body>
-->
