      <div class="containerx">
        <div v-cloak class="login-form">
          <form role="form" action="" method="post" @submit="submitLoginForm">

            <div class="rfglogo32 itemx">
              <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
              <span class="brandname">Roll for Group</span>
            </div>

            <div class="headertext itemx">
              <h2>Log in</h2>
              <span>Lets play board games</span>
            </div>

            <div class="email itemx">
              <label class="" for="form-username">Email Address</label>
              <a href="/docs/useraccount.html" class="labelanchor pull-right" target="_blank">Need help?</a>
              <input v-model="formusername" type="email" name="form-username" placeholder="Email..." class="form-input" id="form-username">
            </div>

            <div class="password itemx">
              <label class="" for="form-password">Password</label>
              <a href="/forgot" class="labelanchor pull-right" target="_blank">Forgot?</a>
              <input v-model="formpassword" :type="getPasswordType(showpassword)" name="form-password" placeholder="Password..." class="form-input" id="form-password" @keyup="detectCaps">
              <div v-if="whenCapsIsOn" class="alert alert-warning alertspacing" role="alert">The Caps Lock key is on!</div>

              <div v-if="showLogonError" class="alert alert-danger alertspacing" role="alert"><span>\{{errortext}}</span></div>
              <div v-if="showLogonFailure" class="alert alert-danger alertspacing" role="alert"><span>The username or password was incorrect!</span></div>

              <div class="showpassword">
                <input v-model="showpassword" type="checkbox" id="showpassword"></input> <label class="" for="showpassword">Show Password</label>
              </div>
            </div>

            <div class="loginbutton itemx">
              <button type="submit" class="btn" name="login" id="loginbutton" >Next</button>
            </div>

            <div class="createaccount itemx">
              <span>New to RFG? <a href="/signup">Get Started</a></span>
            </div>

            <div class="facebookbutton itemx">
              <a class="btn btn-link-2" href="/login/facebook" id="facebookbutton">
                <i class="fa fa-facebook"></i> Log in with Facebook
              </a>
            </div>

            <div class="googlebutton itemx">
              <a class="btn btn-link-3" href="/auth/google" id="googlebutton">
                <img src="img/btn_google_dark_focus_ios.png"></img> Sign in with Google 
              </a>
            </div>

          </form>
        </div>

        <div class="bottomspace">
        </div>

        <div class="newfooter">
          <span id="about"><a href="about" class="terms">About</a></span>
          <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
          <span id="privacy"><a href="privacy" class="terms">Terms & Conditions</a></span>
        </div>

      </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>

    <!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
    <![endif]-->

    <script src="js/login.js?v=0.1"></script>
