
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">

                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="alert alert-danger">
                                Your username and password could not be authenticated.
                                <button class="btn btn-default" onclick="location.href='signup'" type='button'>Create An Account</button>
                            </div>
                            <div class="alert alert-warning">
                                <strong><i class="fa fa-warning"></i> Having trouble logging in?</strong> Check our <a href="docs/userforgotpassword.html" target="_blank">support documentation</a> for help.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-md-offset-1 loginscreenback">

                           <div class="col-sm-6 loginimg">
                                <img class="login-image" src="img/agricola-1.jpg"></img>
                            </div>

                            <div class="col-sm-6 loginback text-center">

                                <img src="img/rfg-logo-whiteglow-64.png" id="brandlogo64"></img>
                                <div class="uvp">
                                    <span>Welcome to Roll for Group, the meet up site for board gamers</span> 
                                </div>

                                <div class="social-login-buttons">
                                    <a class="btn btn-link-2 col-xs-12" href="/login/facebook">
                                        <i class="fa fa-facebook"></i> Continue with Facebook
                                    </a>
                                    <a class="btn btn-link-3 col-xs-12" href="/auth/google">
                                        <img src="img/btn_google_dark_focus_ios.png"></img> Sign in with Google 
                                    </a>
                                </div>

                              <form role="form" action="/login" method="post" class="login-form">
                                <div class="form-group form-group-lg">
                                    <label class="sr-only" for="form-username">Email</label>
                                    <input type="email" name="form-username" placeholder="Email..." class="form-username form-control" id="form-username" />
                                  </div>
                                  <div class="form-group form-group-lg">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                                  </div>

                                  <button type="submit" class="btn btn-xl btn-link-1 col-xs-12" name="login">Log in with Email</button>

                                    <div class="forgotlink">
                                        <a href="/forgot">Forgot Password?</a>
                                        <a href="/signup">Create Account</a>.
                                        <a href="/docs/useraccount.html">Support</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {{>footer}}

        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>



        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
