<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

	<!-- plugin stylesheet -->
	<link rel="stylesheet" href="css/jquery.mThumbnailScroller.css">

  {{>navbars}}
  <article id="maincontent">

    <div id="wrapper">
        {{>player-nav}}

      <script src="js/socket.io.js"></script>
      <script src="js/jquery.textarea_autosize.min.js"></script>

      <div id="maincontent" class="container-fluid">
        <div class="row" id="listhead">
          <div class="col-lg-12">
            {{#if heading.h4}}
            <h4><i class="fa fa-map-marker fa-fw"></i> {{heading.h4.text}}</h4>
            {{/if}}
          </div>
        </div>

        <div class="row" id="warningarea">
          {{#if novisibility}}
          <div class="col-lg-12">
            <div class="alert alert-info" id="novis">
              <p><i class="fa fa-warning fa-2x"></i> You can not be found by other nearby players, because your profile is not visible!</p>
              <p><button type="button" class="btn btn-warning" id="makepublic">Make Public</button></p>
            </div>
          </div>
          {{/if}}
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-8 col-lg-9">
            <div id="panel-chat" v-cloak class="panel panel-default card-1 citychat">
              <div class="panel-heading clearfix">
                <i class="fa fa-comments-o"></i> Player Chat
              </div>
              <div class="panel-body chat-panel-long">
                <ul class="chat">
                 <li v-for="post in publicForums" class="left clearfix">
                    <span class="chat-img pull-left">
                      <img v-bind:src="post.avataricon" alt="User Avatar" v-bind:class="post.imgclass" />
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <a v-bind:href="post.link" target="_blank"><small v-bind:class="post.textclass">\{{post.thread.username}}</small></a> 
                        <small class="pull-right text-muted">
                          <span class="glyphicon glyphicon-time"></span>
                          \{{post.fromNow}}
                        </small>
                      </div>
                      <div v-bind:class="post.textclass">
                      </div>
                      <div class="threadcomments" v-bind:data-thread="post.thread.comment">
                        \{{post.thread.comment}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              {{#if novisibility}}
              <div class="alert alert-warning">
                <i class="fa fa-warning"></i><span> Make your account publically visible to be seen, and chat with other gamers.</span>
              </div>
              {{else}}
              <div class="panel-footer chat-footer">
                <textarea id="btn-input" name="postdata" type="text" placeholder="Introduce yourself, ask other gamers a question, find players, and organise a boardgame event..." class="form-control col-xs-12 js-auto-size" rows="1" style="margin-bottom:10px;" v-on:keypress="chatPressKey"></textarea>
                <button v-on:click="publicDiscussion($('#btn-input').val())" class="btn btn-success" id="btn-chat"><i class="fa fa-newspaper-o"></i> Post Message</button>
                <small>
                  <a href="http://commonmark.org/help/" target="_blank">Formatting Help.</a>
                </small>
              </div>
              {{/if}}
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
          <div id="panel-user" class="panel panel-default card-1 activeuserlist">
            <div class="panel-heading clearfix">\{{emojiview}} Online Users ( \{{playercount}} )</div>
              <table v-cloak class="table userlist">
                <thead>
                  <tr>
                    <th>Level</th>
                    <th></th>
                    <th>Player</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-hide v-for="user in users">
                    <td>
                      <div style="min-height: 70px; padding-top:22px;">
                        <i class="fa fa-trophy"></i> \{{user.playlevel}}    
                      </div>
                    </td>
                    <td><img v-bind:class="user.imgclass" v-bind:src="user.avataricon"></img></td>
                    <td><a v-bind:href="user.link" v-bind:class="user.textclass" target="_blank">\{{user.name}}</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /#panel-{{userpanels.id}} -->

          </div>
          <!-- col-md-4 -->

        </div>
        <!-- /#row -->

        <div class="row">
            <div class="col-lg-12" id="matchlist">
            </div>
        </div>

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

  </article>

{{>footer}}

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap-clockpicker.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/loadingbar/loadingoverlay.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/moment.js"></script>
<script src="js/markdown-it.min.js"></script>
<script src="js/markdown-it-emoji.min.js"></script>
<script src="js/ramda.min.js"></script>

<!-- Thumbnail plugin script -->
<script src="js/jquery.mThumbnailScroller.min.js"></script>

<!-- typeahead -->
<script src="js/typeahead/typeahead.bundle.js"></script>

<script>

    var alertObj = function(text) {
        alert(text);
        return text;
    };

    var defaults = {
        html:         false,        // Enable HTML tags in source
        xhtmlOut:     false,        // Use '/' to close single tags (<br />)
        breaks:       true,        // Convert '\n' in paragraphs into <br>
        langPrefix:   'language-',  // CSS language prefix for fenced blocks
        linkify:      true,         // autoconvert URL-like texts to links
        typographer:  true,        // Enable smartypants and other sweet transforms
    };
    var mdHtml = window.markdownit(defaults).use(window.markdownitEmoji);

    // sumbitUserData :: JSONObj
    const submitUserData = function(userdata) {

        // Show full page LoadingOverlay
        $.LoadingOverlay("show");
        var ajaxCall = $.ajax({
            type: "PATCH",
            url: "/api/v1/accounts/{{user.email}}",
            timeout: 60000,
            dataType: "json",
            data: userdata,
            cache: false
        });

        ajaxCall.done(function(result) {
            $.LoadingOverlay("hide");
            $('#saved').modal()
            window.location.href = "lounge";
        });

        ajaxCall.fail(function(e, errortext) {
            alert(errortext);
            $.LoadingOverlay("hide");
            $('#setlocation').focus();
        });

    };

    // socket
    var socket = io();

    socket.on('citychat', function(msg){

      if (!document.hasFocus()) {
        typeUserAudio.play();
      }

      vuPublicForum.publicForums = R.append(msg, vuPublicForum.publicForums);
      vuPublicForum.publicForums = R.map(vuPublicForum.calcFromNow, vuPublicForum.publicForums);
      setTimeout(function() {
        $('.threadcomments').each(function() {
          $(this).html(mdHtml.render($(this).data('thread')));
        })
      }, 100);
      setTimeout(function() {
        $('.chat-panel-long').animate({
          scrollTop: $('.chat-panel-long')[0].scrollHeight.toString() + 'px'
        });
      }, 200);
    });

    // countUsers :: o -> n
    const countUsers = R.compose(R.length, R.toPairs, R.groupBy(R.prop('pageslug')), R.prop('users'));


    // load audio
    var newUserAudio = new Audio('img/user-join.wav');
    var leaveUserAudio = new Audio('img/user-leave.wav');
    var typeUserAudio = new Audio('img/user-type.wav');

    socket.on('citychatadmin', function(user){

      if (countUsers(user) >= countUsers(vuUsers)) {
        newUserAudio.play();
      } else if (countUsers(user) <= countUsers(vuUsers)) {
        leaveUserAudio.play();
      };

      if (countUsers(user) != countUsers(vuUsers)) {

        vuUsers.users = user.users;
        vuUsers.playercount = user.playercount;

        if (countUsers(vuUsers) == 0) {
          vuUsers.emojiview = '';
        } else if (countUsers(vuUsers) == 1) {
          vuUsers.emojiview = '👤 ';
        } else {
          vuUsers.emojiview = '👥 ';
        };

      }
    });

    $(document).ready(function() {

      vuPublicForum.setupAutoSize();
      socket.emit('citychatadmin', {
        user: '{{user.email}}',
        status: 'connect' 
      });

      $("#info a").click(function(e){
        e.preventDefault();
        var $this=$(this),
          el=$this.attr("rel"),
          to=$this.attr("href").split("#")[1];
        if(to==="center-white"){
          to=$("#white").position().left+($("#white").width()/2)-($(el).find(".mTSWrapper").width()/2);
        }else if(to==="yellow"){
          to=$("#yellow");
        }else if(to==="by-100"){
          to="-=100";
        }
        $(el).mThumbnailScroller("scrollTo",to);
      });

        $('.fatooltip').tooltip();

        {{#if user.name}}
        $("#yourname").hide();
        {{/if}}


        {{#if novisibility}}
        // updateProfile :: JSONObj
        const updateProfile = function() {

            // Show full page LoadingOverlay
            var ajaxCall = $.ajax({
                type: "PATCH",
                url: "/api/v1/accounts/{{user.email}}",
                timeout: 60000,
                dataType: "json",
                data: {visibility: 1},
                cache: false
            });

            ajaxCall.done(function(result) {
                $('#saved').modal()
                window.location.href = "lounge";
            });

            ajaxCall.fail(function(e, errortext) {
                if (e.status == 404) {
                    alert('The BGG username was not found');

                } else { 
                    alert('error:' + JSON.stringify(e));

                };
            });
        };
        {{/if}}

        {{#if sections}}
        $('#updatemotive').on('click', function(event) {

            var userdata = {};
            var checkcount = 0;

            $('input').each(function() {
                if ($(this).is(':checkbox')) {
                    userdata = R.assoc($(this).attr('id'), $(this).prop('checked'), userdata);
                    if ($(this).prop('checked'))
                        checkcount++ ;
                } else {
                    if (R.not(R.isNil(($(this).data('before')) && R.isEmpty($(this).val()))) && ($(this).data('before') != $(this).val())) {
                        userdata = R.assoc($(this).attr('id'), $(this).val(), userdata);
                    };
                }
            });

            if (checkcount <= 6)  {

                // Show full page LoadingOverlay
                $.LoadingOverlay("show");
                var ajaxCall = $.ajax({
                    type: "PATCH",
                    url: "/api/v1/accounts/{{user.email}}",
                    timeout: 60000,
                    dataType: "json",
                    data: userdata,
                    cache: false
                });

                ajaxCall.done(function(result) {
                    $.LoadingOverlay("hide");
                    window.location.href = "lounge";
                });

                ajaxCall.fail(function(e, errortext) {
                    $.LoadingOverlay("hide");
                    alert('error:' + JSON.stringify(e));
                });

            } else {
                alert("Please select less motives. We understand you love board games, but selecting too many motives won't help identifying compatible players. Instead, select your top priority motives only.");

            };

        });
        {{/if}}


        $('#hostgame').on('click', function(event) {
          window.location.href = "/hostgame";
        }); 

        $('#hostgameconv').on('click', function(event) {
          window.location.href = "/hostgame?event=lfgaustralia2017";
        }); 

        $('#makepublic').on('click', function(event) {
          updateProfile();
        }); 

        $('#setlocation').typeahead(
          {
            hint: true,
            highlight: true,
            minLength: 1
          },
          {
            source: function(query, sync, process) {
              return $.ajax({
                type: "GET",
                url: "/api/v1/locations",
                dataType: "json",
                data: {search: query},
                success: function(data) {
                  cityResults = data;
                  return process(R.map(R.path(['place','address']), data));
                }
              });
            }
          }
        );

    });

</script>

<script>

    // publicforum
    var vuPublicForum = new Vue({
      el: '.citychat',
      data: {
        publicForums:   []
      },
      methods: {
        setupAutoSize: function() {
          $('.js-auto-size').textareaAutoSize();
        },
        calcFromNow: function(threadObj) {
          const localTime = function (gmttime) {
            return moment(gmttime).fromNow();
          };
          return R.compose(R.merge(threadObj), R.objOf('fromNow'), localTime, R.path(['thread', 'postdate']))(threadObj);
        },
        publicDiscussion: function(discussion) {
          {{#if user.email}}
          if ($('#btn-input').val() == "") {
            alert("Please type something to post");
            $('#btn-input').focus();
          } else {
            socket.emit('citychat', {
              user: '{{user.email}}',
              discussion: discussion
            });
            $('#btn-input').val('');
            $('#btn-input').focus();
          }
          {{else}}
          if (confirm("You need to be logged in to post. Do you want to create an account now?"))
            window.location.href = '/signup?matchkey={{key}}&quad=1';
          {{/if}}
        },
        chatPressKey: function(event) {
          if(event.key == "Enter" && !event.shiftKey) {
            event.preventDefault();
            vuPublicForum.publicDiscussion($('#btn-input').val());
          }
        }
      }
    });

    // userList 
    var vuUsers = new Vue({
      el: '.activeuserlist',
      data: {
        users: [],
        playercount: 0,
        emojiview: ''
      },
      methods: {

      }
    });



</script>



<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->
