    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src = "js/jquery.textarea_autosize.min.js"></script>
    <script src = "js/markdown-it.min.js"></script>
    <script src = "js/markdown-it-emoji.min.js"></script>

    {{>navbars}}
    <article id="maincontent">

      {{>player-nav}}

      <div id="wrapper">
        <div id="maincontent" class="container-fluid">

          <div class="row">
            <div v-cloak class="col-lg-12" id="inboxpanel">
              <ol class="nav nav-pills" style="margin-bottom:20px">
                <li role="presentation" v-bind:class="inboxPillsClass">
                  <a href="mail"><i class="fa fa-envelope"></i> Inbox</a>
                </li>
                <li role="presentation" v-bind:class="outboxPillsClass">
                  <a href="mail?mailtype=outbox"><i class="fa fa-envelope-o"></i> Outbox</a>
                </li>
              </ol>
              <div class="panel panel-default card-1" v-if="showMailList">
                <div class="panel-heading"></div>
                  <table class="table table-hover table-striped">
                    <tr>
                      <th></th>
                      <th>\{{showFromToText}}</th>
                      <th>Subject</th>
                      <th>Date</th>
                      <th>Time</th>
                    </tr>
                    <tr v-for="mail in mails" v-bind:class="buildRowClass(mail.status)">
                      <td>
                        <a v-bind:href="mail.fromlink">
                          <img v-bind:src="mail.thumbnail" class="imglistcircle img-circle fatooltip imglistcircle-standard"></img>
                        </a>
                      </td>
                      <td><a v-bind:href="mail.fromlink">\{{mail.name}}</a></td>
                      <td><a v-bind:href="mail.href">\{{mail.subject}}</a></td>
                      <td v-text="convertDate(mail.date)"></td>
                      <td v-text="convertTime(mail.date)"></td>
                    </tr>
                  </table>
                </div>
                <!-- .panel-heading -->

                <div class="media" v-if="showMessage">
                  <ol class="breadcrumb">
                    <li>
                      <a v-bind:href="message.fromlink">
                       <i class="fa fa-user"></i> \{{message.name}}
                      </a>
                    </li>
                    <li class="active">\{{message.subject}}</li>
                  </ol>
                  <div class="media-heading mail-subject">
                    \{{message.subject}}
                  </div>
                  <div class="media-left">
                    <a href="#">
                      <img v-bind:src="message.thumbnail" class="media-object imglistcircle img-circle fatooltip imglistcircle-standard">
                    </a>
                  </div>
                  <div class="media-body">
                    <div>
                      \{{showFromToText}}: <a v-bind:href="message.fromlink"><span class="mailname">\{{message.name}}</span></a>
                      <span class="pull-right text-muted small">
                        <em>\{{convertDate(message.date)}} \{{convertTime(message.date)}}</em>
                      </span>
                    </div>
                    <div id="mailtext" class="mail-messagearea" v-html="message.rendered"></div>
                  </div>

                  <div class="panel-footer create-mail">
                    <div v-if="showQuote" id="quotecheck" class="col-xs-12">
                      <div class="checkbox">
                        <label>
                          <input id="quote" type="checkbox" name="quote" checked>Quote Original Message In Reply</input>
                        </label>
                      </div>
                    </div>
                    <div id="sendmaildiv" class="col-xs-12" style="margin-bottom:20px;">
                      <input id="subject" name="subject" type="text" placeholder="Subject ..." class="form-control col-xs-12" style="margin-bottom:10px;" maxlength="250" v-bind:value="message.subject"></input>
                      <textarea id="btn-input" name="postdata" type="text" placeholder="Message ..." class="form-control col-xs-12 js-auto-size" rows="12" style="margin-bottom:10px;"></textarea>
                      <button v-on:click="messageReply($('#subject').val(), $('#btn-input').val())" class="btn btn-primary" id="btn-chat"><i class="fa fa-envelope-o"></i> Send Mail</button>
                      <small><a href="http://commonmark.org/help/" target="_blank">Formatting Help.</a></small>
                    </div>
                  </div>
                </div>
                <!-- #messagepanel -->

              </div>
              <!-- #inboxpanel -->

            </div>
            <!-- col-lg-12 -->
          </div>
          <!-- row -->
      </div>
      <!-- /#wrapper -->

    </article>

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
      var vuMails = new Vue({
        el: '#inboxpanel',
        data: {
          mails: [],
					showMailList  : false,
					showMessage   : false,
          showQuote     : false,
          showFromToText: '',
          inboxPillsClass: '',
          outboxPillsClass: '',
          message: {
            name    	    : '',
            fromlink      : '',
            userlink      : '',
            pageslug      : '',
						thumbnail	    : '',
            subject 	    : '',
            text    	    : '',
            date    	    : new Date() 
          },
        },
        methods: {
          initMails: function(mailid, userid, mailtype) {
						if (mailid !== null) {
              vuMails.showUserPrivateMail(mailid);
            } else if (userid !== null) {
							vuMails.showUser(userid);
						} else {
              if (mailtype === 'outbox') {
                vuMails.showUserSentPrivateMails();
              } else {
                vuMails.showUserPrivateMails();
              }
						}
          },
          convertDate: function(indate) {
            return moment(indate).format('D MMM YY');
          },
          convertTime: function(indate) {
            return moment(indate).format('LT');
          },
          buildRowClass: function(messageType) {
            return (messageType === "new")
              ? 'mail-unread'
              : 'mail-read'
          },
          showUserPrivateMails: function() {
            const mergeHref = function(obj) {
              return R.merge({
                href: "mail?mailid=" + R.prop('mailid', obj) 
              }, obj);
            };

            const mergeFromLink = function(obj) {
              return R.merge({
                userlink: "users?id=" + R.prop('pageslug', obj),
                fromlink: "mail?userid=" + R.prop('pageslug', obj),
                pageslug: R.prop('pageslug', obj) 
              }, obj);
            };

            $.ajax({
              type: "GET",
              url: "/api/v1/accounts/{{user.email}}/privatemails",
              dataType: "json",
              data: {},
              cache: false
            }).done(function(x) {
              const buildMails = R.compose(
                R.map(mergeFromLink), 
                R.map(mergeHref)
              );
							vuMails.showMailList = true;
							vuMails.showMessage  = false;
              vuMails.showQuote    = false;
              vuMails.showFromToText = 'From';
              vuMails.inboxPillsClass = 'active';
              vuMails.outboxPillsClass = '';
              vuMails.mails = buildMails(x.privatemails);
            })
          },
          showUserSentPrivateMails: function() {
            const mergeHref = function(obj) {
              return R.merge({
                href: "mail?mailid=" + R.prop('mailid', obj) 
              }, obj);
            };
            const mergeToLink = function(obj) {
              return R.merge({
                userlink: "users?id=" + R.prop('pageslug', obj),
                fromlink: "mail?userid=" + R.prop('pageslug', obj),
                pageslug: R.prop('pageslug', obj) 
              }, obj);
            };
            $.ajax({
              type: "GET",
              url: "/api/v1/accounts/{{user.email}}/privatemails",
              dataType: "json",
              data: {mailtype:  'outbox'},
              cache: false
            }).done(function(x) {
              const buildMails = R.compose(
                R.map(mergeToLink), 
                R.map(mergeHref)
              );
							vuMails.showMailList = true;
							vuMails.showMessage  = false;
              vuMails.showQuote    = false;
              vuMails.showFromToText = 'To';
              vuMails.inboxPillsClass = '';
              vuMails.outboxPillsClass = 'active';
              vuMails.mails = buildMails(x.privatemails);
            })
          },
          showUserPrivateMail: function(mailid) {
            $.ajax({
              type    : 'PATCH',
              url     : '/api/v1/accounts/{{user.email}}/privatemails/' + mailid,
              dataType: 'json',
              data: {},
              cache: false
            }).done(function(x) {
							vuMails.showMailList = false;
							vuMails.showMessage  = true;
              vuMails.showQuote    = true;
							vuMails.message = x;
              vuMails.message.rendered = mdHtml.render(x.text);
              vuMails.message.fromlink = "mail?userid=" + x.pageslug;
              vuMails.message.userlink = "users?id=" + x.pageslug;
              vuMails.message.pageslug = x.pageslug;
              vuMails.showFromToText = (vuMails.message.mailtype === 'outbox') 
                ? 'To'
                : 'From'
            }).catch(function(err) {
							alert(JSON.stringify(err));
						})
          },
          showUser: function(userid) {
            $.ajax({
              type    : 'GET',
              url     : '/api/v1/accounts/' + userid,
              dataType: 'json',
              data: {},
              cache: false
            }).done(function(x) {
							vuMails.showMailList    = false;
							vuMails.showMessage     = true;
              vuMails.showQuote       = false;
              vuMails.message.name    = x.name;
              vuMails.message.thumbnail = x.avataricon;
              vuMails.message.fromlink = "users?id=" + userid;
              vuMails.message.userlink = "users?id=" + userid;
              vuMails.showFromToText = 'To';
              vuMails.message.pageslug = userid;
              vuMails.message.date = new Date();
            }).catch(function(err) {
							alert(JSON.stringify(err));
						})
            vuMails.showMailList    = false;
            vuMails.showMessage     = true;
          },
          buildReplyText: function(replyCheck) {
            return replyCheck
              ? '\n\n > ' + '*in reply to ' + vuMails.message.name + '* @ ' + vuMails.convertDate(vuMails.message.date) + ' ' + vuMails.convertTime(vuMails.message.date) + '\n ' + vuMails.message.text.replace(/\n/g,'\n> ')
              : '';
          },
					messageReply: function(subject, text) {
            $.ajax({
              type    : 'POST',
              url     : '/api/v1/accounts/{{user.email}}/privatemails',
              dataType: 'json',
              data: {
                pageslug  : vuMails.message.pageslug,
                subject   : subject,
                text      : $('#btn-input').val() + vuMails.buildReplyText($('#quote').is(':checked')) 
              },
              cache: false
            }).done(function(x) {
              alert('Your message was sent...');
              window.location.href = "/mail?mailtype=outbox";
            }).catch(function(err) {
              alert('An error occured while trying to send this mail, please ensure you are logged in');
						})
					},
        }
      });

    </script>


    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/ramda.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

    <script>
   
		// getParameterByName :: s -> s -> s
		function getParameterByName(name, url) {
			if (!url) url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		};

    var defaults = {
      html:         false,        // Enable HTML tags in source
      xhtmlOut:     false,        // Use '/' to close single tags (<br />)
      breaks:       true,        // Convert '\n' in paragraphs into <br>
      langPrefix:   'language-',  // CSS language prefix for fenced blocks
      linkify:      true,         // autoconvert URL-like texts to links
      typographer:  true,        // Enable smartypants and other sweet transforms
    };
    var mdHtml = window.markdownit(defaults).use(window.markdownitEmoji);

    $(document).ready(function() {

      vuMails.initMails(getParameterByName('mailid'), getParameterByName('userid'), getParameterByName('mailtype'));
      $('#hostgame').on('click', function(event) {
        window.location.href = "/hostgame";
      }); 

    });

    </script>

<!--
</body>
-->
