    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src = "/js/moment.js"></script>
    <script src = "/js/lightpick.js"></script>
    <script src = "/js/he.js"></script>
    <script src = "/js/markdown-it.min.js"></script>
    <script src = "/js/markdown-it-emoji.min.js"></script>
    <script src = "/js/jquery.textarea_autosize.min.js"></script>

    <div class="modal fade loginpopup" id="popUpWindow">
      <div class="modal-dialog">
        <div class="containerx">
          <div class="login-form">

            <form role="form" action="/login" method="post" @submit="submitLoginForm">

              <div class="headertext itemx">
                <h2>Log in</h2>
                <span>Lets play board games</span>
              </div>

              <div class="email itemx">
                <label class="" for="form-username">Email Address</label>
                <a href="/docs/useraccount.html" class="labelanchor pull-right" target="_blank">Need help?</a>
                <input v-model="formusername" type="email" name="form-username" placeholder="Email..." class="form-input" id="form-username">
                <input v-model="eventid" type="hidden" name="redirect" id="redirect">
              </div>

              <div class="password itemx">
                <label class="" for="form-password">Password</label>
                <a href="/forgot" class="labelanchor pull-right" target="_blank">Forgot?</a>
                <input v-model="formpassword" :type="getPasswordType(showpassword)" name="form-password" placeholder="Password..." class="form-input" id="form-password" @keyup="detectCaps">
                <div v-if="whenCapsIsOn" class="alert alert-warning alertspacing" role="alert">The Caps Lock key is on!</div>

                <div v-if="showLogonError" class="alert alert-danger alertspacing" role="alert"><span>\{{errortext}}</span></div>
                <div v-if="showLogonFailure" class="alert alert-danger alertspacing" role="alert"><span>The username or password was incorrect!</span></div>

                <div class="showpassword">
                  <input v-model="showpassword" type="checkbox" id="showpassword"></input> <label class="" for="showpassword">Show Password</label>
                </div>
              </div>

              <div class="loginbutton itemx">
                <button type="submit" class="btn" name="login" id="loginbutton" >Next</button>
              </div>

              <div class="createaccount itemx">
                <span>New to RFG? <a href="/signup">Get Started</a></span>
              </div>

              <div class="facebookbutton itemx">
                <a class="btn btn-link-2" href="/login/facebook" id="facebookbutton">
                  <i class="fa fa-facebook"></i> Log in with Facebook
                </a>
              </div>

              <div class="googlebutton itemx">
                <a class="btn btn-link-3" href="/auth/google" id="googlebutton">
                  <img src="/img/btn_google_dark_focus_ios.png"/> Sign in with Google 
                </a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade loginpopup" id="joinUpWindow">
      <div class="modal-dialog">
        <div class="containerx">
          <div class="login-form">

            <div class="headertext itemx">
              <h2>Join Up</h2>
              <span>You have not signed up yet, do you want to join this event?</span>
            </div>

            <div class="loginbutton itemx">
              <button class="btn btn-primary" @click="interested"><i class="fa fa-bell"></i> Interested</button>
              <button class="btn btn-success" @click="join" ><i class="fa fa-hand-paper-o"></i> Join event</button>
              <button class="btn btn-warning" @click="close"><i class="fa fa-times"></i> Not now</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    {{>navbars}}
    <article id="maincontent">
    {{>event-nav}}

      <div id="wrapper">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">

              <div v-cloak id="makepublic" class="row">
                <div class="col-xs-12"> 
                  <div class="alert alert-info" role="alert">
                    <p>
                      <span>Share event</span>
                      <span class="fa fa-share-alt" aria-hidden="true"></span>
                      <span><a :href="geturl(reoccurenable, eventid, seriesid)">\{{geturl(reoccurenable, eventid, seriesid)}}</a></span>
                    </p>
                  </div>
                </div>
                <div v-cloak v-if="isprivate" class="col-xs-12"> 
                  <div class="alert alert-info" role="alert">
                    <p>
                      <span class="fa fa-eye-slash" aria-hidden="true"></span>
                      <span>This event is private.</span>
                      <button v-if="showEdit" id="publishPublic" @click="publishPublic('{{key}}', '{{user.email}}')" class="btn btn-primary btn-sm"><i class="fa fa-paper-plane"></i> Make Public</button>
                    </p>
                  </div>
                </div>

              </div>

              <div class="bottom-buttongroup">
                <div v-cloak id="label">
                  <div>
                    <span :class="labelClassify(label.lblClass)">\{{label.lblText}}</span>
                    <div v-if="showEdit" class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle btn-xs tips" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Change Game Tag">
                        <i class="fa fa-pencil-square-o"></i> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li v-for="label in allLabels">
                          <a class="updateLabel" @click="saveItem(label.value)" href="#">\{{label.lblText}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.bottom-buttongroup -->


              <div v-cloak id="headTitle">

                <div>
                  <div v-if="isDraft(eventStatus)" class="row">
                    <div class="alert alert-warning" role="alert">
                      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                      <span class="sr-only">Warning:</span>
                      <span>This event is a draft. The date needs to be confirmed by the host.</span>
                    </div>
                  </div>
                </div>


                <h2 class=""><img v-if="showTitle" class="brandlogo32image" src="/img/rfg-logo-whiteglow-32.png">
                  <span>\{{textTitle}}</span> 
                  <button v-if="showEdit" @click="editTitle" id="editTitle" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  <input v-model="textTitle" type="text" v-if="showSave" id="textTitle" class="form-control" v-bind:placeholder="textTitle"></input>
                  <button v-if="showSave" @click="saveTitle(textTitle)" id="saveTitle" class="btn btn-default btn-success btn-sm"><i class="fa fa-floppy-o"></i> Save</button>
                  <button v-if="showSave" @click="cancelTitle" id="cancelTitle" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                </h2>
              </div> 
            </div>
          </div>
          <!-- /.row -->

        {{#if nomatch}}
        <div class="col-lg-12">
          <div class="jumbotron" id="errormsg">
            <h1>No Event Found</h1> 
            <p>The event could not be found, or you may not have access to view the event.</p> 
          </div>
          <div class="row">
            <div>
              <fieldset class="form-bottom">
                <button id="return" class="btn btn-default btn-xl btn-link-1 btn-form pull-right card-2">Events <i class="fa fa-arrow-circle-right"></i></button>
              </fieldset>
            </div>
          </div>
        </div>

        {{else}}
        <div v-cloak class="row matchdescription">
          <div class="col-xs-12">
            <div id="notes" v-html="renderDescription(description)"></div>

            <div v-if="showSave" class="btn-group pull-right" role="group">
              <button id="headDesc" type="button" v-on:click="pressHeadDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-header"></i></button>
              <button id="boldDesc" type="button" v-on:click="pressBoldDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-bold"></i></button>
              <button id="italDesc" type="button" v-on:click="pressItalDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-italic"></i></button>
              <button id="quotDesc" type="button" v-on:click="pressQuotDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-quote-right"></i></button>
              <button id="listUlDesc" type="button" v-on:click="pressListUlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ul"></i></button>
              <button id="listOlDesc" type="button" v-on:click="pressListOlDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-list-ol"></i></button>
              <button id="linkDesc" type="button" v-on:click="pressLinkDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-external-link"></i></button>
              <button id="imagDesc" type="button" v-on:click="pressImagDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-picture-o"></i></button>
              <button id="ytubeDesc" type="button" v-on:click="pressYtubeDesc" class="btn btn-default btn-sm editmarkup"><i class="fa fa-youtube"></i></button>
              <button id="helpDescription" type="button" v-on:click="formatHelp" class="btn btn-default btn-sm">Format Help <i class="fa fa-file-text-o"></i></button>
            </div>

            <textarea v-if="showSave" type="text" id="textDescription" class="form-control" rows="10" v-model="description"></textarea>

            <button v-if="showEdit" id="editDescription" class="btn btn-default btn-sm pull-right" @click="editVisible"><i class="fa fa-pencil-square-o"></i> Edit</button>
            <button v-if="showSave" id="saveDescription" class="btn btn-default btn-success btn-sm" @click="saveDescription(description)"><i class="fa fa-floppy-o"></i> Save</button>
            <button v-if="showSave" id="cancelDescription" class="btn btn-default btn-sm" @click="cancelSave"><i class="fa fa-times"></i></button>

          </div>
        </div>

        <div v-cloak class="row" id="showdate">
          <div v-if="visible" class="col-sm-6" id="panelstartdate">
            <div class="panel panel-default paneldate" :style="style">
              <div class="panel-body">
                <span class="top-month">\{{startmonth}}</span>
                <span class="top-day">\{{startday}}</span>
                <span class="top-year">\{{startyear}}</span>

                <span class="top-dow">\{{startdow}}</span>
                <span class="top-timestart">\{{starttime}}</span>
                <span class="top-timeend">\{{endtime}}</span>
              </div>
            </div>
          </div>

          <div v-if="visible" class="col-sm-6" id="panelenddate">
            <div class="panel panel-default panelcountdown">
              <div class="panel-body">

                <div class="col-xs-3">
                  <span class="cd-title cd-title-days">days</span>
                  <span class="cd-nums">\{{countdowndays}}</span>
                </div>

                <div class="col-xs-3">
                  <span class="cd-title cd-title-hours">hours</span>
                  <span class="cd-nums">\{{countdownhours}}</span>
                </div>

                <div class="col-xs-3">
                  <span class="cd-title cd-title-minutes">mins</span>
                  <span class="cd-nums">\{{countdownminutes}}</span>
                </div>

                <div class="col-xs-3">
                  <span class="cd-title cd-title-seconds">secs</span>
                  <span class="cd-nums">\{{countdownseconds}}</span>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div v-cloak id="userbuttons" class="row">
          <div class="col-lg-12">
            <div class="matchbuttons pull-right" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button v-for="button in buttons" type="button" :class="buttonClass(button.style)" :id="button.id" :title="button.title" @click="userButtonPress(button.id)"><i :class="faClass(button.faicon)"></i> \{{button.text}}</button> 
              </div>
            </div>
          </div>
        </div>

        <div v-cloak class="row" id="timeslots">
          <div v-cloak v-if="(timeslots.length > 0) && (votevisible)" class="col-lg-12">
            <div class="panel panel-default card-1">
              <div class="panel-heading">
                <i class="fa fa-calendar"></i> Players Vote for their Best Time</i></small>
              </div>
              <table class="table table-hover table-striped">
                <tr>
                  <th>From</th>
                  <th>To</th>
                  <th></th>
                  <th>Vote</th>
                  <th v-if="userstatus=='host'">Action</th>
                </tr>

                <tr v-for="timeslot in timeslots">
                  <td style="vertical-align:middle">
                    <span class="fa fa-calendar"></span> \{{timeslot.startdate}} - \{{timeslot.starttime}} <span class="glyphicon glyphicon-time"></span>
                  </td>
                  <td style="vertical-align:middle">
                    <span class="fa fa-calendar"></span> \{{timeslot.enddate}} - \{{timeslot.endtime}} <span class="glyphicon glyphicon-time"></span> 
                  </td>
                  <td>
                    <div class="votecheck">
                    <input class="pull-right vutips" type="checkbox" id="votebox" :title="timeslot.votetitle" v-model="timeslot.ischecked" v-on:click="voteForTimeslot(timeslot)" />
                    </div>
                  </td>
                  <td>
                    <div class="voteprogress">
                      <div class="progress" style="min-width:90px;" v-on:click="voteForTimeslot(timeslot)">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" :style="voteStyle(timeslot, playercount)">
                        </div>
                      </div>
                    </div>
                  </td>
                  <td v-if="userstatus=='host'">
                    <button type="button" class="btn btn-sm btn-primary vutips" @click="publishTimeslot('{{key}}', timeslot.startdatetime, timeslot.enddatetime)" title="Confirm this start date and time">Confirm <i class="fa fa-eye-slash"></i></button>
                    <button type="button" class="btn btn-sm btn-danger vutips" title="Remove this time" @click="removeTimeslot(timeslot.id)"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div v-cloak v-if="(userstatus=='host') && (votevisible)" class="col-lg-12">

            <div class="panel panel-default card-1">
              <div class="panel-heading">
                <i class="fa fa-clock-o"></i> Add a New Date Time Option</i></small>
              </div>

              <div v-if="userstatus=='host'" class="panel-footer">
                <div class="row">
                  <div class="col-xs-6">

                    <label class="form-label" for="playdate">From Date</label>
                    <div class="input-group date">
                      <input v-model="startdate" type="text" class="form-control text" name="playdate" id="playdate"></input>
                      <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                      </span>
                    </div>

                    <label class="form-label" for="timestart">Start Time</label>
                    <div class="input-group clockpicker timeoption">
                      <input v-model="starttime" type="text" class="form-control text" value="hh:mm" id="timestart" name="timestart">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <label class="form-label" for="playdateend">To Date</label>
                    <div class="input-group date" >
                      </span>
                      <input v-model="enddate" type="text" class="form-control text" name="playdateend" id="playdateend"></input>
                      <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </div>
                    <label class="form-label" for="timeend">Finish Time</label>
                    <div class="input-group clockpicker timeoption">
                      <input v-model="endtime" type="text" class="form-control text" value="hh:mm" id="timeend" name="timeend">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <button type="button" class="btn button-addtime btn-sm btn-primary vutips" @click="pushTimeslot(startdate, starttime, enddate, endtime)" title="Add a time option">Add Time Option <i class="fa fa-plus-circle"></i></button>
                  </div>
                </div>

              </div>
              <!-- div panel-footer -->

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12">
            <div v-cloak id="userspanel">

              <h3>Attendees ( \{{countPlayers(users)}} )
                <span v-for="user in users" class="playerbringing">
                  <button v-if="user.activeuser && ((user.status=='host') || (user.status=='approve'))" class="btn btn-xs btn-default vutips" v-on:click="incrementFriendCount('{{key}}', '{{user.email}}', 1)" title="Add friends"><i class="fa fa-plus"></i></button>
                  <button v-if="user.activeuser && (user.extraplayers > 0)" class="btn btn-xs btn-default" v-on:click="incrementFriendCount('{{key}}', '{{user.email}}', -1)" title="Remove friends"><i class="fa fa-minus"></i></button>
                </span>
              </h3>

              <div id="h-users">
                <div v-for="user in users" class="player-area" v-if="user.status !== 'standby'">
                  <div class="playerstatus">
                    \{{friendlyStatus(user.status)}}
                  </div>
                  <div :class="avatarClass(user.status)">
                    <a v-if="user.imgtype === 'img'" :href="user.link" class="center">
                      <img :src="user.imgsrc" :class="user.imgclass" onerror="this.src='/img/default-avatar-sq.jpg'" style="max-height:65px" ></img>
                    </a>
                    <p v-if="user.extraplayers> 0" :title="'plus ' + user.extraplayers" class="vutips extraplayers">\{{user.extraplayers}}</p>
                  </div>
                  <div class="player-area-text">
                    <a v-bind:class="user.nameclass" v-bind:href="user.link">\{{user.name}}</a>
                  </div>
                </div>
              </div>

              <div class="playerinvites" v-if="userstatus=='host'">
                <div class="row">
                  <div class="col-xs-12"> 
                    <label for="invite-name" class="form-label">Invite a local player by name</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Jane Smith" id="invite-name">
                      <span class="input-group-btn">
                        <span class="btn btn-default"><i class="fa fa-user"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div v-if="userstatus=='host'" class="panel panel-info card-1">
                <div class="panel-heading">
                  <i class="fa fa-users fa-fw"></i> Manage Players <span v-if="showEdit" class="label label-success pull-right showpointer vutips" title='Toggle automatically accepting players' @click="toggleAutoaccept('{{key}}', '{{user.email}}', !autoaccept)"><i :class="{'fa': true, 'fa-check-square': autoaccept, 'fa-square-o': !autoaccept}"></i> auto approve</span>
                </div>

                <table class="table table-hover table-striped">
                  <tr>
                    <th></th>
                    <th>Player</th>
                    <th class="hide-small-screen">XP Level</th>
                    <th class="hide-small-screen matchachievement">Badges</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>

                  <tr v-for="user in users" v-if="!(user.status=='standby')">
                    <td>
                      <a v-if="user.imgtype === 'img'" v-bind:href="user.link"><img v-bind:src="user.imgsrc" v-bind:class="user.imgclass" onerror="this.src='/img/default-avatar-sq.jpg'" style="max-height:45px" :title="user.name"></img></a>
                      <p v-if="user.extraplayers> 0" :title="user.extraplayers + ' additional'" class="vutips extraplayers-table">\{{user.extraplayers}}</p>
                      <a v-if="user.imgtype === 'init'" v-bind:href="user.link"><div class="vuinitials vutips" style="height:45px; width:45px" :title="user.name">\{{user.name}}</div></a>
                    </td>
                    <td>
                      <a v-bind:class="user.nameclass" v-bind:href="user.link">\{{user.name}}</a>
                    </td>
                    <td class="hide-small-screen"><i class="fa fa-trophy" title="Play Games"></i> \{{user.playlevel}}</td>
                    <td class="hide-small-screen matchachievement"><div v-for="badge in user.badges"><i v-if="badge.showImg === false" v-bind:class="badge.faicon" v-bind:title="badge.tooltip"></i><img v-if="badge.showImg" v-bind:src="badge.imgsrc" class="vutips" style="height:32px; width:32px" v-bind:title="badge.tooltip"></img></div></td>
                    <td><i v-bind:class="user.statusfaicon"></i> \{{user.status}}</td>
                    <td>
                      <div class="btn-group">
                        <button v-for="button in user.buttons" v-bind:class="button.btnclass" @click="userAction('{{user.email}}', button.btntext, user.playerkey, '{{key}}')"><i v-bind:class="button.btnfaicon"></i> \{{button.btntext}}</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div v-if="(userstatus=='host') && (isStandbyUsers(users))" class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-users fa-fw"></i> Invite Previous Players 
                </div>

                <table class="table table-hover table-striped">
                  <tr>
                    <th></th>
                    <th>Player</th>
                    <th class="hide-small-screen">XP Level</th>
                    <th class="hide-small-screen matchachievement">Badges</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>

                  <tr v-for="user in users" v-if="user.status=='standby'">
                    <td>
                      <a v-if="user.imgtype === 'img'" v-bind:href="user.link"><img v-bind:src="user.imgsrc" v-bind:class="user.imgclass" onerror="this.src='/img/default-avatar-sq.jpg'" style="max-height:45px" :title="user.name"></img></a>
                      <p v-if="user.extraplayers> 0" :title="user.extraplayers + ' additional'" class="vutips extraplayers-table">\{{user.extraplayers}}</p>
                      <a v-if="user.imgtype === 'init'" v-bind:href="user.link"><div class="vuinitials vutips" style="height:45px; width:45px" :title="user.name">\{{user.name}}</div></a>
                    </td>
                    <td>
                      <a v-bind:class="user.nameclass" v-bind:href="user.link">\{{user.name}}</a>
                    </td>
                    <td class="hide-small-screen"><i class="fa fa-trophy" title="Play Games"></i> \{{user.playlevel}}</td>
                    <td class="hide-small-screen matchachievement"><div v-for="badge in user.badges"><i v-if="badge.showImg === false" v-bind:class="badge.faicon" v-bind:title="badge.tooltip"></i><img v-if="badge.showImg" v-bind:src="badge.imgsrc" class="vutips" style="height:32px; width:32px" v-bind:title="badge.tooltip"></img></div></td>
                    <td><i v-bind:class="user.statusfaicon"></i> \{{user.status}}</td>
                    <td>
                      <div class="btn-group">
                        <button v-for="button in user.buttons" v-bind:class="button.btnclass" @click="userAction('{{user.email}}', button.btntext, user.playerkey, '{{key}}')"><i v-bind:class="button.btnfaicon"></i> \{{button.btntext}}</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div v-if="showEdit && !isprivate && !isDraft(eventStatus)" class="row">
                <div class="col-xs-12"> 
                  <div class="alert alert-warning" role="alert">
                    <span class="matchgamebutton">This event is public and will be listed in nearby searches.</span>
                    <button id="publishPrivate" @click="publishPrivate('{{key}}', '{{user.email}}')" class="btn btn-warning btn-sm"><span class="fa fa-eye-slash" aria-hidden="true"></span> Make Private</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div v-cloak id="userspanel">
              <div class="panel panel-default card-1">
                <div class="panel-body">
                  <div class="col-sm-12"> 

                    <div v-if="!isDraft(eventStatus)" id="share">
                      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="You're invited to play {{#each games}}{{name}}! {{/each}}Click on the event link to reserve a seat. " data-url="https://www.rollforgroup.com/events/{{key}}" data-hashtags="rollforgroup" data-related="" data-show-count="true">Tweet</a>
                      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>	

                      <!-- Load Facebook SDK for JavaScript -->
                      <div id="fb-root"></div>
                      <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                      </script>

                      <!-- like button code -->
                      <div class="fb-like" 
                        data-href="https://www.rollforgroup.com/events/{{key}}" 
                        data-layout="standard" 
                        data-action="like" 
                        data-size="large" 
                        data-show-faces="true" 
                        data-share="true">
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div v-cloak class="row" id="gamespanel">
          <div class="col-lg-12">
            <div class="panel panel-default card-1">
              <div class="panel-heading"><i class="fa fa-cubes"></i> Players are bringing games</div>

              <table class="table table-hover table-striped">
                <tr>
                  <th></th>
                  <th>Game</th>
                  <th>Name</th>
                  <th>Players</th>
                  <th class="hide-small-screen"><span class="label label-info">Best</span></th>
                  <th class="hide-small-screen">Play Time</th>
                  <th>Action</th>
                </tr>
                <tr v-for="game in games" v-if="R.propOr('select', 'status', game)=='select'">
                  <td class="text-center" @click="voteForGame(matchkey, useremail, username, useravatar, game)">
                    <span :class="getVoteButtonClassArrow(game)"><i class="fa fa-arrow-up vutips" :title="getVoteTitle(game)"></i></span><br/>
                    <span :class="getVoteButtonClassArrow(game)">\{{voteCount(game)}}</span><br/>
                    <span class="vote-button"><i v-if="voteCount(game)!='-'" class="fa fa-arrow-down vote-progress"></i></span>
                  </td>
                  <td>
                    <a :href="buildLink(game.id)" target="_blank"><img :src="game.thumbnail" class="gamesquare vutips" style="max-height:64px" :title="'Brought by ' + game.username"></img></a>
                    <a v-for="expansion in game.hasexpansions" :href="buildLink(expansion.id)" target="_blank"><img :src="expansion.thumbnail" class="gamesquare vutips" style="max-height:64px" :title="expansion.name"></img></a>
                  </td>
                  <td>

                    <!-- Split button -->
                    <div class="btn-group">
                      <button @click="clickBggLink(game.id)" type="button" class="btn btn-default btn-sm">\{{game.name}}</button>
                      <button v-if="game.expansions.length > 0" type="button" class="btn btn-default btn-sm dropdown-toggle vutips" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Add expansion">
                        <span class="fa fa-plus"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li v-for="expansion in game.expansions" :class="expansionListClass(userpageslug, game.pageslug, expansion.id, expansion.use)"><a @click="toggleUseExpansion(serviceurl, matchkey, useremail, userpageslug, game.pageslug, expansion.id, expansion.use)">\{{expansion.name}} <i v-if="expansion.use" class="fa fa-check"></i></a></li>
                      </ul>
                    </div>
                    <div v-for="expansion in game.expansions" v-if="expansion.use" class="expansionlist">
                      <span class="label label-info vutips">\{{expansion.name}}</span>
                    </div>
                  </td>

                  <td>
										<div>
                      <div class="voteprogress">
                        <div class="progress" style="min-width:90px;" v-on:click="voteForGame(matchkey, useremail, username, useravatar, game)">
                          <div :class="getProgressClass(game)" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" :style="voteStyle(game, playercount)">
                          </div>
                        </div>
                      </div>

                      <img v-for="votello in game.join" v-bind:src="maybeAvatar( votello )" alt="User Avatar" class="img-circle imgvote16icon vutips" :title="votello.username" onerror="this.src='/img/default-avatar-sq.jpg'" />

                      <img v-for="a in getChairCount(game)" :src="getChairImage(game)" alt="Blank Item" class="img-circle imgvote16icon vutips showpointer" :title="'Open Seat ' + a" @click="joinGame(matchkey, useremail, userpageslug, username, useravatar, true, game)" />
                      <a v-if="playerNotJoinedInGame('{{user.pageslug}}', games) && !isGameFull(game)" @click="joinGame(matchkey, useremail, userpageslug, username, useravatar, true, game)" class="showpointer">
                        <img src="/img/joingame.png" alt="User Avatar" class="img-circle imgvote16icon vutips" title="Join game" />
                        <span v-if="game.join.length <= 0" class="playerNotJoinedInGame('{{user.email}}', games)"> Join game</span>
                      </a>
                      <img v-if="!isPlayerInGame('{{user.pageslug}}', game)" src="/img/leavegame.png" alt="User Avatar" class="img-circle imgvote16icon vutips showpointer" title="Leave game" @click="joinGame(matchkey, useremail, userpageslug, username, useravatar, false, game)" />
                      <br/>
                      <span v-if="!isPlayerInGame('{{user.pageslug}}', game)" class="label label-success">Joined</span>
                      <span v-if="isGameFull(game)" class="label label-primary">Full</span>
										</div>
                  </td>

                  <td class="hide-small-screen">
                    <div class="matchgametext">
                      \{{readminexpansiondata(games, game.expansions, 'minplayers', game.pageslug)}}-\{{readmaxexpansiondata(games, game.expansions, 'maxplayers', game.pageslug)}}
                      <span v-for="playercountobj in game.playercounts" v-if="playercountobj.status==='Best'" :class="styleIdealPlayerCountClass(game.join.length, playercountobj.playercount)" v-bind:title="'Plays Best With ' + playercountobj.playercount">\{{playercountobj.playercount}}</span>
                    </div>
                  </td>

                  <td class="hide-small-screen">
                    <div class="matchgametext">
                      <i class = "fa fa-clock-o vutips" title="Expected game play time"></i> \{{readminexpansiondata(games, game.expansions, 'minplaytime', game.pageslug)}}-\{{readmaxexpansiondata(games, game.expansions, 'maxplaytime', game.pageslug)}} mins
                      <p v-if="game.weight">
                        <span v-bind:class="classifyWeight(game.weight)" v-bind:title="titleWeight(game.weight)">\{{labelfyWeight(game.weight)}}</span>
                      </p>
                    </div>
                  </td>

                  <td>
                    <div class="matchgamebutton">
                      <button v-if="(userstatus=='host') || game.showremove" v-on:click="removeGame(matchkey, serviceurl, useremail, game.pageslug)" class="btn btn-danger btn-sm removegame vutips" title="Remove game"><i class="fa fa-times"></i></button>
                    </div>
                  </td>
                </tr>

              </table>

              <div class="panel-footer">
                <label for="addgameid" class="form-label">Games I am bringing</label>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="text">
                      <input id="addgameid" name="addgameid" class="form-control" type="text">
                    </div>
                  </div>
                  <!-- div input-group -->

                </div>
              </div>
              <!-- div panel-footer -->

            </div>
            <!-- div panel-default -->

          </div>
          <!-- div col-lg-12 -->

          <div class="col-lg-12">
            <div class="panel panel-default card-1">
              <div class="panel-heading"><i class="fa fa-cubes"></i> Players want to play</div>

              <table class="table table-hover table-striped">
                <tr>
                  <th></th>
                  <th>Game</th>
                  <th class="hide-small-screen">Name</th>
                  <th class="hide-small-screen">Players <span class="label label-info">Best</span></th>
                  <th class="hide-small-screen">Play Time</th>
                  <th>Action</th>
                </tr>
                <tr v-for="game in games" v-if="game.status=='playersuggest'">
                  <td class="text-center" @click="voteForGame(matchkey, useremail, username, useravatar, game)">
                    <span :class="getVoteButtonClassArrow(game)"><i class="fa fa-arrow-up vutips" :title="getVoteTitle(game)"></i></span><br/>
                    <span :class="getVoteButtonClassArrow(game)">\{{voteCount(game)}}</span><br/>
                    <span class="vote-button"><i v-if="voteCount(game)!='-'" class="fa fa-arrow-down vote-progress"></i></span>
                  </td>
                  <td>
                    <a :href="buildLink(game.id)" target="_blank"><img :src="game.thumbnail" class="gamesquare vutips" style="max-height:64px" :title="game.name"></img></a>
                    <a v-for="expansion in game.hasexpansions" :href="buildLink(expansion.id)" target="_blank"><img :src="expansion.thumbnail" class="gamesquare vutips" style="max-height:64px" :title="expansion.name"></img></a>
                  </td>
                  <td class="hide-small-screen">
                    <!-- Split button -->
                    <a :href="buildLink(game.id)" target="_blank">\{{game.name}}</a>
                  </td>
                  <td class="hide-small-screen">
                    <div class="matchgametext">
                      \{{readminexpansiondata(games, game.expansions, 'minplayers', game.pageslug)}}-\{{readmaxexpansiondata(games, game.expansions, 'maxplayers', game.pageslug)}}
                      <span v-for="playercountobj in game.playercounts" v-if="playercountobj.status==='Best'" :class="styleIdealPlayerCountClass(playercountWithExtras, playercountobj.playercount)" v-bind:title="'Plays Best With ' + playercountobj.playercount">\{{playercountobj.playercount}}</span>
                    </div>
                  </td>
                  <td class="hide-small-screen">
                    <div class="matchgametext">
                      <i class = "fa fa-clock-o vutips" title="Expected game play time"></i> \{{readminexpansiondata(games, game.expansions, 'minplaytime', game.pageslug)}}-\{{readmaxexpansiondata(games, game.expansions, 'maxplaytime', game.pageslug)}} mins
                      <p v-if="game.weight">
                        <span v-bind:class="classifyWeight(game.weight)" v-bind:title="titleWeight(game.weight)">\{{labelfyWeight(game.weight)}}</span>
                      </p>
                    </div>
                  </td>
                  <td>
                    <div class="matchgamebutton">
                      <button v-on:click="bringGame(matchkey, serviceurl, useremail, game.pageslug)" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i> Bring Game</button>
                      <button v-if="(userstatus=='host') || game.showremove" v-on:click="removeGame(matchkey, serviceurl, useremail, game.pageslug)" class="btn btn-default btn-danger btn-sm vutips" title="Remove game"><i class="fa fa-times"></i></button>
                    </div>
                  </td>
                </tr>
              </table>

              <div class="panel-footer">
                <label for="suggestgameid" class="form-label">Wanting to play</label>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="text">
                      <input id="suggestgameid" name="suggestgameid" class="form-control" type="text">
                    </div>
                  </div>
                  <!-- div input-group -->

                </div>
              </div>
              <!-- div panel-footer -->

            </div>
            <!-- div panel-default -->

          </div>
          <!-- div col-lg-12 -->

        </div>
        <!-- div row -->


        <div class="row">
          <div class="col-xs-12">
            <div v-cloak class="panel panel-default card-1" id="publicforum">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> Public Event Chat <small><i> - the chat below is visible to <b>all</b> players</i></small>
              </div>
              <div class="panel-body chat-panel">
                <ul class="chat">
                  <li v-for="post in publicForums" class="left clearfix">
                    <div v-if="post.hide !== true" v-bind:id="post.hash">
                      <span class="chat-img pull-left">
                        <img v-bind:src="post.avataricon" alt="User Avatar" v-bind:class="post.imgclass" onerror="this.src='/img/default-avatar-sq.jpg'" />
                      </span>
                      <div class="chat-body clearfix">
                        <div class="header">
                          <small v-bind:class="post.textclass">\{{post.thread.username}}</small> 
                          <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>
                            \{{post.fromNow}}
                            <button v-if="post.thread.useremail === '{{user.email}}'" class="btn btn-xs btn-danger vutips" title="Delete post" v-on:click="deletePost('{{key}}', post.hash)" >x</button>
                          </small>
                        </div>
                        <div v-bind:class="post.textclass"></div>
                        <div class="threadcomments" v-bind:data-thread="post.thread.comment">
                          \{{post.thread.comment}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="panel-footer chat-footer">
                <textarea id="btn-input" name="postdata" type="text" placeholder="Ask the group a question ..." class="form-control col-xs-12 js-auto-size" rows="2" style="margin-bottom:10px;"></textarea>
                <div id="previewcontainer">
                  <i>Preview:</i>
                  <div id="preview">
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button v-on:click="previewDiscussion($('#btn-input').val())" class="btn btn-default" id="btn-preview"><i class="fa fa-photo"></i> Preview</button>
                  <button v-on:click="publicDiscussion('{{key}}', $('#btn-input').val())" class="btn btn-primary" id="btn-chat"><i class="fa fa-newspaper-o"></i> Post</button>
                </div>
                <small><a href="http://commonmark.org/help/" target="_blank">Formatting Help.</a></small>
              </div>
            </div>
          </div>
        </div>

        <div v-cloak class="row" id="timepanel">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body card-1">

                <h4>When</h4>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="form-label" for="playdateedit">Start Date</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave"> \{{playdateformat}}</span> 
                      <div v-if="showSave" class="input-group">
                        <input id="playdateedit" name="playdateedit" class="form-control text" type="text" v-bind:value="playdateedit">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span>
                      </div>
                    </fieldset>

                    <label class="form-label" for="timestartedit">Start Time</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave"> \{{timestartformat}}</span> 
                      <div v-if="showSave" class="input-group clockpicker">
                        <input id="timestartedit" name="timestartedit" class="form-control text" type="text" v-bind:value="timestartedit">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-sm-4">
                    <label class="form-label" for="dateendedit">End Date</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave"> \{{dateendformat}}</span> 
                      <div v-if="showSave" class="input-group">
                        <input v-if="showSave" id="dateendedit" name="dateendedit" class="form-control text" type="text" v-bind:value="dateendedit">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span>
                      </div>
                    </fieldset>

                    <label class="form-label" for="timeendedit">End Time</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave"> \{{timeendformat}}</span> 
                      <div v-if="showSave" class="input-group clockpicker">
                        <input id="timeendedit" name="timeendedit" class="form-control text" type="text" v-bind:value="timeendedit">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-sm-4">
                    <label class="form-label" for="reoccurinterval">Reoccur</label>
                    <span v-if="showReoccur(reoccurinterval)" v-bind:class="showReoccurClass(reoccurinterval)" id="reoccurlabel">
                      <i class="fa fa-repeat"></i> \{{showReoccurText(reoccurevery, reoccurinterval)}}
                    </span>
                    <fieldset class="form-group">
                      <span v-if="!showSave">\{{showReoccurText(reoccurevery, reoccurinterval)}}</span>
                      <select v-if="showSave" v-model="reoccurinterval" class="form-control" id="reoccurinterval" name="reoccurinterval" @change="setReoccurEvery">
                        <option value="never">Never</option>
                        <option value="week">Weekly</option>
                        <option value="weekOfMonth">Monthly</option>
                      </select>
                    </fieldset>

                    <label v-if="showSave && reoccurEveryLabelVisible(reoccurinterval)" class="form-label" for="reoccurevery">\{{reoccurEveryLabel(reoccurinterval)}}</label>
                    <fieldset v-if="reoccurEveryLabelVisible(reoccurinterval)" class="form-group">
                      <select v-if="showSave" v-model="reoccurevery" class="form-control" id="reoccurevery" name="reoccurevery">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </fieldset>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <button v-if="showEdit" id="editDetails" class="btn btn-default btn-sm" @click="editVisible"><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <div v-if="showSave"> 
                      <button @click="saveDetails('{{key}}', '{{user.email}}')" id="saveDetails" class="btn btn-default btn-success btn-sm"><i class="fa fa-floppy-o"></i> Save</button>
                      <button @click="cancelSave" id="cancelDetails" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div v-cloak class="row" id="mappanel">
          <div v-if="!isOnline" class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body card-1">
                <h4>Location</h4>

                <div class="">
                  <div hidden id="playareadiv"> 
                    <input type="text" id="playarea" class="form-control" name="locationlink" value="{{locname}}"></input>
                  </div>
                  <div v-if="!showSave"><i class="fa fa-map-marker"></i> \{{locationName}}</div>

                  <div id="map" class="mapheight">
                    <iframe id="maplocation" width="600" height="450" frameborder="0" style="border:0" v-bind:src="encodeLocation" allowfullscreen></iframe>  
                  </div>
                </div>

                <button v-if="showEdit" id="editLocation" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <div v-if="showSave"> 
                  <button id="saveLocation" class="btn btn-default btn-success btn-sm" @click="saveLocation('{{key}}', '{{user.email}}', locationName)"><i class="fa fa-floppy-o"></i> Save</button>
                  <button id="cancelLocation" class="btn btn-default btn-sm" @click="cancelLocation"><i class="fa fa-times"></i></button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div v-cloak class="row" id="venuedetails">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body card-1">

                <h4>Event Details</h4>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="form-label" for="seatmin">Minimum Players</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave">\{{seatmin}}</span>
                      <div v-if="showSave" class="input-group">
                        <span class="input-group-addon">#</span>
                        <input v-model="seatmin" id="seatmin" name="seatmin" class="form-control text" type="text">
                      </div>
                    </fieldset>

                    <label class="form-label" for="seatmax">Maximum Players</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave">\{{seatmax}}</span>
                      <div v-if="showSave" class="input-group">
                        <span class="input-group-addon">#</span>
                        <input v-if="showSave" v-model="seatmax" id="seatmax" name="seatmax" class="form-control text" type="text">
                      </div>
                    </fieldset>
                  </div>

                  <div v-if="!isOnline" class="col-sm-4">
                    <label class="form-label" for="price">Entry Fee</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave"> \{{entryfee}}</span>
                      <div v-if="showSave" class="input-group">
                        <span class="input-group-addon">$</span>
                        <input v-model="price" id="price" name="price" class="form-control text" type="text">
                      </div>
                    </fieldset>

                    <label class="form-label" for="currency">Currency</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave">\{{currency}}</span>
                      <select v-if="showSave" v-model="currency" class="form-control" id="currency" name="currency" v-model="currency">
                        <option value="AUD">AUD</option>
                        <option value="CAD">CAD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="NZD">NZD</option>
                        <option value="USD">USD</option>
                      </select>
                    </fieldset>
                  </div>

                  <div v-if="!isOnline" class="col-sm-4">
                    <label class="form-label" for="alcohol">Alcohol</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave">\{{alcoholtext}}</span>
                      <select v-if="showSave" class="form-control" id="alcohol" name="alcohol">
                        <option value="1">No alcohol thanks</option>
                        <option value="2">I don't mind if people want to drink</option>
                      </select>
                    </fieldset>

                    <label class="form-label" for="smoking">Smoking</label>
                    <fieldset class="form-group">
                      <span v-if="!showSave">\{{smokingtext}}</span>
                      <select v-if="showSave" class="form-control" id="smoking" name="smoking">
                        <option value="1">No smoking please</option>
                        <option value="2">Smoking is OK</option>
                      </select>
                    </fieldset>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <button v-if="showEdit" id="editDetails" class="btn btn-default btn-sm" @click="editVisible"><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <div v-if="showSave"> 
                      <button @click="saveDetails('{{key}}', '{{user.email}}')" id="saveDetails" class="btn btn-default btn-success btn-sm"><i class="fa fa-floppy-o"></i> Save</button>
                      <button @click="cancelSave" id="cancelDetails" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
  
        {{#if reach}}
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default card-1">
              <div class="panel-body">

                <h4>Hosting Stats <i class="fa fa-graduation-cap tips" title="Only the host can view these stats."></i></h4>
                <ul>
                  <li><i class="fa fa-list"></i> Match Impressions ( <span class="tips"  title="The number of times this game was displayed in the events page list.">{{impressioncount}}</span> )</li>
                  <li><i class="fa fa-file-text-o"></i> Page Views ( <span class="tips" title="The number of times this page was opened, either by the share link or through the events page.">{{viewcount}}</span> )</li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        {{/if}}

       {{/if}}

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

  </article>


{{>footer}}

    <!-- Plugin JavaScript -->
    <script src = "/js/jquery.easing.min.js"></script>
    <script src = "/js/jquery.fittext.js"></script>
    <script src = "/js/wow.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap-clockpicker.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>

    <!-- typeahead -->
    <script src = "/js/typeahead/typeahead.bundle.js"></script>
    <script src = "/js/ramda.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src = "/js/creative.js"></script>
    <script src = "/js/jquery.backstretch.min.js"></script>
    <script src = "/js/scripts.js"></script>

    <script src = "/js/material-avatar.min.js"></script>


    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

    <script id="vusetup">

  var defaults = {
    html:         false,        // Enable HTML tags in source
    xhtmlOut:     false,        // Use '/' to close single tags (<br />)
    breaks:       true,        // Convert '\n' in paragraphs into <br>
    langPrefix:   'language-',  // CSS language prefix for fenced blocks
    linkify:      true,         // autoconvert URL-like texts to links
    typographer:  true,        // Enable smartypants and other sweet transforms
  };

  var mdHtml = window.markdownit(defaults).use(window.markdownitEmoji);

  $(document).ready(function() {

    $('#previewcontainer').hide();

    $(document.body).on('change', '.clockpicker', function (){
      vuTimeslots.starttime = $('#timestart').val();
      vuTimeslots.endtime = $('#timeend').val();
    });

    $('.tips').tooltip();
    $('.initials').materialAvatar({shape: 'circle'});

    $('#return').click(function() {
      window.location.href = "/events";
    }); 

    $(document).on('click', '#clipboard', function(event) {
      event.preventDefault();
      $('#sharelink').focus();
      $('#sharelink').select();
      document.execCommand("Copy");
    });

    {{#if enableEdit}}

    // format help 
    $(document).on('click', '#helpDescription', function(event) {
      window.open('http://commonmark.org/help/', '_blank');
    });

    var bTypeaheadRendered = false;
    $(document).on('click', '#editLocation', function() {

      $('#playareadiv').show();
      locationEdit();

      if (!bTypeaheadRendered) {
        Vue.nextTick(function() { 
          setTimeout(function() {
            $('#playarea').typeahead(
              {
                hint: true,
                highlight: true,
                minLength: 1
              },
              {
                source: function(query, sync, process) 
                {
                  return $.ajax({
                    type: "GET",
                    url: "/api/v1/locations",
                    dataType: "json",
                    data: {search: query},
                    success: function(data) {
                      vuLocation.setLocation(R.head(R.map(R.path(['place','address']), data)));
                      return process(R.map(R.path(['place','address']), data));
                    }
                  });
                }
              }
            )
          });
        });

      } else {
        bTypeaheadRendered = true;

      }

    });

{{/if}}

    setupPages('{{key}}', '{{user.email}}', '{{user.pageslug}}', '{{user.name}}', '{{user.avataricon}}',
      {{#if enableEdit}}true{{else}}false{{/if}}, 
      {{#if ispremium}}true{{else}}false{{/if}}, 
      {{#if showJoin}}true{{else}}false{{/if}},
      {{#if navigation.nouser}}true{{else}}false{{/if}},
      '{{boardgameserviceurl}}'
    );
    setupMore('{{status}}', [
      {{#each buttons}}
       { style: "{{style}}", id: "{{id}}", title: "{{title}}", text: "{{text}}", faicon: "{{faicon}}" },
      {{/each}}
    ]);

  })

  </script>
  <script src = "/js/match.js?v=0.9"></script>
