<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

	<!-- plugin stylesheet -->
	<link rel="stylesheet" href="css/jquery.mThumbnailScroller.css">
  <link rel="stylesheet" href="/css/vis-timeline-graph2d.css">

  {{>navbars}}
  <article id="maincontent">

    <div id="wrapper">
      {{>player-nav}}

        <div id="maincontent" class="container-fluid">

          {{#if setlocation}}
          <div class="row" id="setarea">
            <div class="col-sm-12">
              <div class="alert alert-warning col-sm-12" id="warninglocation">
                <strong>Your Profile Needs a Location.</strong> Information about your location can not be shown, because you have not set your area. Set your location below, or change it in your <a href='/profile'> user profile</profile>.</a> 
                <div class="col-sm-12">
                  <input id="setlocation" name="location" placeholder="Type Your City Here" class="form-control text" type="text"></input>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-warning" id="savelocation">Update My Location</button>
                </div>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if novisibility}}
          <div class="row" id="warningarea">
            <div class="col-lg-12">
              <div class="alert alert-warning" id="novis">
                <i class="fa fa-warning"></i> You can not be found by other nearby players, because your profile is not visible!
                <button type="button" class="btn btn-warning" id="makepublic">Make my profile visible</button>
              </div>
            </div>
          </div>
          <!-- /.row -->
          {{/if}}


          <div id="players">

            <h3>Your Player Network ( \{{networksize}} )</h3>

            <div id="textbar" class="row textbar">
              <div class="col-lg-12">
                Join and host events to grow your player network
                <button mouseover="" style="cursor: pointer;" onclick="location.href='/hostgame'" class="btn btn-default">Host Event</button>
                <button mouseover="" style="cursor: pointer;" onclick="location.href='/events'" class="btn btn-default">Find Nearby Events</button>
                <img v-if="loading" class="brandlogo64image fa-spin pull-right" src="img/rfg-logo-whiteglow-64.png">
              </div>
            </div>


            <div id="playernetwork"></div>

            <div id="textbar" class="row textbar">
              <div class="col-lg-12">
                <a mouseover="" style="cursor: pointer;" v-bind:href="collectionurl"><span class="text-gray-underline">Manage your games</span></a>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12" id="subnavigation">
                <ol class="nav nav-pills" style="margin-bottom:20px">
                  <li role="presentation" v-bind:class="playPillsClass(viewby)" v-on:click="playPillsClick('{{user.email}}', {{distance}})">
                    <a href="#" v-on:click="playPillsClick('{{user.email}}', {{distance}})"><i class="fa fa-trophy"></i> Games Played</a>
                  </li>
                  <li role="presentation" v-bind:class="hostPillsClass(viewby)">
                    <a v-on:click="hostPillsClick('{{user.email}}', {{distance}})" class="showpointer"><i class="fa fa-home"></i> Games Hosted</a>
                  </li>
                </ol>
              </div>
            </div>

            <div id="playertable" class="row">
              <div v-cloak class="col-xs-12">
                <div id="panel-users" class="panel panel-default card-1">
                  <div class="panel-heading clearfix">
                    <i class="fa fa-users"></i> Nearby Players
                  </div> 

                  <table class="table userlist">
                    <thead>
                      <tr>
                        <th>Level</th> 
                        <th></th> 
                        <th>Player</th> 
                        <th class="hide-small-screen">Looking to Play</th>
                        <th>Distance</th>
                        <th>Connect</th> 
                      </tr>
                    </thead> 
                    <tbody v-if="preload">
                      <tr v-for="n in 5">
                        <td>
                          <div class="shorttext-placeholder"></div>
                        </td> 
                        <td>
                          <div class="player-placeholder"></div>
                        </td> 
                        <td>
                          <div class="text-placeholder"></div>
                        </td> 
                        <td class="gamecontainer hide-small-screen">
                          <div class="game-placeholder"></div>
                        </td> 
                        <td>
                          <div class="shorttext-placeholder"></div>
                        </td> 
                        <td>
                          <div class="shorttext-placeholder"></div>
                        </td> 
                      </tr>

                    <tbody>

                    <tbody v-if="!preload">
                      <tr v-for="player in players">
                        <td>
                          <div>
                            <i data-toggle="tooltip" data-placement="top" title="" v-bind:class="hostSortClass(viewby)" data-original-title="Levels incrase by Attending and Hosting Events"></i> \{{showXP(player.profile.playlevel, player.profile.hostlevel, viewby)}} 
                          </div>
                        </td> 
                        <td>
                          <img v-bind:src="defaultAvatar(player.profile.avataricon)" onerror="this.src='img/default-avatar-sq.jpg'" data-toggle="tooltip" title="" v-bind:class="player.imgclass" data-original-title="">
                        </td> 
                        <td>
                          <a v-bind:href="buildSlug(player.pageslug)" v-bind:class="player.aclass">\{{player.profile.name}}</a>
                        </td> 
                        <td class="hide-small-screen">
                          <transition name="fade">
                            <div v-if="!player.gamesloaded" class="gamecontainer hide-small-screen">
                              <div class="game-placeholder"></div>
                            </div>
                            <div v-if="player.gamesloaded" class="gamecontainer hide-small-screen">
                              <a v-bind:href="buildCollectionSlug(player.listkey)">
                                <img v-for="game in player.games" v-bind:src="game.thumbnail" class="gamesquare vutooltip" v-bind:title="game.name" data-toggle="tooltip">
                              </a>
                            </div>
                          </transition>
                        </td> 

                        <td>\{{player.distance}} km</td>
                        <td>
                          <div>
                            <button data-toggle="tooltip" type="button" title="Send Message" class="btn btn-default fatooltip" v-on:click="buildSendMail(player.pageslug)"><i class="fa fa-envelope"></i></button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


          </div>
          <!-- /#players -->

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

  </article>

{{>footer}}

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap-clockpicker.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/loadingbar/loadingoverlay.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/moment.js"></script>
<script src="js/ramda.min.js"></script>

<!-- Thumbnail plugin script -->
<script src="js/jquery.mThumbnailScroller.min.js"></script>

<!-- typeahead -->
<script src="js/typeahead/typeahead.bundle.js"></script>

<!-- typeahead -->
<script src="js/players.js?v=0.4a"></script>

<script>

// saveLocation :: s
const saveLocation = function(location) {

  var userdata = {};

  var chosenAddress = R.compose(R.propEq('address', location), R.prop('place'));
  var chosenCity = R.compose(R.path(['place', 'coords']), R.find(chosenAddress));
  var cityFound = R.compose(R.not, R.isNil, chosenCity);
  var getLat = R.compose(R.prop('lat'), chosenCity);
  var getLng = R.compose(R.prop('lng'), chosenCity);
  const notNil = R.compose(R.not, R.isNil);

  if (location.length > 0) {

    var ajaxLoc = $.ajax({
      type: "GET",
      url: "api/v1/locations",
      dataType: "json",
      data: {search: location}
    });

    ajaxLoc.done(function(data) {
      if (notNil(data) && cityFound(data)) {
        userdata.playcity = location;
        userdata.playcitylat = getLat(data);
        userdata.playcitylng = getLng(data);
        submitUserData(userdata);

      } else {
        alert('The location could not be geolocated, please ensure the location is valid');
        $('#setlocation').focus();

      };
    });

    ajaxLoc.fail(function(data) {
      alert('The location could not be geolocated, please ensure the location is valid');
      $('#setlocation').focus();

    });

  } else {
    alert('Please enter a location');
    $('#setlocation').focus();
  }
};


// sumbitUserData :: JSONObj
const submitUserData = function(userdata) {

  // Show full page LoadingOverlay
  $.LoadingOverlay("show");
  var ajaxCall = $.ajax({
    type: "PATCH",
    url: "api/v1/accounts/{{user.email}}",
    timeout: 60000,
    dataType: "json",
    data: userdata,
    cache: false
  });

  ajaxCall.done(function(result) {
    $.LoadingOverlay("hide");
    $('#saved').modal()
    window.location.href = "players";
  });

  ajaxCall.fail(function(e, errortext) {
    alert(errortext);
    $.LoadingOverlay("hide");
    $('#setlocation').focus();
  });

};


$(document).ready(function() {

  setuppage('{{user.email}}', {{distance}} +0, '{{user.pageslug}}');

  {{#if novisibility}}

  $('#makepublic').on('click', function(event) {
    updateProfile();
  }); 

  // updateProfile :: JSONObj
  const updateProfile = function() {

    // Show full page LoadingOverlay
    var ajaxCall = $.ajax({
      type: "PATCH",
      url: "api/v1/accounts/{{user.email}}",
      timeout: 60000,
      dataType: "json",
      data: {visibility: 1},
      cache: false
    });

    ajaxCall.done(function(result) {
      $('#saved').modal()
      window.location.href = "players";
    });

    ajaxCall.fail(function(e, errortext) {
      if (e.status == 404) {
        alert('The BGG username was not found');

      } else { 
        alert('error:' + JSON.stringify(e));

      };
    });
  };
  {{/if}}


  {{#if sections}}
  $('#updatemotive').on('click', function(event) {

    var userdata = {};
    var checkcount = 0;

    $('input').each(function() {
      if ($(this).is(':checkbox')) {
        userdata = R.assoc($(this).attr('id'), $(this).prop('checked'), userdata);
        if ($(this).prop('checked'))
          checkcount++ ;
      } else {
        if (R.not(R.isNil(($(this).data('before')) && R.isEmpty($(this).val()))) && ($(this).data('before') != $(this).val())) {
          userdata = R.assoc($(this).attr('id'), $(this).val(), userdata);
        };
      }
    });

    if (checkcount <= 6)  {

      // Show full page LoadingOverlay
      $.LoadingOverlay("show");
      var ajaxCall = $.ajax({
        type: "PATCH",
        url: "api/v1/accounts/{{user.email}}",
        timeout: 60000,
        dataType: "json",
        data: userdata,
        cache: false
      });

      ajaxCall.done(function(result) {
        $.LoadingOverlay("hide");
        window.location.href = "players";
      });

      ajaxCall.fail(function(e, errortext) {
        $.LoadingOverlay("hide");
        alert('error:' + JSON.stringify(e));
      });

    } else {
      alert("Please select less motives. We understand you love board games, but selecting too many motives won't help identifying compatible players. Instead, select your top priority motives only.");
    };

  });
  {{/if}}

});

</script>

<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->
