{{>plainheader}}

<section class="bg-primary" id="privacy">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Your Privacy is Important</h2>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-12">
                <h2 class="section-heading">Roll for Group Privacy Policy and Terms of Service</h2>
                <div class="terms">
                <p>RollforGroup provides an online platform that connects persons who want to host the playing of board games with guests seeking to play board games (collectively, the “Services“), which are accessible at www.RollforGroup.com and any other websites through which RollforGroup makes the Services available (collectively, the “Site“) and as applications for mobile, tablet and other smart devices and application program interfaces (collectively, the “Application“).</p>
                <p>If you are using the Site, Application or Services these Terms of Service are between you and RollforGroup Pty Ltd hereinafter referred to as “RollforGroup“, “we“, “us“, or “our“).</p>
                <p>Please read these terms of service carefully as they contain important information regarding your legal rights, remedies and obligations. These include various limitations and exclusions, a clause that governs the jurisdiction and venue of disputes, and obligations to comply with applicable laws and regulations. In particular, hosts should understand how the laws work in their respective cities. Some cities have laws that may restrict your ability to host an event. Local governments vary greatly in how they enforce these laws. Penalties may include fines or other enforcement. Hosts should review local laws before listing an event on the Site.</p>
                <p>If you do not agree to these Terms of Service, you have no right to obtain information from or otherwise continue using the Site, Application or Services. Failure to use the Site, Application or Services in accordance with these Terms of Service may subject you to civil and criminal penalties.</p>
                <hr class="primary">
                <h4>1. Key Terms</h4>
                <p>Board Game is any board game available to be selected by members and guests via the Site.</p>
                <p>“Property” means residential and other properties.</p>
                <p>“RollforGroup Content” means all Content that RollforGroup makes available through the Site, Application, Services, or its related promotional campaigns and official social media channels, including any Content licensed from a third party.</p>
                <p>“Collective Content” means Member Content and RollforGroup Content.</p>
                <p>“Communication” means an email, message via the Application, text message or message via social media including Facebook, Twitter, Snapchat for any other social media platform.</p>
                <p>“Content” means text, graphics, images, music, software (excluding the Application), audio, video, information or other materials.</p>
                <p>“Guest” means any person that accesses the Site but is not a Member of the site.</p>
                <p>“Host” means a Member who creates an Event via the Site, Application and Services.</p>
                <p>“Listing” means an Event that is listed by a Host as available for joining via the Site, Application, and Services.</p>
                <p>“Member” means a person who completes RollforGroup’s account registration process as a member and pays the required membership fee.</p>
                <p>“Member Content” means all Content that a Member posts, uploads, publishes, submits, transmits, or includes in their Listing, Member profile or RollforGroup promotional campaign to be made available through the Site, Application or Services.</p>
                <p>“Tax” or “Taxes” mean any sales taxes, value added taxes (VAT), goods and services taxes (GST), that we may be required by law to collect and remit to governmental agencies, and other similar municipal, state, federal and national indirect or other withholding and personal or</p>
                <p>corporate income taxes.</p>
                <p>Event means a date and time in which a Host has invited members and guests of the Site to attend property for the purpose of playing a board game.</p>
                <hr class="primary">
                <h4>2. Terms of Service</h4>
                <p>A. By using the Site, Application or Services, you agree to comply with and be legally bound by the terms and conditions of these Terms of Service (“Terms“), whether or not you become a member or guest of the Services. These Terms govern your access to and use of the Site, Application and Services and all Collective Content and constitutes a binding legal agreement between you and RollforGroup.</p>
                <p>B. In addition, certain areas of the Site and Application (and your access to or use of certain aspects of the Services or Collective Content) may have different terms and conditions, standards, guidelines, or policies posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms and terms and conditions posted for a specific area of the Site, Application, Services, or Collective Content, the latter terms and conditions will take precedence with respect to your use of or access to that area of the Site, Application, Services, or Collective Content</p>
                <p>C. The site, application and services comprise an online platform through which hosts may create an event inviting other members and guests to enter its property to play a board game. You understand and agree that RollforGroup is not a party to any agreements entered into between hosts, other members or guests, nor is RollforGroup an agent or insurer. RollforGroup has no control over the conduct of hosts, guests and other users of the site, application and services or any property, and disclaims all liability in this regard to the maximum extent permitted by law.</p>
                <p>D. If you choose to create an Event on the Site, you understand and agree that your relationship with RollforGroup is limited to being a member and not an employee, agent, joint venturer or partner of RollforGroup for any reason, and you act exclusively on your own behalf and for your own benefit, and not on behalf of or for the benefit of RollforGroup. RollforGroup does not control, and has no right to control, your property, your offline activities associated with your Event, or any other matters related to any Event, that you create. As a member you agree not to do anything to create a false impression that you are endorsed by, partnering with, or acting on behalf of RollforGroup, including by inappropriately using any RollforGroup intellectual property without RollforGroup’s written consent.</p>
                <p>E. You acknowledge and agree that, by accessing or using the site, application or services or by downloading or posting any content from or on the site, via the application or through the services, you are indicating that you have read, and that you understand and agree to be bound by these terms and receive our services whether or not you have registered with the site and application. If you do not agree to these terms, then you have no right to access or use the site, application, services, or collective content. If you accept or agree to these Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms and, in such event, “you” and “your” will refer and apply to that company or other legal entity.</p>
                <hr class="primary">
                <h4>3. Modification</h4>
                <p>RollforGroup reserves the right, at its sole discretion, to modify the Site, Application or Services or to modify these Terms, including the Service Fees, at any time and without prior notice. If we modify these Terms, we will post the modification on the Site or via the Application and/or provide you notice of the modification by email. We will also update the “Last Updated” date at the top of these Terms. Changes to the Terms will be effective at the time of posting. Your continued access or use of the Site, Application or Services will constitute acceptance of the modified Terms. Additionally, if the modified Terms contain material changes applicable to existing Members (by decreasing your rights or increasing your responsibilities), we will provide you with notice prior to the changes taking effect. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site, Application and Services. If you do not close your RollforGroup Account you will be deemed to have accepted the changes.</p4>
                <hr class="primary">
                <h4>4. Eligibility</h4>
                <p>The Site, Application and Services are intended solely for persons who are 18 or older. Any access to or use of the Site, Application or Services by anyone under 18 is expressly prohibited. By accessing or using the Site, Application or Services you represent and warrant that you are 18 or older.</p>
                <hr class="primary">
                <h4>5. How the Site, Application and Services Work</h4>
                <p>A. The Site, Application and Services can be used by members to interact and to facilitate Events where members and guests elect to come together to play board games to be hosted by a person at their property at any other property at which the host may lawfully host an event.</p>
                <p>B. RollforGroup makes available an online platform with related technology for Members and Guests to meet online and arrange and event. RollforGroup is not an owner or operator of properties, nor is it a provider of properties. Unless explicitly specified otherwise in the RollforGroup platform, RollforGroup’s responsibilities are limited to facilitating the availability of the Site, Application and Services.</p>
                <p>C. If you wish to host an event, or attend an event you must first register to create an RollforGroup Account.</p>
                <p>D. A Host may list an event on the Site and invite members and guests to attend the Event. The acceptance of an invitation to attend an Event is at the absolute discretion of the Host.</p>
                <p>E. RollforGroup is not responsible for any and all liability related to any and all events, hosts, members, guests and properties. Accordingly, any events will be made or accepted at the member’s and guest's own risk.</p>
                <hr class="primary">
                <h4>6. Account Registration</h4>
                <p>A. In order to access certain features of the Site and Application, and to Host an Event, you must register to create an account (“RollforGroup Account“) and become a Member. To access a single one off event, you must register to create a Guest account. You may register to join the Services directly via the Site or Application or as described in this section.</p>
                <p>B. You can also register to join by logging into your account with certain third-party social networking sites (“SNS“) (including, but not limited to, Facebook; each such account, a “Third-Party Account“), via our Site or Application, as described below. As part of the functionality of the Site, Application and Services, you may link your RollforGroup Account with Third-Party Accounts, by either: (i) providing your Third-Party Account login information to RollforGroup through the Site, Services or Application; or (ii) allowing RollforGroup to access your Third-Party Account, as permitted under the applicable terms and conditions that govern your use of each Third-Party Account. You represent that you are entitled to disclose your Third-Party Account login information to RollforGroup and/or grant RollforGroup access to your Third-Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third-Party Account and without obligating RollforGroup to pay any fees or making RollforGroup subject to any usage limitations imposed by such third-party service providers. By granting RollforGroup access to any Third-Party Accounts, you understand that RollforGroup will access, make available and store (if applicable) any Content that you have provided to and stored in your Third-Party Account (“SNS Content“) so that it is available on and through the Site, Services and Application via your RollforGroup Account and RollforGroup Account profile page. Unless otherwise specified in these Terms, all SNS Content, if any, will be considered to be Member Content for all purposes of these Terms. Depending on the Third-Party Accounts you choose and subject to the privacy settings that you have set in such Third-Party Accounts, personally identifiable information that you post to your Third-Party Accounts will be available on and through your RollforGroup Account on the Site, Services and Application. Please note that if a Third-Party Account or associated service becomes unavailable or RollforGroup’s access to such Third-Party Account is terminated by the third-party service provider, then SNS Content will no longer be available on and through the Site, Services and Application. You have the ability to disable the connection between your RollforGroup Account and your Third-Party Accounts, at any time, by accessing the “Settings” section of the Site and Application.</p>
                <p>C. Please note that your relationship with the third-party Service Providers associated with your Third-Party accounts is governed solely by your Agreement(s) with such third-party Service Providers. RollforGroup makes no effort to review any SNS Content for any purpose, including but not limited to for accuracy, legality or non-infringement and RollforGroup is not responsible for any SNS Content.</p>
                <p>D. Your RollforGroup Account and your RollforGroup Account profile page will be created for your use of the Site and Application based upon the personal information you provide to us or that we obtain via an SNS as described above.</p>
                <p>E. You may not have more than one (1) active RollforGroup Account. You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete. RollforGroup reserves the right to suspend or terminate your RollforGroup Account and your access to the Site, Application and Services if you create more than one (1) RollforGroup Account, or if any information provided during the registration process or thereafter proves to be inaccurate, fraudulent, not current, incomplete, or otherwise in violation of these Terms of Service.</p>
                <p>F. You are responsible for safeguarding your password. You agree that you will not disclose your password to any third party.</p>
                <p>G. Unless expressly authorized by a specific feature on RollforGroup, you are not permitted to share your RollforGroup Account with anyone or allow others to access or use your RollforGroup Account. RollforGroup may enable features, in our discretion, that allow other Members to take certain actions associated with your RollforGroup Account, on your behalf with your express authorization, such as adding a family member to your account as an additional Host. You agree that you will take sole responsibility for any activities or actions under your RollforGroup Account, whether or not you have authorized such activities or actions. You will immediately notify RollforGroup of any unauthorized use of your RollforGroup Account.</p>
                <hr class="primary">
                <h4>7. Events</h4>
                <p>A. As a Member, you may create Events. To create an Event, you will be asked a variety of questions about the property to be used to Host the event including, but not limited to, the location, capacity, size, features, and availability of the property. In order to be featured as an Events via the Site, Application and Services, all properties must have valid physical addresses. Events will be made publicly available via the Site, Application and Services.</p>
                <p>B. When an Event is created via the Site, Application or Services, we will share with you (i) the first and last name of the Member or Guest who has requested to attend the Event, (ii) a link to the Member and Guest’s RollforGroup Account profile page, (iii) if the Member, Guest and Host have connected their RollforGroup accounts to SNS and have not turned off sharing of social connections, the names of any shared connections on such SNS, and (iv) an indication of whether or not the Member or Guest has provided other information to RollforGroup, such as a verified email address.. If you are unable to confirm or decide to reject an invitation request within the Invitation Request Period, any amounts collected by RollforGroup (via RollforGroup Payments) for the Event will be credited to the applicable Guest. When you confirm an Event requested by a Guest, RollforGroup will send you a Communication confirming, depending on the selections you make via the Site, Application and Services.</p>
                <p>C. You understand and agree that the placement or ranking of Events in search results may depend on a variety of factors, including, but not limited to, Member, Guest and Host preferences, ratings and interest.</p>
                <p>D. You acknowledge and agree that by Hosting or attending an Event, other Members and Guests will be able to provide feedback about their experiences at the Event. Feedback is an open forum and will publicly available. RollforGroup. Hosts are not permitted to include in their Event features any conditions that limit or restrict Members and Guests from leaving feedback. Feedback is generally a permanent part of a member's and Guests Profile however, there are a few situations when we might remove or adjust Feedback for example when the feedback contains profanities or other inappropriate content. RollforGroup is not responsible and has no liability for any feedback which is defamatory or any way causes you damage or loss. Any requests to remove or adjust feedback must be made to RollforGroup.</p>
                <p>E. Other Members and Guests will be able to request to join your Event via the Site, Application and Services based upon the information provided by you, your Member and Guest requirements, and Member and Guests’ search parameters and preferences.</p>
                <p>F. You acknowledge and agree that you alone are responsible for any and all Events and Member Content you post. Accordingly, you represent and warrant that any Event you host:</p>
                <p>i. will not breach any agreements you have entered into with any third parties; and</p>
                <p>ii. will be in compliance with all applicable laws (such as zoning laws), Tax requirements, Intellectual Property laws, and rules and regulations that may apply to any property (including having all required permits, licenses and registrations), and not conflict with the rights of third parties.</p>
                <p>RollforGroup assumes no responsibility for a Host’s compliance with any agreements with or duties to third parties, applicable laws, rules and regulations. RollforGroup reserves the right, at any time and without prior notice, to remove or disable access to any Event for any reason, that RollforGroup, in its sole discretion, considers to be objectionable for any reason, in violation of these Terms or RollforGroup’s, or otherwise harmful to the Site, Application or Services.</p>
                <p>G. If you are a Host, you understand and agree that RollforGroup does not act as an insurer or as your contracting agent. If a Member or Guest requests to join your event and enters your property, any agreement you enter into with such Member or Guest is between you and the Member or Guest and RollforGroup is not a party to it.</p>
                <p>H. When you create an Event, you may also choose to include certain requirements which must be met by the Members and Guests who are eligible to join your Event, such as requiring Members to have a profile picture or verified phone number, in order to attend your Event. Any Member wishing to create an Event with such requirements must meet these requirements. More information on how to set such requirements is available via the “Hosting” section of the Site, Application and Services.</p>
                <p>I. If you are a Host, RollforGroup makes certain tools available to you to help you to make informed decisions about which Members and Guests you choose to confirm or approve for inviting to your Event. You acknowledge and agree that, as a Host, you are responsible for your own acts and omissions and are also responsible for the acts and omissions of any individuals who reside at or are otherwise present at the Event at your request or invitation, excluding the Guest (and the individuals the Guest invites to the Event, if applicable.)</p>
                <p>J. RollforGroup recommends that Hosts obtain appropriate insurance for their Events. Please review any insurance policy that you may have for your Event carefully, and in particular please make sure that you are familiar with and understand any exclusions to, and any deductibles that may apply for, such insurance policy, including, but not limited to, whether or not your insurance policy will cover the actions or inactions of or relating to Guests (and the individuals the Guest invites to the Event, if applicable) while at your Event.</p>
                <p>K. RollforGroup may offer Hosts the option of taking photographs at your Event. All images, materials and content created at Events and loaded onto the Site, constitute RollforGroup Content and you agree that RollforGroup retains its right to and may use the photographs for advertising, marketing, commercial and other business purposes in any media or platform, whether in relation to your Events or otherwise, without further notice or compensation.</p>
                <hr class="primary">
                <h4>8. No Endorsement</h4>
                <p>A. RollforGroup does not endorse any Member, Guest, Host or Event.</p>
                <p>B. Members are required by these Terms to provide accurate information. Although RollforGroup may, for transparency or fraud prevention or detection purposes, directly or through third parties, ask you to provide a form of government identification, your date of birth, and other information, or undertake additional checks and processes designed to help verify or check the identities or backgrounds of Members and/or screen Member information against third party databases or other sources, we do not make any representations about, confirm, or endorse any Member or the Member’s purported identity or background.</p>
                <p>C. Any references in the Site, Application or Services to a Member being “verified” or “connected” (or similar language) only indicate that the Member has completed a relevant verification or identification process, and does not represent anything else. Any such description is not an endorsement, certification or guarantee by RollforGroup about any Member, including of the Member’s identity and whether the Member is trustworthy, safe or suitable. Instead, any such description is intended to be useful information for you to evaluate when you make your own decisions about the identity and suitability of others whom you contact or interact with via the Site, Application and Services. We therefore recommend that you always exercise due diligence and care when deciding whether to attend an Event with a Host, or to have any other interaction with any other Member or Guest. RollforGroup we are not responsible for any damage or harm resulting from your interactions with other Members.</p>
                <p>D. By using the Site, Application or Services, you agree that any legal remedy or liability that you seek to obtain for actions or omissions of other Members or other third parties will be limited to a claim against the particular Members or other third parties who caused you harm. You agree not to attempt to impose liability on or seek any legal remedy from RollforGroup with respect to such actions or omissions. Accordingly, we encourage you to communicate directly with other Members on the Site and Services regarding any Bookings or Groups and Events made by you. This limitation shall not apply to any claim by a Host against RollforGroup regarding the remittance of payments received from a Guest by RollforGroup on behalf of a Host, which instead shall be subject to the limitations described in the section below entitled “Limitation of Liability”.</p>
                <hr class="primary">
                <h4>9. Bookings and Financial Terms</h4>
                <p>Key definitions</p>
                <p>“Member Fees” means the amounts that are due and payable by a Member in exchange for access to the Site, Application or Services.</p>
                <p>“Guest Fees” means the fee that RollforGroup charges a Guest for the use of the Services, which is calculated as a one off fee to access an Event. The Guest Fees will be displayed to the Guest when the Guest is asked whether to accept an invitation from a Host.</p>
                <p>“Payment Method” means a payment method that you have added to your RollforGroup Account, such as a credit card, debit card or PayPal.</p>
                <p>“Service Fees” means collectively the Guest Fees and Member Fees.</p>
                <p>“Total Fees” means collectively the Event Fees and the Guest Fees plus any Taxes.</p>
                <p>A. Hosts are not permitted to charge members or guests to attend an Event via the Site, Application or Services.</p>
                <p>B. The Hosts, not RollforGroup, are solely responsible for honouring any confirmed Events and making available any Events reserved through the Site, Application and Services. If you, as a Guest, choose to accept an invitation from a Host to attend an Event, you agree and understand that you may be required to enter into an agreement with the Host and you agree to accept any terms, conditions, rules and restrictions associated with such Event imposed by the Host.</p>
                <p>C. You acknowledge and agree that you, and not RollforGroup, will be responsible for performing the obligations of any such agreements, that RollforGroup is not a party to such agreements, and that RollforGroup (inclusive of all subsidiaries) disclaims all liability arising from or related to any such agreements.</p>
                <p>D. In consideration for the use of RollforGroup’s online marketplace and platform, RollforGroup charges Service Fees.</p>
                <p>E. RollforGroup Payments collects these Service Fees and, where applicable, may also collect Taxes (such as VAT in Europe) in respect of Member Fees and Guest Fees.</p>
                <p>F. If, as a Guest, you wish to cancel a confirmed attendance at an Event made via the Site, Application and Services, either prior to or after arriving at the Event, the cancellation policy will apply to such cancellation. Our ability to refund the Guest Fees and other amounts charged to you will depend upon the terms of the applicable cancellation policy. Details regarding refunds and cancellation policies are available via the Site and Application.</p>
                <p>G. If a Host cancels a confirmed Event made via the Site, Services, and Application, the Guest may be notified that the Event has been cancelled by receiving communication via the Site. RollforGroup has no liability to members or guests for costs incurred by them if an Event is cancelled.</p>
                <p>H. If the Guest requests to attend one of the alternative Events and the Host associated with such alternative Event confirms the Guest’s invitation, then the Guest agrees to pay RollforGroup the Total Fees relating to the confirmed Event. If the Guest does not select another Event then RollforGroup may, at its sole discretion, refund to the Guest part or all of the amounts charged to the Guest for that Event.</p>
                <p>I. In certain circumstances, RollforGroup may decide, in its sole discretion, that it is necessary or desirable to cancel a confirmed Event made via the Site, Application and Services. RollforGroup may also determine, in its sole discretion, to refund to the Guest part or all of the amounts charged to the Guest.</p>
                <hr class="primary">
                <h4>10. Currency Conversion</h4>
                <p>Although the RollforGroup platform allows users to view the price of service fees in a number of currencies, the currencies available for users to make payments may be limited, and may not include the default currency in any given geographic location.</p>
                <hr class="primary">
                <h4>11. Damage caused at Events</h4>
                <p>You acknowledge and agree that, as a Host, you are responsible for your own acts and omissions and are also responsible for the acts and omissions of any individuals whom you invite to, or otherwise provide access to, the Event.</p>
                <hr class="primary">
                <h4>12. User Conduct</h4>
                <p>A. You understand and agree that you are solely responsible for compliance with any and all laws, rules, regulations, and Tax obligations that may apply to your use of the Site, Application, Services and Collective Content. In connection with your use of the Site, Application, Services and Collective Content, you may not and you agree that you will not:</p>
                <p>i. violate any local, state, provincial, national, or other law or regulation, or any order of a court, including, without limitation, zoning restrictions and Tax regulations;</p>
                <p>ii. use manual or automated software, devices, scripts, robots, backdoors or other means or processes to access, “scrape,” “crawl” or “spider” any web pages or other services contained in the Site, Application, Services or Collective Content;</p>
                <p>iii. access or use our Site, Application, Services or the RollforGroup API to use, expose, or allow to be used or exposed, any RollforGroup Content: (i) that is not publicly displayed by RollforGroup in its search results pages or listing pages before a Booking is confirmed; (ii) in any way that is inconsistent with the RollforGroup Privacy Policy or Terms of Service; or (iii) in any way that otherwise violates the privacy rights or any other rights of RollforGroup’s users or any other third party;</p>
                <p>iv. use the Site, Application, Services or Collective Content for any commercial or other purposes that are not expressly permitted by these Terms or in a manner that falsely implies RollforGroup endorsement, partnership or otherwise misleads others as to your affiliation with RollforGroup;</p>
                <p>v. dilute, tarnish or otherwise harm the RollforGroup brand in any way, including through unauthorized use of Collective Content, registering and/or using RollforGroup or derivative terms in domain names, trade names, trademarks or other source identifiers, or registering and/or using domains names, trade names, trademarks or other source identifiers that closely imitate or are confusingly similar to RollforGroup domains, trademarks, taglines, promotional campaigns or Collective Content;</p>
                <p>vi. copy, store or otherwise access or use any information contained on the Site, Application, Services or Collective Content for purposes not expressly permitted by these Terms;</p>
                <p>vii. infringe the rights of RollforGroup or the rights of any other person or entity, including without limitation, their intellectual property, privacy, publicity or contractual right;</p>
                <p>viii. interfere with or damage our Site, Application or Services, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, backdoors, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;</p>
                <p>ix. use our Site, Application or Services to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;</p>
                <p>x. use our Site, Application, Services or Collective Content in connection with the distribution of unsolicited commercial email (“spam”) or advertisements unrelated to lodging in a private residence;</p>
                <p>xi. “stalk” or harass any other user of our Site, Application, Services or Collective Content, or collect or store any personally identifiable information about any other user other than for purposes of transacting as an RollforGroup Guest or Host;</p>
                <p>xii. offer, as a Host, any Event that you do not yourself own or have permission to Book as a residential or other property (without limiting the foregoing, you will not list Events as a Host if you are serving in the capacity of an agent for a third party);</p>
                <p>xiii. register for more than one RollforGroup Account or register for an RollforGroup Account on behalf of an individual other than yourself;</p>
                <p>xiv. recruit or otherwise solicit any Host or other Member to join third-party services or websites that are competitive to RollforGroup, without RollforGroup’s prior written approval;</p>
                <p>xv. recruit or otherwise solicit any Member to join third-party services, applications or websites, without our prior written approval;</p>
                <p>xvi. impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;</p>
                <p>xvii. use automated scripts to collect information from or otherwise interact with the Site, Application, Services or Collective Content;</p>
                <p>xviii. use the Site, Application, Services or Collective Content to find a Host, Member or Guest and then organise an Event independent of the Site, Application or Services, in order to circumvent the obligation to pay any Service Fees related to RollforGroup’s provision of the Services or for any other reasons;</p>
                <p>xix. engage in disruptive, circumventive, abusive or harassing behaviour in any area or aspect of our Site, Application, or Services;</p>
                <p>xx. post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading (directly or by omission or failure to update information) or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances;</p>
                <p>xxi. systematically retrieve data or other content from our Site, Application or Services to create or compile, directly or indirectly, in single or multiple downloads, a collection, compilation, database, directory or the like, whether by manual methods, through the use of bots, crawlers, or spiders, or otherwise;</p>
                <p>xxii. use, display, mirror or frame the Site, Application, Services or Collective Content, or any individual element within the Site, Application, Services or Collective Content, RollforGroup’s name, any RollforGroup trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page in the Site, Application or Services, without RollforGroup’s express written consent;</p>
                <p>xxiii. access, tamper with, or use non-public areas of the Site, Application or Services, RollforGroup’s computer systems, or the technical delivery systems of RollforGroup’s providers;</p>
                <p>xxiv. attempt to probe, scan, or test the vulnerability of any RollforGroup system or network or breach any security or authentication measures;</p>
                <p>xxv. avoid, bypass, remove, deactivate, impair, descramble, or otherwise</p>
                <p>circumvent any technological measure implemented by RollforGroup or any of RollforGroup’s providers or any other third party (including another user) to protect the Site, Services, Application or Collective Content;</p>
                <p>xxvi. forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services, Application or Collective Content to send altered, deceptive or false source-identifying information;</p>
                <p>xxvii. attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services, Application or Collective Content;</p>
                <p>xxviii. advocate, encourage, or assist any third party in doing any of the foregoing; or</p>
                <p>xxix. accept or make a payment for Event Fees outside RollforGroup Payments. If you do so, you acknowledge and agree that you: (i) would be in breach of these Terms; (ii) accept all risks and responsibility for such payment, and (iii) hold RollforGroup harmless from any liability for such payment.</p>
                <p>B. RollforGroup has the right to investigate and prosecute violations of any of the above to the fullest extent of the law. In addition, and as set in these Terms, RollforGroup may take a range of actions against you, including but not limited to removing or disabling access to any or all of your Member Content or deactivating or cancelling your Listing(s) or RollforGroup Account, for a violation of this Section or these Terms.</p>
                <p>C. RollforGroup may access, preserve and disclose any of your information if we are required to do so by law, or if we believe in good faith that it is reasonably necessary to (i) respond to claims asserted against RollforGroup or to comply with legal process (for example, subpoenas or warrants), (ii) enforce or administer our agreements with users, such as these Terms (iii) for fraud prevention, risk assessment, investigation, customer support, product development and de-bugging purposes, or (iv) protect the rights, property or safety of RollforGroup, its users, or members of the public. You acknowledge that RollforGroup has no obligation to monitor your access to or use of the Site, Application, Services or Collective Content or to review, remove, disable access to or edit any Member Content, but has the right to do so for the purpose of operating and improving the Site, Application and Services (including without limitation for fraud prevention, risk assessment, investigation and customer support purposes), to ensure your compliance with these Terms, to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body, to respond to content that it determines is otherwise objectionable or as set forth in these Terms. RollforGroup reserves the right, at any time and without prior notice, to remove or disable access to any Collective Content that RollforGroup, at its sole discretion, considers to be objectionable for any reason, in violation of these Terms or otherwise harmful to the Site, Application or Services.</p>
                <hr class="primary">
                <h4>13. Reporting Misconduct</h4>
                <p>If you Host anyone at an Event who you feel is acting or has acted inappropriately, including but not limited to anyone who (i) engages in offensive, violent or sexually inappropriate behaviour, (ii) you suspect of stealing from you, or (iii) engages in any other disturbing conduct, you should immediately report such person to the appropriate authorities and then to RollforGroup by contacting us with your police station and report number; provided that your report will not obligate us to take any action beyond that required by law (if any) or cause us to incur any liability to you.</p>
                <hr class="primary">
                <h4>14. Privacy</h4>
                <p>You agree that RollforGroup’s Privacy Policy (as may be updated from time to time) governs RollforGroup’s collection and use of your personal information.</p>
                <hr class="primary">
                <h4>15. Intellectual Property Ownership and Rights Notices</h4>
                <p>The Site, Application, Services, and Collective Content are protected by copyright, trademark, and other laws of the United States and foreign countries. You acknowledge and agree that the Site, Application, Services and Collective Content, including all associated intellectual property rights, are the exclusive property of RollforGroup and its licensors.</p>
                <p>You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Application, Services, or Collective Content. All trademarks, service marks, logos, trade names, and any other proprietary designations of RollforGroup used on or in connection with the Site, Application, Services, and RollforGroup Content are trademarks or registered trademarks of RollforGroup in the US and abroad. Trademarks, service marks, logos, trade names and any other proprietary designations of third parties used on or in connection with the Site, Application, Services, and RollforGroup Content are used for identification purposes only and may be the property of their respective owners.</p>
                <hr class="primary">
                <h4>16. Additional Terms</h4>
                <p>Our Site, Application and Services have different products, features and offerings, so sometimes additional terms or product requirements may apply to your use of those products, features or offerings. If additional terms are available for the relevant product or Services you use, those additional terms become part of these Terms.</p>
                <hr class="primary">
                <h4>17. Application License</h4>
                <p>Subject to your compliance with these Terms, RollforGroup grants you a limited non-exclusive, non-transferable license to download and install a copy of the Application on each mobile device or computer that you own or control and run such copy of the Application solely for your own personal use. Furthermore, with respect to any Apple App Store Sourced Application (defined below), you will only use the App Store Sourced Application (i) on an Apple-branded product that runs the iOS (Apple’s proprietary operating system) and (ii) as permitted by the “Usage Rules” set forth in the Apple App Store Terms of Service. RollforGroup reserves all rights in the Application not expressly granted to you by these Terms.</p>
                <hr class="primary">
                <h4>18. RollforGroup Content and Member Content License</h4>
                <p>Subject to your compliance with these Terms RollforGroup grants you a limited, non-exclusive, non-transferable license, to (i) access and view any RollforGroup Content solely for your personal and non-commercial purposes and (ii) access and view any Member Content to which you are permitted access, solely for your personal and non-commercial purposes. You have no right to sublicense the license rights granted in this section.</p>
                <p>You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, broadcast or otherwise exploit the Site, Application, Services, or Collective Content, except as expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by RollforGroup or its licensors, except for the licenses and rights expressly granted in these Terms.</p>
                <hr class="primary">
                <h4>19. Member Content</h4>
                <p>We may, in our sole discretion, permit you to post, upload, publish, submit or transmit Member Content. By making available any Member Content on or through the Site,</p>
                <p>Application, Services, or through RollforGroup promotional campaigns, you hereby grant to RollforGroup a worldwide, irrevocable, perpetual (or for the term of the protection), non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, view, copy, adapt, translate, modify, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast, access, view, and otherwise exploit such Member Content on, through, by means of or to promote or market the Site, Application and Services. RollforGroup does not claim any ownership rights in any such Member Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit any such Member Content.</p>
                <p>You acknowledge and agree that you are solely responsible for all Member Content that you make available through the Site, Application, Services or through RollforGroup promotional campaigns. Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all Member Content that you make available through the Site, Application, Services or through RollforGroup promotional campaigns or you have all rights, licenses, consents and releases that are necessary to grant to RollforGroup the rights in such Member Content, as contemplated under these Terms; and (ii) neither the Member Content nor your posting, uploading, publication, submission or transmittal of the Member Content or RollforGroup’s use of the Member Content (or any portion thereof) on, through or by means of the Site, Application, the Services or RollforGroup promotional campaigns will infringe, misappropriate or violate a third party’s patent, copyright, trademark, trade secret, moral rights or other proprietary or intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</p>
                <hr class="primary">
                <h4>20. Links</h4>
                <p>The Site, Application and Services may contain links to third-party websites or resources. You acknowledge and agree that RollforGroup is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by RollforGroup of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources or the Content, products or services on or available from such websites or resources.</p>
                <p>Some portions of the RollforGroup platform implement Google Maps/Earth mapping services, including Google Maps API(s). Your use of Google Maps/Earth is subject to Google’s terms of use.</p>
                <hr class="primary">
                <h4>21. Feedback</h4>
                <p>We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site, Application and Services (“Feedback“). You may submit Feedback by emailing us, through the “Contact” section of the Site and Application, or by other means of communication. You acknowledge and agree that all Feedback you give us will be the sole and exclusive property of RollforGroup and you hereby irrevocably assign to RollforGroup and agree to irrevocably assign to RollforGroup all of your right, title, and interest in and to all Feedback, including without limitation all worldwide patent, copyright, trade secret, moral and other proprietary or intellectual property rights therein, and waive any moral rights you may have in such Feedback. At RollforGroup’s request and expense, you will execute documents and take such further acts as RollforGroup may reasonably request to assist RollforGroup to acquire, perfect, and maintain its intellectual property rights and other legal protections for the Feedback.</p>
                <hr class="primary">
                <h4>22. Copyright Policy</h4>
                <p>RollforGroup respects copyright law and expects its users to do the same. It is RollforGroup’s policy to terminate in appropriate circumstances the RollforGroup Accounts of Members or other account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders.</p>
                <hr class="primary">
                <h4>23. Term and Termination, Suspension and Other Measures</h4>
                <p>A. These Terms shall be effective for a 30-day term, at the end of which it will automatically and continuously renew for subsequent 30-day terms until such time when you or RollforGroup terminate these Terms as described below.</p>
                <p>B. You may terminate these Terms at any time via the “Cancel Account” feature on the Site or by sending us an email. If you cancel your RollforGroup Account as a Host, any confirmed Events will be automatically cancelled. If you cancel your RollforGroup Account as a Guest, any confirmed Booking will be automatically cancelled and any refund will be at the role discretion of RollforGroup.</p>
                <p>C. Without limiting our rights specified below, RollforGroup may terminate these Terms for convenience at any time by giving you 30 days’ notice via email to your registered email address.</p>
                <p>D. RollforGroup may immediately, without notice terminate these Terms if (i) you have materially breached these Terms or our Policies, including but not limited to any breach of your warranties outlined in these Terms or breach of the “User Conduct” provisions in these Terms, (ii) you have provided inaccurate, fraudulent, outdated or incomplete information during the RollforGroup Account registration, or Event process or thereafter, (iii) you have violated applicable laws, regulations or third party rights, or (iv) RollforGroup believes in good faith that such action is reasonably necessary to protect the safety or property of other Members, RollforGroup or third parties, for fraud prevention, risk assessment, security or investigation purposes.</p>
                <p>E. In addition RollforGroup may deactivate or delay Events, reviews, or other Member Content, cancel any pending or confirmed Event, limit your use of or access to your RollforGroup Account and the Site, Application or Services, temporarily or permanently revoke any special status associated with your RollforGroup Account, or temporarily or permanently suspend your RollforGroup Account if (i) you have breached these Terms or our Policies, including material and non-material breaches and receiving poor ratings from Members and Guests, or (ii) RollforGroup believes in good faith that such action is reasonably necessary to protect the safety or property of Members and Guests, RollforGroup or third parties, for fraud prevention, risk assessment, security or investigation purposes.</p>
                <p>F. If you or we terminate this Agreement, we do not have an obligation to delete or return to you any of your Member Content, including but not limited to any reviews or Feedback. When this Agreement has been terminated, you are not entitled to a restoration of your RollforGroup Account or any of your Member Content. If your access to or use of the Site, Application and Services has been limited or your RollforGroup Account has been suspended or this Agreement has been terminated by us, you may not register a new RollforGroup Account or attempt to access and use the Site, Application and Services through other RollforGroup Accounts.</p>
                <p>G. If you or we terminate this Agreement, the clauses of these Terms that reasonably should survive termination of the Agreement will remain in effect.</p>
                <hr class="primary">
                <h4>24. Disclaimers</h4>
                <p>A. If you choose to use the site, application, services or collective content, you do so at your sole risk. You acknowledge and agree that RollforGroup does not have an obligation to conduct background or registered sex offender checks on any member or guest.</p>
                <p>B. The site, application, services, collective content and referral program are provided “as is”, without warranty of any kind, either express or implied. Without limiting the foregoing, RollforGroup explicitly disclaims any warranties of merchantability, satisfactory quality, fitness for a particular purpose, quiet enjoyment or non-infringement, and any warranties arising out of course of dealing or usage of trade. RollforGroup makes no warranty that the site, application, services, collective content, including any events will meet your requirements.</p>
                <p>C. No advice or information, whether oral or written, obtained from RollforGroup or through the site, application, services or collective content, will create any warranty not expressly made herein.</p>
                <p>D. You are solely responsible for all of your communications and interactions with other users of the site, application or services and with other persons with whom you communicate or interact as a result of your use of the site, application or services, including, but not limited to, any hosts or guests. You understand that RollforGroup does not make any attempt to verify the statements of users of the site, application or services or to review or visit any events. RollforGroup makes no representations or warranties as to the conduct of users of the site, application or services or their compatibility with any current or future users of the site, application or services. You agree to take reasonable precautions in all communications and interactions with other users of the site, application or services and with other persons with whom you communicate or interact as a result of your use of the site, application or services, including, but not limited to, guests and hosts, particularly if you decide to meet offline or in person regardless of whether such meetings are organized by RollforGroup. RollforGroup explicitly disclaims all liability for any act or omission of any guest or other third party.</p>
                <hr class="primary">
                <h4>25. Limitation of Liability</h4>
                <p>You acknowledge and agree that, to the maximum extent permitted by law, the entire risk arising out of your access to and use of the site, application, services and collective content, any events, your participation or attendance at any events, and any contact you have with other users of RollforGroup whether in person or online remains with you. Neither RollforGroup nor any other party involved in creating, producing, or delivering the site, application, services, collective content or the referral program will be liable for any incidental, special, exemplary or consequential damages, including lost profits, loss of data or loss of goodwill, service interruption, computer damage or system failure or the cost of substitute products or services, or for any damages for personal or bodily injury or emotional distress arising out of or in connection with these terms, from the use of or inability to use the site, application, services or collective content, from any communications, interactions or meetings with other users of the site, application, or services or other persons with whom you communicate or interact as a result of your use of the site, application, services whether based on warranty, contract, tort (including negligence), product liability or any other legal theory, and whether or not RollforGroup has been informed of the possibility of such damage, even if a limited remedy set forth herein is found to have failed of its essential purpose.</p>
                <hr class="primary">
                <h4>26. Indemnification</h4>
                <p>You agree to release, defend, indemnify, and hold RollforGroup and its affiliates and subsidiaries, and their officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with (a) your access to or use of the Site, Application, Services, or Collective Content or your violation of these Terms; (b) your Member Content; (c) your (i) interaction with any Member, (ii) hosting or attending an Event including but not limited to any injuries, losses, or damages (compensatory, direct, incidental, consequential or otherwise) of any kind arising in connection with or the Event;.</p>
                <hr class="primary">
                <h4>27. Accessing and Downloading the Application from iTunes</h4>
                <p>The following applies to any Application accessed through or downloaded from the Apple App Store (“App Store Sourced Application“):</p>
                <p>A. You acknowledge and agree that (i) these Terms are concluded between you and RollforGroup only, and not Apple, and (ii) RollforGroup, not Apple, is solely responsible for the App Store Sourced Application and content thereof. Your use of the App Store Sourced Application must comply with the App Store Terms of Services.</p>
                <p>B. You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the App Store Sourced Application.</p>
                <p>C. In the event of any failure of the App Store Sourced Application to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the App Store Sourced Application to you and to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the App Store Sourced Application. As between RollforGroup and Apple, any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be the sole responsibility of RollforGroup.</p>
                <p>D. You and RollforGroup acknowledge that, as between RollforGroup and Apple, Apple is not responsible for addressing any claims you have or any claims of any third party relating to the App Store Sourced Application or your possession and use of the App Store Sourced Application, including, but not limited to: (i) product liability claims; (ii) any claim that the App Store Sourced Application fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p>
                <p>E. You and RollforGroup acknowledge that, in the event of any third-party claim that the App Store Sourced Application or your possession and use of that App Store Sourced Application infringes that third party’s intellectual property rights, as between RollforGroup and Apple, RollforGroup, not Apple, will be solely responsible for the investigation, defence, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms.</p>
                <p>F. You and RollforGroup acknowledge and agree that Apple, and Apple’s subsidiaries, are third-party beneficiaries of these Terms as related to your license of the App Store Sourced Application, and that, upon your acceptance of the terms and conditions of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms as related to your license of the App Store Sourced Application against you as a third-party beneficiary thereof.</p>
                <p>G. Without limiting any other terms of these Terms, you must comply with all applicable third-party terms of agreement when using the App Store Sourced Application.</p>
                <hr class="primary">
                <h4>28. Entire Agreement</h4>
                <p>Except as they may be supplemented by a document referenced and incorporated herein or by additional RollforGroup policies, guidelines, standards, or terms for a specific product, feature, service or offering, these Terms constitute the entire and exclusive understanding and agreement between RollforGroup and you regarding the Site, Application, Services, Collective Content (excluding Payment Services), and any Bookings or Groups and Events of Events made via the Site, Application and Services (excluding Payment Services), and these Terms supersede and replace any and all prior oral or written understandings or agreements between RollforGroup and you regarding Events, the Site, Application, Services, and Collective Content (excluding Payment Services).</p>
                <hr class="primary">
                <h4>29. Assignment</h4>
                <p>You may not assign or transfer these Terms, by operation of law or otherwise, without RollforGroup’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. RollforGroup may assign or transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>
                <hr class="primary">
                <h4>30. Notices</h4>
                <p>Any notices or other communications permitted or required hereunder, including those regarding modifications to these Terms, will be in writing and given by RollforGroup (i) via a Communication (in each case to the email address that you provide) or (ii) by posting to the Site or via the Application. For notices made via a Communication, the date of receipt will be deemed the date on which such notice is transmitted.</p>
                <hr class="primary">
                <h4>31. Controlling Law and Jurisdiction</h4>
                <p>These Terms and your use of the Services will be interpreted in accordance with the laws of Australia, and the State of New South Wales. You and we agree to submit to the exclusive jurisdiction of the Australian courts for resolving any dispute between the parties. If RollforGroup wishes to enforce any of its rights against you, we may elect to do so in an Australian court or in the courts of the jurisdiction in which you are resident.</p>
                <hr class="primary">
                <h4>32. Dispute Resolution</h4>
                <p>Written notice of any dispute must be given to RollforGroup. If RollforGroup is unable to resolve the dispute within 20 Business Days after notice is given either party may, after giving written notice to the other party, commence litigation in respect of the dispute.</p>
                <hr class="primary">
                <h4>33. General</h4>
                <p>The failure of RollforGroup to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of RollforGroup. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason an arbitrator or a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.</p>
                <hr class="primary">
                <h4>34. Third party beneficiary</h4>
                <p>These Terms do not and are not intended to confer any rights or remedies upon any person other than the parties.</p>
                <hr class="primary">
                <h4>35. Contacting RollforGroup</h4>
                <p>If you have any questions about these Terms, please contact RollforGroup.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}

<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
