    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{>navbars}}

    <div id="wrapper">
      <div id="maincontent" class="container-fluid">
        <div class="container-fluid">
          <div id="profile">

            <div class="pageheader">
              <button v-on:click="saveProfile('{{user.email}}')" id="save" class="btn btn-success pull-right" v-bind:disabled="saveDisabled" type="button"><i class="fa fa-save"></i> Save</button>
              <p class="form-header">Profile</p>
            </div>

            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">

                    <basic-textinput id="name" label="Display Name *" v-model="savedata.name"></basic-textinput>
                    <fieldset class="form-group x-col-6">
                      <div id="container4visibility">
                        <div class = "row">
                          <div id="div4visibility" class="col-xs-12">
                            <label class="form-label" for="visibility">Who can see your profile?</label>
                            <select v-model="savedata.visibility" class="form-control" id="visibility" name="visibility">
                              <option value="1">Public. Nearby people can see my profile.</option>
                              <option value="2">Private. Only people in events I join can see my profile.</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </fieldset>

                    <fieldset class="form-group col-xs-12">
                      <div id="div4biography" class="input-group text col-xs-12">
                        <label class="form-label" for="biography">About me</label>
                        <textarea v-model="savedata.biography" id="biography" name="biography" type="text" class="form-control text" rows="4"></textarea>
                      </div>
                    </fieldset>

                    <fieldset class="form-group col-xs-12">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="row">
                            <div class="col col-sm-6 col-md-4 col-lg-3">
                              <div class="main-img-preview">
                                <img id="avatar" class="thumbnail img-preview" v-bind:src="avataricon" onerror="this.src='img/default-avatar-sq.jpg'" title="Preview Logo">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-group col-sm-12">
                              <input id="fakeUploadLogo" class="form-control fake-shadow" placeholder="Choose File" disabled="disabled">
                              <div class="input-group-btn">
                                <div class="fileUpload btn btn-info fake-shadow">
                                  <span><i class="glyphicon glyphicon-upload"></i> Upload Avatar</span>
                                  <input id="logo-id" name="logo" type="file" class="attachment_upload" accept="image/*">
                                </div>
                                <div v-if="hasfacebook" @click="setFacebookImage('{{user.email}}')" id="facebookicon" class="fileUpload btn btn-primary fake-shadow">
                                  <span><i class="fa fa-facebook-square"></i> facebook picture</span>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>

                    <basic-textinput id="name" label="Profession" v-model="savedata.job"></basic-textinput>

                  </div>
                </div>
              </div>
            </div>


            <div id="location" class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Location</h4>

                      <fieldset class="form-group col-sm-6">
                        <div id="div4playcity" class="input-group text col-lg-8 col-xs-12">
                          <label class="form-label" for="playcity">What is your location?</label>
                          <div class="input-group text col-xs-12">
                            <input v-model="savedata.playcity" id="playcity" name="playcity" class="form-control text" type="text">
                          </div>
                        </div>
                      </fieldset>

                      <fieldset class="form-group">
                        <input v-model="savedata.playcitylat" type="hidden" name="playcitylat" id="playcitylat">
                      </fieldset>

                      <fieldset class="form-group">
                        <input v-model="savedata.playcitylng" type="hidden" name="playcitylng" id="playcitylng">
                      </fieldset>

                      <fieldset class="form-group col-sm-6">
                        <div id="div4searchradius" class="input-group text col-lg-8 col-xs-12">
                          <label class="form-label" for="searchradius">How far are you willing to travel to play a game?</label>
                          <div class="input-group text col-xs-12">
                            <input v-model="savedata.searchradius" id="searchradius" name="searchradius" class="form-control text" type="text" value="50">
                            <div class="input-group-addon">km</div>
                          </div>
                        </div>
                      </fieldset>

                  </div>
                </div>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Why do you play boardgames?</h4>

                    <label class="form-label">What inspires you most to play boardgames?</label>
                    <fieldset class="form-group">
                      <div id="div4motivediscovery" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivediscovery" type="checkbox" id="motivediscovery" name="motivediscovery"><strong>Discovering</strong> New Boardgames.</label>
                        </div>
                      </div>
                      <div id="div4motivestrategy" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivestrategy" type="checkbox" id="motivestrategy" name="motivestrategy"><strong>Strategy.</strong> Thinking, planning, and decision making.</label>
                        </div>
                      </div>
                      <div id="div4motivestory" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivestory" type="checkbox" id="motivestory" name="motivestory"><strong>Story.</strong> Experiencing a Great Story.</label>
                        </div>
                      </div>
                      <div id="div4motivecommunity" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivecommunity" type="checkbox" id="motivecommunity" name="motivecommunity"><strong>Social.</strong> Spending time with others.</label>
                        </div>
                      </div>
                      <div id="div4motivesocialmanipulation" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivesocialmanipulation" type="checkbox" id="motivesocialmanipulation" name="motivesocialmanipulation"><strong>Social Manipulation.</strong> Playing mind games, bluffing and deceit and persuasion.</label>
                        </div>
                      </div>
                      <div id="div4motivedesign" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivedesign" type="checkbox" id="motivedesign" name="motivedesign"><strong>Aesthetics.</strong> High quality components, artwork, illustrations and deep theme.</label>
                        </div>
                      </div>
                      <div id="div4motivecompetition" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivecompetition" type="checkbox" id="motivecompetition" name="motivecompetition"><strong>Conflict.</strong> Such as stealing resources, blocking others or directly attacking other players.</label>
                        </div>
                      </div>
                      <div id="div4motivecooperation" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.motivecooperation" type="checkbox" id="motivecooperation" name="motivecooperation"><strong>Cooperation.</strong> Working together and teaming up.</label>
                        </div>
                      </div>
                    </fieldset>

                    <fieldset class="form-group">
                      <div id="container4isteacher">
                        <div class = "row">
                          <div id="div4isteacher" class = "col-xs-12">
                            <label class="form-label" for="isteacher">Would you like to teach and explain games to new players?</label>
                            <select v-model="savedata.isteacher" class="form-control" id="isteacher" name="isteacher">
                              <option value="1">No. I don't want to teach games.</option>
                              <option value="2">Yes. I like teaching new games to players.</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </fieldset>

                    <fieldset class="form-group">
                      <div id="container4ishost">
                        <div class = "row">
                          <div id="div4ishost" class = "col-xs-12">
                            <label class="form-label" for="isteacher">Are you able to host events?</label>
                            <select v-model="savedata.ishost" class="form-control" id="ishost" name="ishost">
                              <option value="1">No. I don't like hosting or I don't have a venue suitable for hosting events.</option>
                              <option value="2">Yes. I can host and I have a suitable venue.</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </fieldset>


                  </div>
                </div>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Why did you join Roll for Group?</h4>

                    <label class="form-label">What are you hoping to get out of the Roll for Group site?</label>
                    <fieldset class="form-group">
                      <div id="div4whymanagemyevent" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.whymanagemyevent" type="checkbox" id="whymanagemyevent" name="whymanagemyevent">Manage a board game event.</label>
                        </div>
                      </div>
                      <div id="div4whyfindlocalgamers" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.whyfindlocalgamers" type="checkbox" id="whyfindlocalgamers" name="whyfindlocalgamers">Find local gamers.</label>
                        </div>
                      </div>
                      <div id="div4whyfindlocalevents" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.whyfindlocalevents" type="checkbox" id="whyfindlocalevents" name="whyfindlocalevents">Find local events.</label>
                        </div>
                      </div>
                      <div id="div4whymanageboardgames" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.whymanageboardgames" type="checkbox" id="whymanageboardgames" name="whymanageboardgames">Manage and share my board games collection.</label>
                        </div>
                      </div>
                    </fieldset>

                    <fieldset class="form-group col-xs-12">
                      <div id="div4whyother" class="input-group text col-xs-12">
                        <label class="form-label" for="whyother">Other Reasons</label>
                        <textarea v-model="savedata.whyother" id="biography" name="whyother" type="text" class="form-control text" rows="4"></textarea>
                      </div>
                    </fieldset>


                  </div>
                </div>
              </div>
            </div>



            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Social Links</h4>
                    <basic-textinput id="socialfacebook" label="Facebook" v-model="savedata.socialfacebook"></basic-textinput>
                    <basic-textinput id="socialtwitter" label="Twitter" v-model="savedata.socialtwitter"></basic-textinput>
                    <basic-textinput id="socialpinterest" label="Pinterest" v-model="savedata.socialpinterest"></basic-textinput>
                    <basic-textinput id="socialyoutube" label="Youtube Channel" v-model="savedata.socialyoutube"></basic-textinput>
                    <basic-textinput id="socialtwitch" label="Twitch" v-model="savedata.socialtwitch"></basic-textinput>
                    <basic-textinput id="socialdiscord" label="Discord" v-model="savedata.socialdiscord"></basic-textinput>
                    <basic-textinput id="socialwebsite" label="Website URL" v-model="savedata.socialwebsite"></basic-textinput>
                    <basic-textinput id="socialgoogleplus" label="Google Plus" v-model="savedata.socialgoogleplus"></basic-textinput>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Contact Methods</h4>
                    <basic-textinput id="commsteam" label="Steam" v-model="savedata.commsteam"></basic-textinput>
                    <basic-textinput id="commphoneno" label="Phone Number" v-model="savedata.commphoneno"></basic-textinput>
                    <basic-textinput id="commskype" label="Skype" v-model="savedata.commskype"></basic-textinput>
                    <basic-textinput id="commreddit" label="Reddit" v-model="savedata.commreddit"></basic-textinput>
                    <basic-textinput id="commbattlenet" label="Battle.net Account" v-model="savedata.commbattlenet"></basic-textinput>
                    <basic-textinput id="commxbox" label="XBox Live Gamertag" v-model="savedata.commxbox"></basic-textinput>
                    <basic-textinput id="commpsn" label="Playstation Live Gamertag" v-model="savedata.commpsn"></basic-textinput>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Availability</h4>

                    <scheduleday v-model="savedata.Monday" id="mondayslider" label="Monday" :starthour="savedata.mondaystarthour" :startminute="savedata.mondaystartminute" :endhour="savedata.mondayendhour" :endminute="savedata.mondayendminute"></scheduleday>
                    <scheduleday v-model="savedata.Tuesday" id="tuesdayslider" label="Tuesday" :starthour="savedata.tuesdaystarthour" :startminute="savedata.tuesdaystartminute" :endhour="savedata.tuesdayendhour" :endminute="savedata.tuesdayendminute"></scheduleday>
                    <scheduleday v-model="savedata.Wednesday" id="wednesdayslider" label="Wednesday" :starthour="savedata.wednesdaystarthour" :startminute="savedata.wednesdaystartminute" :endhour="savedata.wednesdayendhour" :endminute="savedata.wednesdayendminute"></scheduleday>
                    <scheduleday v-model="savedata.Thursday" id="thursdayslider" label="Thursday" :starthour="savedata.thursdaystarthour" :startminute="savedata.thursdaystartminute" :endhour="savedata.thursdayendhour" :endminute="savedata.thursdayendminute"></scheduleday>
                    <scheduleday v-model="savedata.Friday" id="fridayslider" label="Friday" :starthour="savedata.fridaystarthour" :startminute="savedata.fridaystartminute" :endhour="savedata.fridayendhour" :endminute="savedata.fridayendminute"></scheduleday>
                    <scheduleday v-model="savedata.Saturday" id="saturdayslider" label="Saturday" :starthour="savedata.saturdaystarthour" :startminute="savedata.saturdaystartminute" :endhour="savedata.saturdayendhour" :endminute="savedata.saturdayendminute"></scheduleday>
                    <scheduleday v-model="savedata.Sunday" id="sundayslider" label="Sunday" :starthour="savedata.sundaystarthour" :startminute="savedata.sundaystartminute" :endhour="savedata.sundayendhour" :endminute="savedata.sundayendminute"></scheduleday>

                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Collection</h4>
                    <basic-textinput id="bggname" label="Boardgame Geek Username" v-model="savedata.bggname"></basic-textinput>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Email Notifications</h4>

                    <fieldset class="form-group">
                      <div id="div4notifyevents" class="col-md-6">
                        <div class="checkbox">
                          <label><input v-model="savedata.notifyevents" type="checkbox" id="notifyevents" name="notifyevents">Email when nearby events are published.</label>
                        </div>
                      </div>
                    </fieldset>

                  </div>
                </div>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-xs-12 buttons-area">
                <fieldset class="pull-right">
                  <button v-on:click="saveProfile('{{user.email}}')" id="save" class="btn btn-success pull-right" v-bind:disabled="saveDisabled" type="button"><i class="fa fa-save"></i> Save</button>
                </fieldset>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
              <h4>Delete Account</h4>
              <hr>
              <p>Deleting your account will remove your account and board game collections from Roll for Group. To keep your account, but not be visible to other players, set your profile to 'private' above.</p>
              <p>
                <button id="delete" class="btn btn-danger">Delete account <i class="fa fa-close"></i></button>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- /#maincontent -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div class="modal fade" id="saved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Profile Updated</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Your profile has been updated.	
          </div>
          <div class="modal-footer">
            <button id="modalok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <script src="js/moment.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-clockpicker.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/jQDateRangeSlider-min.js"></script>
    <script src="js/loadingbar/loadingoverlay.min.js"></script>

    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>
    <script src="js/ramda.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

    <script src="js/profile.js?v=0.1c"></script>

    <script>

      const halert = R.curry(function(msg, a) {
        alert('ha:' + msg + "." + JSON.stringify(a));
        return a;
      });

      // delete 
      const deleteProfile = function() {
        if (confirm("Are you sure you want to delete your account? You can not undo this action!")) {
          var ajaxCall = $.ajax({
            type: "DELETE",
            url: "/api/v1/accounts/{{user.email}}",
            dataType: "json",
            data: {}
          });

          ajaxCall.done(function(data) {
            window.location.href = "logout";
          });

          ajaxCall.fail(function(data) {
            alert('Your account was not deleted, please ensure you are logged in and try again.');
          });

        };
      };

      // setupSlider num
      function setupSlider(id) {
        $("#" + id).dateRangeSlider({
          arrows: false,
          bounds: {min: new Date(2010, 0, 1, 0, 15 ), max: new Date(2010, 0, 1, 23, 59 )},
          defaultValues: {min: new Date(2010, 0, 1, 8, 0 ), max: new Date(2010, 0, 1, 22, 0 )},
          formatter: function(value) {
            var hour = value.getHours();
            var minute = value.getMinutes();
            return "" + ((hour < 13) 
              ? (hour) 
              : (hour - 12)) + ":" + formatMinutes(minute) + formatAmPm(hour);
          },
          step:{
            minutes: 15,
          },
        }).bind("valuesChanged", function(e, data){
          $("#" + id).data("startminute") = data.values.min.getHours();
          var minMinutes = data.values.min.getMinutes();
          var	maxHour = data.values.max.getHours();
          var	maxMinutes = data.values.max.getMinutes();
          var	finalMin = "" + (minHour) + ":" + (minMinutes < 10 ? "0" + minMinutes : minMinutes);
          var	finalMax = "" + (maxHour) + ":" + (maxMinutes < 10 ? "0" + maxMinutes : maxMinutes);
        });
      };

      setupSlider('mondayslider');
      setupSlider('tuesdayslider');
      setupSlider('wednesdayslider');
      setupSlider('thursdayslider');
      setupSlider('fridayslider');
      setupSlider('saturdayslider');
      setupSlider('sundayslider');

      $(document).ready(function() {

        var ajaxCall = $.ajax({
          type: "GET",
          url: "/api/v1/accounts/{{user.pageslug}}",
          dataType: "json",
          data: {}
        });


        ajaxCall.done(function(userdata) {

          var begindata = {
            name:       userdata.name,
            biography:  userdata.biography,
            job:        userdata.job,
            visibility: userdata.visibility,

            motivecompetition:  userdata.motivecompetition,
            motivesocialmanipulation: userdata.motivesocialmanipulation,
            motivestrategy:     userdata.motivestrategy,
            motivediscovery:    userdata.motivediscovery, 
            motivedesign:       userdata.motivedesign,
            motivecommunity:    userdata.motivecommunity,
            motivecooperation:  userdata.motivecooperation,
            motivestory:        userdata.motivestory,

            whymanagemyevent:     userdata.whymanagemyevent,
            whyfindlocalgamers:   userdata.whyfindlocalgamers,
            whyfindlocalevents:   userdata.whyfindlocalevents,
            whymanageboardgames:  userdata.whymanageboardgames,
            whyother:             userdata.whyother,

            isteacher:          userdata.isteacher,
            ishost:             userdata.ishost, 

            playcity: userdata.localarea.name,
            playcitylat: "{{sections.0.questions.8.value}}",
            playcitylng: "{{sections.0.questions.9.textinput.value}}",
            searchradius: userdata.searchradius,

            socialfacebook:   userdata.socialfacebook,
            socialtwitter:    userdata.socialtwitter,
            socialpinterest:  userdata.socialpinterest,
            socialyoutube:    userdata.socialyoutube,
            socialtwitch:     userdata.socialtwitch,
            socialdiscord:    userdata.socialdiscord,
            socialwebsite:    userdata.socialwebsite,
            socialgoogleplus: userdata.socialgoogleplus,

            commsteam:    userdata.commsteam,
            commphoneno:  userdata.commphoneno,
            commskype:    userdata.commskype,
            commreddit:   userdata.commreddit,
            commbattlenet: userdata.commbattlenet, 
            commxbox:     userdata.commxbox,
            commpsn:      userdata.commpsn,

            Monday:   true,
            Tuesday:  true,
            Wednesday: true,
            Thursday: true,
            Friday:   true,
            Saturday: true,
            Sunday:   true,

            // todo find out why these have no values
            mondaystarthour: userdata.mondaystarthour,
            mondaystartminute: userdata.mondaystartminute,
            mondayendhour: userdata.mondayendhour,
            mondayendminute: userdata.mondayendminute,

            tuesdaystarthour: userdata.tuesdaystarthour,
            tuesdaystartminute: userdata.tuesdaystartminute,
            tuesdayendhour: userdata.tuesdayendhour,
            tuesdayendminute: userdata.tuesdayendminute,

            wednesdaystarthour: userdata.wednesdaystarthour,
            wednesdaystartminute: userdata.wednesdaystartminute,
            wednesdayendhour: userdata.wednesdayendhour,
            wednesdayendminute: userdata.wednesdayendminute,

            thursdaystarthour: userdata.thursdaystarthour,
            thursdaystartminute: userdata.thursdaystartminute,
            thursdayendhour: userdata.thursdayendhour,
            thursdayendminute: userdata.thursdayendminute,

            fridaystarthour: userdata.fridaystarthour,
            fridaystartminute: userdata.fridaystartminute,
            fridayendhour: userdata.fridayendhour,
            fridayendminute: userdata.fridayendminute,

            saturdaystarthour: userdata.saturdaystarthour,
            saturdaystartminute: userdata.saturdaystartminute,
            saturdayendhour: userdata.saturdayendhour,
            saturdayendminute: userdata.saturdayendminute,

            sundaystarthour: userdata.sundaystarthour,
            sundaystartminute: userdata.sundaystartminute,
            sundayendhour: userdata.sundayendhour,
            sundayendminute: userdata.sundayendminute,

            bggname: userdata.bggname,
            notifyevents: userdata.notifyevents

          };

          var userData = {
            savedata:   jQuery.extend(true, {}, begindata),
            beforedata: jQuery.extend(true, {}, begindata),
            avataricon: "{{sections.0.questions.2.imageupload.src}}",
            hasfacebook: "{{sections.0.questions.2.imageupload.hasfacebook}}",
          };

          // because the time sliders don't render well until everything loads
          setTimeout(function() {
            vuProfile.savedata.Monday = userdata.Monday;
            vuProfile.savedata.Tuesday = userdata.Tuesday;
            vuProfile.savedata.Wednesday = userdata.Wednesday;
            vuProfile.savedata.Thursday = userdata.Thursday;
            vuProfile.savedata.Friday = userdata.Friday;
            vuProfile.savedata.Saturday = userdata.Saturday;
            vuProfile.savedata.Sunday = userdata.Sunday;

          }, 1000);

          setupData(userData);

        });

        $('.clockpicker').clockpicker({
          donetext: 'OK'
        });

        $('.datepicker').datepicker({
          startDate: '+1d'
        });

        $('#delete').on('click', function() {
          deleteProfile();
        });

        var upimage = document.getElementById('logo-id');
        upimage.onchange = function() {
          $('#fakeUploadLogo').val(this.value.substring(12));
          $('#fakeUploadLogo').attr('placeholder', '');
        };

        $("#logo-id").change(function() {
          if (vuProfile.readURL(this)) {

            var form = $('form')[0];
            var formdata = new FormData(form);
            formdata.append('email', '{{user.email}}'); 
            formdata.append('avataricon', this.files[0]); 
            vuProfile.saveDisabled = true;

            // Show full page LoadingOverlay
            $.LoadingOverlay("show");

            var ajaxCall = $.ajax({
              type: "POST",
              url: "api/v1/upload",
              timeout: 60000,
              data: formdata,
              contentType: false,
              processData: false,
              cache: false
            });

            ajaxCall.done(function(result) {
              vuProfile.saveDisabled = false;
              $.LoadingOverlay("hide");
            });

            ajaxCall.fail(function(e, errortext) {
              vuProfile.saveDisabled = false;
              $.LoadingOverlay("hide");
              alert('error:' + JSON.stringify(e));
            });
          };
        });

      });

      var lookupCityData = {}

      $('#playcity').typeahead(
        {
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          source: function(query, sync, process) {
            return $.ajax({
              type: "GET",
              url: "/api/v1/locations",
              dataType: "json",
              data: {search: query},
              success: function(data) {
                lookupCityData = data;
                return process(R.map(R.path(['place','address']), data));
              }
            });
          }
        }
      );

      $('#playcity').bind('typeahead:selected', function(obj, datum, name) {
        vuProfile.savedata.playcity = datum;
        vuProfile.savedata.playcitylat = lookupCityData[0].place.coords.lat;
        vuProfile.savedata.playcitylng = lookupCityData[0].place.coords.lng;
      })

    </script>
