    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <!-- questions on the left -->

                        {{#each sections}}
                        <form id="sections" role="form">

                            {{>form-header}}
                            <div class="form-bottom">
                                {{#each questions}}
                                <fieldset class="form-group" {{#if fieldsetid}}id="{{fieldsetid}}"{{/if}}>
                                    {{>form-select}}
                                    {{>form-checkbox}}
                                    {{>form-textinput}}
                                    {{>form-textarea}}
                                    {{>form-timerange}}
                                    {{>form-hiddeninput}}
                                    {{>form-maplocation}}
                                    {{>form-datepicker}}
                                </fieldset>
                                {{/each}}
                            </div>

                        </form>

                        <div>
                            <fieldset class="form-bottom">
                                <button id="purchase" name="purchase" class="btn btn-default btn-xl btn-link-1 btn-form pull-right card-2">Purchase <i class="fa fa-ticket"></i></button>
                            </fieldset>
                        </div>

                        <div class="form-bottom-image col-xs-12">
                            <img class="col-xs-12" src="{{canvas}}" />
                        </div>
                        {{/each}}
                   </div>
                </div>
            </div>
        </div>
    </div>

	<!-- Modal -->
	<div class="modal fade" id="purchaseok" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Purchase Successful</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			Thank you for your ticket purchase. We hope these tickets bring you enjoyable experiences and new friends.	
		  </div>
		  <div class="modal-footer">
			<button id="modalok" type="button" class="btn btn-primary" data-dismiss="modal">Play!</button>
		  </div>
		</div>
	  </div>
	</div>

    {{>footer}}

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/ramda.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap-clockpicker.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/loadingbar/loadingoverlay.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <script>
          $(document).ready( function() {

			$("#purchaseok").on('hidden.bs.modal', function(e) {
				window.location.href = "events";
			});


              $("#purchase").click(function() {

                  const buildPurchase = R.zipObj(['item', 'tickets', 'method', 'currency', 'amount', 'payreference', 'promotion', 'coupon']); 

                  if (R.isEmpty($('#like').val())) {
                      alert("Please provide feedback, to receive your free tickets");
                      $('#div4like').addClass('has-warning');
                      $('#like').focus();

                  } else if (R.isEmpty($('#dislike').val())) {
                      alert("Please provide feedback, to receive your free tickets");
                      $('#div4dislike').addClass('has-warning');
                      $('#dislike').focus();

                  } else {

                      // Show full page LoadingOverlay
                      $.LoadingOverlay("show");

                      var senddata = {
                          email: '{{user.email}}',
                          likes: $('#like').val(),
                          dislikes: $('#dislike').val(), 
                          suggestion: $('#suggestion').val() 
                      }; 

                      const ajaxFeedback = $.ajax({
                          type: "POST",
                          url: "/api/v1/feedbacks",
                          dataType: "json",
                          data: senddata,
                          cache: false,
                      });
                      ajaxFeedback.done();

                      const ajaxCall = $.ajax({
                          type: "PATCH",
                          url: "/api/v1/accounts/{{user.email}}/purchase",
                          timeout: 10000,
                          dataType: "json",
                          data: buildPurchase([$('#itempack option:selected').text(), $('#itempack').val(), 'paypal', 'USD', '0', 'free', 'startupphase', 'noc']),
                          cache: false
                      }); 

                      ajaxCall.done(function(result) {
                          $.LoadingOverlay("hide");
                          $('#purchaseok').modal()
                      });
                          
                      ajaxCall.fail(function(e, errortext) {
                          $.LoadingOverlay("hide");
                          alert(JSON.stringify(e));
                      });

                  };
              });
          });

       </script>

 
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
