
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <p></p>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="form-box col-sm-12">
                                <div class="form-top">

                                  <p></p>
                                  <div class="rfglogo32 itemx">
                                    <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
                                    <span class="brandname">Roll for Group</span>
                                  </div>

                                    <div class="form-top-left">
                                        {{#if heading}}
                                        <h3 id="formheading">{{heading}}</h3>
                                        <p>{{message}}</p>
                                        {{else}}
                                        <h3 id="formheading">Reset Password Email Sent</h3>
                                        <p>Please check your email for a reset password link.</p>
                                        <p>Ensure to check your junk and spam email if you do not receive anything. You have one hour to reset your password.</p>
                                        {{/if}}


                                        {{#if info}}
                                        <div class="alert alert-info" role="alert">
                                        {{info}} 

                                        {{#if showsignin}}
                                        <a href="login">Login Page</a> 
                                        {{/if}}

                                        </div>
                                        {{/if}}


                                        {{#if warning}}
                                        <div class="alert alert-warning" role="alert">
                                        {{warning}} 
                                        </div>
                                        {{/if}}
                                    </div>

                                    <div class="form-top-right">
                                        <i class="fa fa-lock"></i>
                                    </div>

                                    {{#if showPassword}}

                                    <div class="form-bottom">
                                        <form role="form" id="formreset" action="" method="post" class="login-form">
                                            <div class="form-group form-group-lg">
                                                <label class="sr-only" for="formpassword">Password</label>
                                                <input type="password" name="formpassword" placeholder="Password..." class="form-password form-control" id="form-password">
                                            </div>

                                            <input type="hidden" name="email" id="form-email" value="{{email}}">
                                            <input type="hidden" name="token" id="form-token" value="{{resetPasswordToken}}">
                                            <div class="form-group form-group-lg">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button type="submit" class="btn btn-xl btn-link-1 col-xs-12" name="formsignup">Reset Password</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    {{/if}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {{>footer}}

        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <script>

        $('#formreset').submit(function() {

            if (R.trim($('#form-password').val()) === "") {
                alert('Please enter a valid password'); 
                $('#formpassword').addClass('input-error');
                $('#formpassword').focus();
                return false;
            }

        });

        </script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
