      <div class="containerx">
        <div class="signup-form">
          <form v-cloak role="form" action="" method="post" class="registration-form" @submit="submitSignupForm">

            <div class="closebutton">
              <span><i @click="closeWindow" class="fa fa-times fa-2x"></i></span>
            </div>

            <div class="header itemx">
              <h2>Join Roll for Group</h2>
              <span>Lets play board games</span>
            </div>

            <div class="email itemx">
              <input v-model="formemail" type="email" name="formemail" placeholder="Email..." class="form-input" id="form-email">
            </div>

            <div class="password itemx">
              <input v-model="formpassword" type="password" :type="getPasswordType(showpassword)" name="formpassword" placeholder="Password..." class="form-input" id="form-password" @keyup="detectCaps">

              <div v-if="whenCapsIsOn" class="alert alert-warning alertspacing" role="alert">The Caps Lock key is on!</div>
              <div v-if="showLogonError" class="alert alert-danger alertspacing" role="alert"><span>\{{errortext}}</span></div>

              <div class="showpassword">
                <input v-model="showpassword" type="checkbox" id="showpassword"></input> <label class="" for="showpassword">Show Password</label>
              </div>
            </div>

            <div class="signupbutton itemx">
              <button type="submit" class="btn" name="formsignup" id="signupbutton">Create Account</button>
            </div>

            <div class="facebookbutton itemx">
              <a class="btn btn-link-2" href="/login/facebook" id="facebookbutton">
                <i class="fa fa-facebook"></i> Continue with Facebook
              </a>
            </div>

            <div class="googlebutton itemx">
              <a class="btn btn-link-3" href="/auth/google" id="googlebutton">
                <img src="img/btn_google_dark_focus_ios.png"></img> Sign in with Google 
              </a>
            </div>

          </form>
        </div>
      </div>


        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/signup.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <!-- Preload the Thumbnail plugin script -->
        <script src="js/jquery.mThumbnailScroller.min.js"></script>
        <link rel="stylesheet" href="css/jquery.mThumbnailScroller.css">

        <script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
