      <div class="containerx">

       <div class="row bs-wizard" style="border-bottom:0;">
          <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Goals</div>
          </div>
          
         <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Local Area</div>
          </div>

           <div class="col-xs-3 bs-wizard-step disabled">
           <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Profile</div>
          </div>
          
          <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Community</div>
          </div>
        </div>

        <div class="brandlogo rfglogo32 itemx">
          <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
          <span class="brandname">Roll for Group</span>
        </div>

        <div class="stage-form">

          <div class="itemx">
            <h2>Lets get started</h2>
            <h3>What are your expecting from Roll for Group?</h3>
            <div class="checkbox">
              <label><input type="checkbox" id="whyfindlocalgamers" v-model="whyfindlocalgamers" name="whyfindlocalgamers">Help me connect with local board gamers</label>
            </div>
            <small class="helptext" v-if="whyfindlocalgamers"><i>Find board gamers with the same interests as yours</i></small>

            <div class="checkbox">
              <label><input type="checkbox" id="whyfindlocalevents" v-model="whyfindlocalevents" name="whyfindlocalevents">Help me find local board game events</label>
            </div>
            <small class="helptext" v-if="whyfindlocalevents"><i>Find and be notified of nearby board gaming events</i></small>

            <div class="checkbox">
              <label><input type="checkbox" id="whymanageboardgames" v-model="whymanageboardgames" name="whymanageboardgames">Help me share and manage my board game collection</label>
            </div>
            <small class="helptext" v-if="whymanageboardgames"><i>Share your board game colleection with others</i></small>

            <div class="checkbox">
              <label><input type="checkbox" id="whymanagemyevent" v-model="whymanagemyevent" name="whymanagemyevent">Help me manage my board game group or event</label>
            </div>
            <small class="helptext" v-if="whymanagemyevent"><i>Let Roll for Group manage your game group</i></small>
          </div>

          <div class="itemx">
            <label class="" for="name">I joined for other reasons</label>
            <textarea v-model="whyother" id="whyother" name="whyother" type="text" class="form-control text" rows="3"></textarea>
          </div>

          <div class="itemx">
            <button id="nextverify" class="btn nextbutton" @click="nextclick( '{{email}}',  '{{key}}', whyfindlocalgamers, whyfindlocalevents, whymanageboardgames, whymanagemyevent, whyother )">
              Next <i class="fa fa-arrow-circle-right"></i>
            </button>
          </div>
        </div>

        <div class="newfooter">
          <span id="about"><a href="about" class="terms">About</a></span>
          <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
          <span id="privacy"><a href="privacy" class="terms">Terms & Conditions</a></span>
        </div>

      </div>


        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/ramda.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap-clockpicker.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/loadingbar/loadingoverlay.min.js"></script>

        <!-- typeahead -->
        <script src="js/typeahead/typeahead.bundle.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <script src="js/stage1.js?version=0.1"></script>

        <script>
          $(document).ready( function() {

            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });

          });

        </script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

