      <div class="containerx">

       <div class="row bs-wizard" style="border-bottom:0;">
          <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/stage1" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Goals</div>
          </div>

         <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/stage2" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Local Area</div>
          </div>

          <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Profile</div>
          </div>
          
         
          <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Community</div>
          </div>
        </div>

        <div class="brandlogo rfglogo32 itemx">
          <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
          <span class="brandname">Roll for Group</span>
        </div>

        <div class="stage-form">

          <div class="itemx">
            <h2>Your Details</h2>
            <h3>Lets create your gamer profile, please tell us about yourself</h3>

          </div>

          <div class="username itemx">
            <h3>What do you want to be known as?</h3>
            <label class="" for="name">Please pick a username.</label>
            <input id="name" name="name" v-model="name" :class="textclass(verifyname(name))" type="text">
          </div>

          <div class="itemx">
            <label class="" for="visibility">Who can see your profile?</label>
            <select class="form-control" id="visibility" name="visibility" v-model="visibility">
              <option id="public" value="1" selected="">Public, other nearby gamers can see my profile</option>
              <option id="private" value="2">Private, my profile will not be visible in nearby player searches</option>
            </select>
          </div>

          <div class="itemx">
            <label class="" for="age">You must be over eighteen to have a public profile. Please enter your age.</label>
            <input id="age" name="age" v-model="age" :class="textclass(verifyage(age))">
          </div>


          <div class="itemx">
            <button id="nextverify" class="btn nextbutton" @click="nextclick( '{{email}}',  '{{key}}', name, age, visibility)">
              Next <i class="fa fa-arrow-circle-right"></i>
            </button>
          </div>
        </div>

        <div class="newfooter">
          <span id="about"><a href="about" class="terms">About</a></span>
          <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
          <span id="privacy"><a href="privacy" class="terms">Terms & Conditions</a></span>
        </div>

      </div>


        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/ramda.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap-clockpicker.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/loadingbar/loadingoverlay.min.js"></script>

        <!-- typeahead -->
        <script src="js/typeahead/typeahead.bundle.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <script src="js/stage3.js?version=0.1"></script>

        <script>
          $(document).ready( function() {

            vuStage.initValues("{{name}}");

            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });

          });

        </script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

