      <div class="containerx">

       <div class="row bs-wizard" style="border-bottom:0;">
          <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/stage1" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Goals</div>
          </div>

          <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/stage2" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Local Area</div>
          </div>
          
          <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/stage3" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Profile</div>
          </div>
          
          <div class="col-xs-3 bs-wizard-step active"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Community</div>
          </div>
        </div>

        <div class="brandlogo rfglogo32 itemx">
          <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
          <span class="brandname">Roll for Group</span>
        </div>

        <div class="stage-form">

          <div class="itemx">
            <h2>Your Board Game Collection</h2>
            <h3>We can help share your board game collection</h3>
          </div>


          <div class="itemx">
            <h3>Community</h3>
            <label class="" for="isteacher">Would you like to teach and explain games to new players?</label>
            <select class="form-control" id="isteacher" name="isteacher" v-model="isteacher">
              <option value="1">No, I don't want to teach games</option>
              <option value="2">Yes, I like teaching games to new players</option>
            </select>

            <label class="" for="ishost">Are you able to host events?</label>
            <select class="form-control" id="ishost" name="ishost" v-model="ishost">
              <option value="1">No, I am not able to host events</option>
              <option value="2">Yes, I have a venue and I can host events</option>
            </select>
          </div>

          <div class="itemx">
            <label class="" for="bggname">If you have a BoardGameGeek username, enter it below to import your game collection.</label>
            <input id="bggname" name="bggname" v-model="bggname" placeholder="bgg-username" class="form-control text" type="text">
          </div>

          <div class="itemx">
            <button id="nextverify" class="btn nextbutton" @click="nextclick( pageslug, '{{email}}',  '{{key}}', isteacher, ishost, bggname )">
              Next <i class="fa fa-arrow-circle-right"></i>
            </button>
          </div>



        </div>

        <div class="newfooter">
          <span id="about"><a href="about" class="terms">About</a></span>
          <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
          <span id="privacy"><a href="privacy" class="terms">Terms & Conditions</a></span>
        </div>

      </div>


        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/ramda.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap-clockpicker.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/loadingbar/loadingoverlay.min.js"></script>

        <!-- typeahead -->
        <script src="js/typeahead/typeahead.bundle.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <script src="js/stage4.js?version=0.1"></script>

        <script>
          $(document).ready( function() {

            vuStage.initValues("{{name}}", "{{pageslug}}");

            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });

          });

        </script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

