      <div class="containerx">

       <div class="row bs-wizard" style="border-bottom:0;">
          <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/stage1" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Goals</div>
          </div>

          <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Local Area</div>
          </div>         

          <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Your Profile</div>
          </div>
          
          <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Community</div>
          </div>
        </div>

        <div class="brandlogo rfglogo32 itemx">
          <img id="brandimg" src="/img/rfg-logo-whiteglow-32.png"></img>
          <span class="brandname">Roll for Group</span>
        </div>

        <div class="stage-form">

          <div class="itemx">
            <h2>Your Local Area</h2>
            <h3>Lets see what local gaming activities are happening near you</h3>
          </div>

          <div class="itemx">
            <label class="" for="name">Where is your local area?</label>
            <input id="playarea" name="playarea" placeholder="Type Your City Here" class="form-control text typeahead" type="text"></input>
          </div>

          <div class="itemx">
            <h4>Location</h4>
            <div id="map" class="mapheight">
              <iframe id="maplocation" width="600" height="450" frameborder="0" style="border:0" :src="encodeLocation" allowfullscreen></iframe>  
            </div>
          </div>

          <div class="itemx">
            <label class="" for="name">Show players and board game events within this radius of my location?</label>
            <div class="input-group text col-xs-12">
              <input v-model="searchradius" id="searchradius" name="searchradius" type="text" value="50" class="form-control text"> 
              <div class="input-group-addon">\{{units}}</div>
            </div>
          </div>

          <div class="itemx">
            <h4>Notifications</h4>
            <div class="checkbox">
              <label><input type="checkbox" id="notifyevents" v-model="notifyevents" name="notifyevents" data-begin="true">Let Roll for Group send me emails when new local events are sheduled, or new gamers join the area.</label>
            </div>
          </div>

          <div class="itemx">
            <button id="nextverify" class="btn nextbutton" @click="nextclick( '{{email}}',  '{{key}}', units, searchradius, locationName, notifyevents )">
              Next <i class="fa fa-arrow-circle-right"></i>
            </button>
          </div>


        </div>

        <div class="newfooter">
          <span id="about"><a href="about" class="terms">About</a></span>
          <span id="support"><a href="docs/userforgotpassword.html" class="terms">Support</a></span>
          <span id="privacy"><a href="privacy" class="terms">Terms & Conditions</a></span>
        </div>

      </div>


        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/ramda.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap-clockpicker.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/loadingbar/loadingoverlay.min.js"></script>

        <!-- typeahead -->
        <script src="js/typeahead/typeahead.bundle.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script>

        <script src="js/stage2.js?version=0.1"></script>

        <script>

          $('.typeahead').on('typeahead:selected', function(evt, item) {
            vuStage.setLocation(item);
          })

          $(document).ready( function() {

            vuStage.initValues();

            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });

          });

        </script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

