    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{>navbars}}

    <div id="wrapper">
      <div id="maincontent" class="container-fluid">
        <div class="container-fluid">
          <div id="profile">

            <div class="pageheader">
              <p class="form-header"></p>
            </div>

            <div class="panel panel-default">
              <div class="panel-body card-1">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Email Notifications</h4>

										<fieldset v-if="!pressUnsubscribe" class="form-group">
											<p>To unsubscribe, press the button below. You will no longer receive notifications from the Roll for Group site.</p>
											<button v-on:click="saveProfile('{{user.email}}')" id="save" class="btn btn-info" v-bind:disabled="saveDisabled" type="button"> Unsubscribe</button>
										</fieldset>

										<p v-if="pressUnsubscribe">
											You have been unsubscribed from Roll for Group, you will no longer receive event notifications.
										</p>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- /#maincontent -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div class="modal fade" id="saved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Profile Updated</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Your profile has been updated.	
          </div>
          <div class="modal-footer">
            <button id="modalok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <script src="js/moment.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-clockpicker.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/jQDateRangeSlider-min.js"></script>
    <script src="js/loadingbar/loadingoverlay.min.js"></script>

    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>
    <script src="js/ramda.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

    <script src="js/unsubscribe.js?v=0.1"></script>

    <script>

			var isParam = R.curry(function(propName, equalParam) {

				var splitEq = R.split('=', equalParam);
				return (splitEq[0] == propName)
					? splitEq[1] 
					: undefined;

			}); 

			var isValue = function(a, b) {
				return (a == undefined) 
					? b
					: a;
			};

			function getUrlParameter(sParam) {
				var sPageURL = window.location.search.substring(1);
				var sURLVariables = sPageURL.split('&');
				return sURLVariables.map(isParam(sParam)).reduce(isValue);

			};

      $(document).ready(function() {
        // because the time sliders don't render well until everything loads
        setupData(getUrlParameter('email'), getUrlParameter('key'));

      });

    </script>
