    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src = "js/markdown-it.min.js"></script>
    <script src = "js/markdown-it-emoji.min.js"></script>

    <!-- plugin stylesheet -->
    <link rel="stylesheet" href="css/jquery.mThumbnailScroller.css">

    <div id="wrapper">

      {{>navbars}}

      <div id="maincontent" class="container-fluid">

        <div class="row user-header">
          <div class="col-xs-6">
            <div class="user-image text-center">
              <img class="user-photo {{userheader.userimage.img.class}}" src="{{userheader.userimage.img.src}}" onerror="this.src='img/default-avatar.jpg'" alt="{{userheader.userimage.img.alt}}">
            </div>
            <div id="username" class="user-name {{userheader.username.div.class}}">{{userheader.username.div.text}}</div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" id="sendMail" v-on:click="sendMail"><i class="fa fa-envelope-o"></i> Send Mail</button>
            </div>
            <div class="user-stats {{userheader.userstats.div.class}}">{{userheader.userstats.div.text}} <a id="bggname" href="{{userheader.userstats.div.a.href}}" target="{{userheader.userstats.div.a.target}}">{{userheader.userstats.div.a.text}}</a></div>

          </div>
          <div class="col-xs-6">
            <div class="user-image text-center"> 
              {{#if imgPremium}}
              <img src="img/u_roll_icon1-01.png" />
              <h3>Premium Member</h3>
              {{#if btnOngoing}}
              <div class="premium-expires">Subscriber thankyou</div>
              {{else}}
              {{#if expires}}
              <div class="premium-expires">Membership expires {{expires}} </div>
              {{/if}}
              {{/if}}

              {{else}}
              <p>Standard Member</p>
              {{/if}}

              {{#if btnPurchaseGems.text}}
              <button type="button" class="{{btnPurchaseGems.class}}" id="buyGems">{{btnPurchaseGems.text}}</button>
              {{/if}}

              {{#if btnPurchaseMembership.text}}
              <button type="button" class="{{btnPurchaseMembership.class}}" id="buyMembership">{{btnPurchaseMembership.text}}</button>
              {{/if}}

              {{#if btnGiftGems}}
              <button type="button" class="btn btn-default card-1 premium-gemcount" id="giftGems" v-on:click="giftgems"><img src="img/u_roll_icon1-01.png" style="max-width:16px;" /> Gift a Gem</button>
              {{/if}}

              {{#if gemcount}}
              <div class="premium-gemcount">Your remaining gems: {{gemcount}} </div>
              {{/if}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 user-experience">
              <div id="panel-experience" class="panel panel-default card-1">
                <div class="panel-heading"><i class="fa fa-trophy"></i> Experience</div>
                <div class="panel-body">
                  <div class="player-level">
                    <div class="col-xs-12">
                      <p>Host Level <i class="fa fa-home"></i> {{experience.hostxpbar.level}}</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{experience.hostxpbar.xppos}}"
                          aria-valuemin="0" aria-valuemax="{{experience.hostxpbar.xplast}}" style="width:{{experience.hostxpbar.xpperc}}%">
                          XP {{experience.hostxpbar.xppos}} / {{experience.hostxpbar.xplast}}
                        </div>
                        <!-- /.progress-bar -->
                      </div>
                      <!-- /.progress -->
                    </div>
                    <!-- /.col-xs-12 -->
                    <div class="col-xs-12">
                      <p>Play Level <i class="fa fa-trophy"></i> {{experience.playxpbar.level}}</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{experience.playxpbar.xpperc}}"
                          aria-valuemin="0" aria-valuemax="100" style="width:{{experience.playxpbar.xpperc}}%">
                          XP {{experience.playxpbar.xppos}} / {{experience.playxpbar.xplast}}
                        </div>
                        <!-- /.progress-bar -->
                      </div>
                      <!-- /.progress -->
                    </div>
                    <!-- /.col-xs-12 -->
                    <small>1 minute of signed up game time equals 1 XP</small>
                  </div>
                  <!-- /.player-level -->
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /.panel-experience -->
            </div>
            <!-- /.col-sm-12 -->
          </div>
          <!-- /.row -->

              <!--
              <div class="col-sm-3 acheievments">
                  <h3>Social</h3>
                  <table>
                      <tr>
                          <td>Player Connections</td>
                          <td>0</td>
                      </tr>
                      <tr>
                          <td>Appreciation</td>
                          <td>0</td>
                      </tr>
                      <tr>
                          <td>Commendations</td>
                          <td>0</td>
                      </tr>
                      <tr>
                          <td>Area Reach</td>
                          <td>0</td>
                      </tr>
                  </table>                        
              </div>

              <div class="col-sm-3 user-acheivements">
                  <div class="matches">
                      <h3>Games</h3>
                      <table>
                          <tr>
                              <td>Collection Size</td>
                              <td>0</td>
                          </tr>

                          <tr>
                              <td>Matches Played</td>
                              <td>0</td>
                          </tr>
                          <tr>
                              <td>Invidual Games</td>
                              <td>0</td>
                          </tr>
                          <tr>
                              <td>H-Index</td>
                              <td>0</td>
                          </tr>
                      </table>                        
                  </div>
              </div>

          </div>
        -->

        <div v-cloak class="row" v-if="showcollections">
          <div class="col-sm-12 user-experience">
            <div id="panel-experience" class="panel panel-default card-1">
              <div class="panel-heading">
                <i class="fa fa-cubes"></i> Collections 
              </div> 
              <ul class="list-group">

                <div class="game-scroll">
                  <div v-for="collection in collections" v-if="(collection.games.length > 0) || ('{{userslug}}' == '{{user.pageslug}}')" class="row blackcontainer">
                    <div class="col-sm-12 container-edgeroom">
                      <div class="col-sm-12">
                        <h4 class="gamelist-header display-4">\{{collection.name}} ( \{{collection.games.length}} ) <small><a @click="openPageUrl(collection.key)" role="button">View</a></small></h4>
                        <div class="">
                          <div class="thumbnail-list">
                            <ul>
                              <li v-for="game in collection.games"><a @click="openGameUrl(game.id)"><img :src="game.thumbnail" :title="game.name" class="thumb-icons vutips showpointer js-tooltip"/></a></li>

                              <li v-if="('{{userslug}}' == '{{user.pageslug}}')" class="addgame"><button class="btn btn-default vutips" data-original-title="Add friends" @click="openPageUrl(collection.key)"><i class="fa fa-plus"></i> Add Game</button></li>

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ul>
            </div>
          </div>
        </div>

        <div class="row">

          {{#each panels}}
          <div class="{{userpanels.divclass}}">
            <div id="panel-{{userpanels.id}}" class="panel panel-default card-1">
              {{#if userpanels.heading}}
              <div class="panel-heading">{{#if userpanels.heading.faicon}}<i class="fa {{userpanels.heading.faicon}}"></i>{{/if}} {{userpanels.heading.text}}</div>
              {{/if}}
              {{#if userpanels.body}}
                {{#if render}}
                <div class="panel-body">
                  <div class="rendermarkdown"></div>
                </div>
                {{else}}
                {{#if userpanels.body.text}}<div class="panel-body">{{userpanels.body.text}}</div>
                {{/if}}
                {{/if}}
              {{/if}}
              {{#if userpanels.listgroup}}
              <ul class="list-group">
                {{#each userpanels.listgroup}}
                <li class="list-group-item{{#if tooltip}} js-tooltip{{/if}}" 
                  {{#if tooltip}}title="" data-placement="{{tooltip.placement}}" data-toggle="tooltip" data-original-title="{{tooltip.title}}"{{/if}}>
                  {{#if img}}<img src="{{img.src}}"></img>{{/if}}
                  {{#if faicon}}<i class="fa {{faicon}}"></i>{{/if}} 
                  {{#if title}}{{title}}: {{/if}}{{text}} 
                  {{#if a}}<a href="{{a.href}}" target="_blank">{{a.text}}</a>{{/if}}
                </li>
                {{/each}}
              </ul>
              {{/if}}
              {{#if userpanels.svg}}
              <div class="text-center">
                <div class="svgcontainer">
                  <svg width="{{userpanels.svg.width}}" height="{{userpanels.svg.height}}" class="{{userpanels.svg.class}}">
                  {{#each userpanels.svg.g}}
                    <g {{#if transform}}transform="translate({{transform.left}}, {{transform.top}}{{/if}})" {{#if direction}}direction="{{direction.type}}"{{/if}}>
                      {{#each rects}}
                      <rect x="{{x}}" y="{{y}}" width="{{width}}" height="{{height}}" class="squaretime" fill="{{fill}}" {{#if tooltip}}title="" data-placement="top" data-toggle="tooltip" data-original-title="{{tooltip.title}}"{{/if}}></rect>
                      {{/each}}
                      {{#each texts}}
                      <text x="{{x}}" y="{{y}}" {{#if anchor}}text-anchor="{{anchor}}"{{/if}} class={{htmlclass}}>{{text}}</text>
                      {{/each}}
                    </g>
                  {{/each}}
                  </svg>
                </div>
              </div>
              {{/if}}

              {{#if userpanels.table}}
              <table class="table">
                <tr>
                  <th>Cover</th>
                  <th>Boardgame</th>
                  <th>Date</th>
                </tr>
                {{#each userpanels.table}}
                <tr>
                  <td>{{#if img}}<a href="{{img.href}}"><img src="{{img.src}}"></img></a>{{/if}}</td>
                  <td>{{#if title}}{{title}}: {{/if}}{{text}} {{#if a}}<a href="{{a.href}}" target="_blank">{{a.text}}</a>{{/if}}</td>
                  <td>{{yearpublished}}</td> 
                </tr>
                {{/each}}
              </table>
              {{/if}}

            </div>
            <!-- /#panel-{{userpanels.id}} -->

          </div>
          <!-- /#panels -->
          {{/each}}

        </div>
        <!-- /#row -->

     </div>
      <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

{{>footer}}

      <!-- Plugin JavaScript -->
      <script src="js/jquery.easing.min.js"></script>
      <script src="js/jquery.fittext.js"></script>
      <script src="js/wow.min.js"></script>

      <script src="js/moment.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap-datepicker.min.js"></script>
      <script src="js/bootstrap-clockpicker.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/jQDateRangeSlider-min.js"></script>
      <script src="js/loadingbar/loadingoverlay.min.js"></script>

      <!-- Thumbnail plugin script -->
      <script src="js/jquery.mThumbnailScroller.min.js"></script>

      <!-- typeahead -->
      <script src="js/typeahead/typeahead.bundle.js"></script>
      <script src="js/ramda.min.js"></script>

      <!-- Custom Theme JavaScript -->
      <script src="js/creative.js"></script>
      <script src="js/jquery.backstretch.min.js"></script>
      <script src="js/scripts.js"></script>

      <!--[if lt IE 10]>
          <script src="assets/js/placeholder.js"></script>
      <![endif]-->
      <script src="js/users.js?v=0.3f"></script>

      <script>
        $(document).ready(function() {
          setuppage("{{user.email}}", "{{userslug}}");
        });
      </script>
