    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div id="wrapper">

      {{>navbars}}

        <div id="maincontent" class="container-fluid">

            <div class="row" id="listhead">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        <i class="fa fa-star-o"></i> Wishlist 
                    </h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>

{{>headerbuttons}}

            {{#each warnings}}

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-{{bstrapclass}} card-1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-1 text_{{bstrapclass}}">
                                    <i class="fa {{panelrow.faicon}} fa-2x"></i>
                                </div>
                                <div class="col-xs-9">
                                    {{panelrow.text}} 
                                    {{#if panelrow.input}}
                                    <input id="{{panelrow.input.id}}" class="{{panelrow.input.class}}" placeholder="{{panelrow.input.placeholder}}"></input>
                                    {{/if}}
                                </div>
                                <div class="pull-right">
                                    <div class="col-xs-2">
                                        <button id="{{panelrow.button.id}}" class="btn btn-{{bstrapclass}}">{{panelrow.button.text}} <i class="fa {{panelrow.button.faicon}}"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {{/each}}

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default card-1" id="gamespanel">
                        <div class="panel-heading"><i class="fa fa-cubes"></i> Games</div>
                        <table v-cloak class="table table-hover table-striped">
                            <tr>
                                <th>Cover</th>
                                <th>Name</th>
                                <th class="hide-small-screen">Players</th>
                                <th class="hide-small-screen">Play Time</th>
                                <!--
                                <th>Play Count</th>
                                <th>Your Rating</th>
                                <th><i class="fa fa-amazon"></i> Monitor</th>
                                <th>Action</th>
                                -->
                            </tr>

                            <tr v-for="game in games">
                                <td><a v-bind:href="buildUrl(game.id)" target="_blank"><img v-bind:src="game.thumbnail" class="media-object center-block img-responsive" style="max-height:64px"></img></a></td>
                                <td>
                                    <a v-bind:href="buildUrl(game.id)" target="_blank">\{{game.name}}</a>
                                </td>
                                <td class="hide-small-screen">\{{game.minplayers}}-\{{game.maxplayers}} <i class = "fa fa-users"></td>
                                <td class="hide-small-screen"><i class = "fa fa-clock-o"></i> \{{game.minplaytime}}-\{{game.maxplaytime}} mins</td>
                                <!--
                                <td>\{{game.numplays}} </td>
                                <td><div class="ranking-m">3</div></td>
                                <td><button v-on:click="removeGame(game.pageslug)" class="btn btn-warning btn-sm removegame"> Purchase</button></td>
                                -->

                            </tr>

                        </table>
                        <div v-if="showEdit" class="panel-footer">
                            <div class="input-group text col-xs-3">
                                <img id="addgameimg" src="" style="max-height:64px;" >
                            </div>
                            <div class="input-group text col-xs-12">
                                <input id="addgameid" name="addgame" class="form-control text" type="text">
                                <input id="addgame" name="addgame" type="hidden">
                            </div>
                            <button v-on:click="addGame($('#addgame').val())" id="addGame" class="btn btn-default btn-success btn-sm"><i class="fa fa-plus-circle"></i> Add Game</button>
                            <button v-on:click="clearGame()" id="clearGame" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
				</div>
			</div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{{>footer}}

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>


    <!-- typeahead -->
    <script src="js/typeahead/typeahead.bundle.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/ramda.min.js"></script>

    <script src="js/ramda.min.js"></script>

    <script src="js/wow.min.js"></script>
    <script>
      var vuGames = new Vue({
        el: '#gamespanel',
        data: {
          showEdit: {{#if enableEdit}}true{{else}}false{{/if}},
          games: []
        },
        methods: {
          buildUrl: function(id) {
            return 'https://boardgamegeek.com/boardgame/' + id;
          },
          loadGames: function() {
            $.ajax({
              type: "GET",
              url: "/api/v1/accounts/{{pageslug}}/games?listtype=wishlist",
              dataType: "json",
              data: {email: '{{user.email}}' },
              cache: false
            }).done(function(x) {
              vuGames.games = R.sortBy(R.prop('name'), x);
            })
          },
          setupTypeAhead: function() {
            const buildgame = function(name, year) {
             return name + ' ' + year; 
            }
            const setupGameTypeahead = function(inpName, inpId, imgId) {
              $(inpName).typeahead(
                {
                  hint: true,
                  highlight: true,
                  minLength: 1
                },
                {
                  source: function(query, sync, process) {
                    return $.ajax({
                      type: "GET",
                      url: "/api/v1/boardgames",
                      dataType: "json",
                      data: {name: query},
                      success: function(data) {
                        $(inpName).data('list', data);
                        $(inpId).val(R.prop('id', data[0]));
                        $(imgId).attr('src', R.prop('thumbnail', data[0]));
                        $(imgId).show();
                        return process(R.map(R.converge(buildgame, [R.prop('name'), R.prop('yearpublished')]), data));
                      }
                    });
                  }
                }
              );

              $(inpName).bind('typeahead:selected', function(obj, datum, name){

                const game = datum.substring(0, R.length(datum) - 5)
                const year = datum.substring(R.length(datum) - 4, R.length(datum))

                const isyear = function(obj) {
                  return year == R.prop('yearpublished', obj)
                }

                const isname = function(obj) {
                  return game == R.prop('name', obj)
                }

                const findgame = R.compose(R.find(isname), R.filter(isyear));
                const findsrc = R.compose(R.prop('thumbnail'), findgame);
                const findid = R.compose(R.prop('id'), findgame);

                $(imgId).attr('src', findsrc($(inpName).data('list')));
                $(inpId).val(findid($(inpName).data('list')));

              })
            }
            setupGameTypeahead('#addgameid', '#addgame', '#addgameimg');

          }
        }
      });
    </script>

    <script>
      
    $('#gamename').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            source: function(query, sync, process) 
            {
                var ajaxCall = $.ajax({
                    type: "POST",
                    url: "/game",
                    dataType: "json",
                    data: {typeahead: query}
                });
                return ajaxCall.done(process);
            }
        }
    );
    
    // $(document).ready(function(){
    $(document).ready(function() {

        vuGames.loadGames();

        $('#hostgame').on('click', function(event) {
            window.location.href = "/hostgame";
        }); 

        {{#each warnings}}

        {{#if script.warning}}
        $('#addbgg').on('click', function() {
            addbggUser('#addbgg', $('#bggname').val());
        });
        {{/if}}

        {{#if script.info}}
        $('#sync').on('click', function() {
            addbggUser('#sync', '{{script.bggname}}');
        });
        {{/if}}

        {{#if script.success}}
        $('#forcesync').on('click', function() {
            addbggUser('#forcesync', '{{script.bggname}}');
        });
        {{/if}}

        {{/each}}

    });

    var addbggUser = function(buttonname, bggname) {

        $(buttonname).prop('disabled', true);

        $(buttonname + ' > i').removeClass('fa-add');
        $(buttonname + ' > i').addClass('fa-refresh');
        $(buttonname + ' > i').addClass('fa-spin');

        var ajaxCall = $.ajax({
            type: "PATCH",
            url: "/api/v1/accounts/{{user.email}}",
            timeout: 60000,
            dataType: "json",
            data: {bggname: bggname},
            cache: false
        });

        ajaxCall.done(function(result) {
            $('.fa-refresh').removeClass('fa-spin');
            $(buttonname).prop('disabled', false);
            vuGames.loadGames();
        });

        ajaxCall.fail(function(e, errortext) {
            $('.fa-refresh').removeClass('fa-spin');
            $(buttonname).prop('disabled', false);

            if (e.status == 404) {
                alert('The BGG username was not found, or BGG did not respond. If your BGG name is correct, then the site will attempt to update it at a later time');
                $('#addbgg').focus();

            } else if(e.status == 401) {
                window.location.href = "login";

            } else { 
                alert('error:' + JSON.stringify(e));
            };
        });

    };

    var hostGame = function(id, labelName, isOwned) {
        window.location.href = "hostgame?" + labelName + "=" + id + "&isowned=" + isOwned;
    };

    </script>

<!--
</body>
-->
