html,
body {
    width: 100%;
    height: 100%;
}

/*
body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}
*/

a {
    color: #52acb4;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.alert-warning a {
    color: #8a6d3b; 
    text-decoration: underline;
    font-weight: bold;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


.seatnumber {
    color: #52acb4;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.ranking-m {
    color: #52acb4;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

a:hover,
a:focus {
    color: #2590bc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
}

.useremail {
    font-size:      14px;
    font-weight:    normal;
    font-style:     italic;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.blackback {
  text-shadow: 0px 0px 3px #444, -1px -1px #444, 1px 1px #444;
  background-color: rgba(0,0,0,0.03);
  padding: 0.5em;
}

.brand {
  font-family: 'Raleway', sans-serif;
  color: #52acb4;
  font-weight: bold;
}

#brandlogo64 {
    position: relative;
    top: -10px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.loginscreenback {
    background: #fff;
}

.loginback {
    padding: 30px 30px 35px 30px;
}

.loginimg {
}

.login-image {
    min-height: 636px;
    min-width: 390px;
    margin-left: -30px;
}

.loginfailure {
    margin-bottom: 20px;
}

.uvp {
    color: #7a7a7a;
    font-size: 23px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.forgotlink a {
    color: #3c1825;
}

#brandtitle {
  font-size: 40px;
  font-weight: bold;
}

.bg-primary {
    background-color: #52acb4;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,1);
}

.text-dark-faded {
    color: rgba(60,24,37,1);
}

.brandlogo32image {
    margin-top: -5px;
    padding-left: 15px;
    padding-right: 10px;
}

.brandlogo16image {
    margin-top: -5px;
    padding-left: 1px;
    padding-right: 1px;
}

.brandname {
  margin-left: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

#brandimg {
  margin-top: -14px;
}

.catchphrase {
  margin-top: 0px;
  margin-left: 15px;
  font-family: 'Nunito', sans-serif;
  color: #3c1825;
}

section {
    padding: 80px 0;
}

.testimonials {
    color: #333;
}

.quote {
    font-weight: 300;
    font-size: 30px;
    line-height 1.4;
}

.quote-dark {
    color: #3c1825;
    font-weight: 300;
    font-size: 30px;
    line-height 1.4;
}


.author {
    font-size: 14px;
}


aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar {
}

.navbutton {
  color: #2590bc;
}

.navbar-static-top {
  background: #fafafa;
}

.navbar-second {
  margin-top: -2px;
  background: #fff;
}

.navbar-form {
  padding-top: 4px;
  padding-right: 30px;
}

.matchbuttons {
  padding-bottom: 20px;
}

#navalerts ul {
  max-height: 550px;
  overflow-x: scroll;
}

#emailalerts ul {
  max-height: 550px;
  overflow-x: scroll;
}

.premiumband {
  min-height: 50px;
}

// thumbnail
.content{
    overflow: auto;
    position: relative;
    padding: 10px;
    background: #333;
    margin: 10px auto;
    width: 100%;
    height: auto;
}
.content li{ margin: 0 4px; }
.content li a{
    display: block;
    border: 7px solid rgba(255,255,255,.1);
}

#gamelist{
  padding: 10px 60px;
  //background-color: transparent;
  //width: 80%;
}
#gamelist .mTSButtonIcon{ fill: #aaa; }
#gamelist .mTSButton .mTSButtonIcon{ opacity: .5; }
#gamelist .mTSButton:hover .mTSButtonIcon{ opacity: 1; }
.content #white a{ border-color: #eee; }
.content #yellow a{ border-color: #f1db3f; }

.gamebox {
    height: 100px;
}

.gameown {
    background: #52acb4;
}

#wanttoplaylist {
    margin-bottom: 10px;
}

.navbar-title-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-title-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #52acb4;
}

.navbar-top-links > li > a {
    margin-top: 4px;
}


.navbar-title-default .navbar-title-header .navbar-title-brand:hover,
.navbar-title-default .navbar-title-header .navbar-title-brand:focus {
    color: #2590bc;
}

.navbar-title-default .nav > li>a,
.navbar-title-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-title-default .nav > li>a:hover,
.navbar-title-default .nav>li>a:focus:hover {
    color: #52acb4;
}

.navtabs {
    color: #52acb4;
    background-color: #transparent;
    text-decoration: none;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
}

.navtabs:hover {
    color: #52acb4 !important;
    background-color: #EBF4FC;
    border-bottom: #c9e4ec solid 2px;
}

.navbar-default .nav > li.active>a  {
    color: #52acb4 !important;
    background-color: transparent;
    border-bottom: #52acb4 solid 2px;
}

.navbar-default .nav>li.active>a:focus:hover {
    background-color: #EBF4FC;
    color: #52acb4 !important;
}

.nav-pills>li.active>a {
    background-color: #329a98 !important;
}

.navbar-title-default .nav > li.active>a,
.navbar-title-default .nav>li.active>a:focus {
    color: #52acb4!important;
    background-color: transparent;
}

.navbar-title-default .nav > li.active>a:hover,
.navbar-title-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-title-title-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-title-default .navbar-title-header .navbar-title-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-title-default .navbar-title-header .navbar-title-brand:hover,
    .navbar-title-default .navbar-title-header .navbar-title-brand:focus {
        color: #fff;
    }

    .navbar-title-default .nav > li>a,
    .navbar-title-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-title-default .nav > li>a:hover,
    .navbar-title-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-title-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-title-default.affix .navbar-title-header .navbar-title-brand {
        font-size: 14px;
        color: #52acb4;
    }

    .navbar-title-default.affix .navbar-title-header .navbar-title-brand:hover,
    .navbar-title-default.affix .navbar-title-header .navbar-title-brand:focus {
        color: #2590bc;
    }

    .navbar-title-default.affix .nav > li>a,
    .navbar-title-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-title-default.affix .nav > li>a:hover,
    .navbar-title-default.affix .nav>li>a:focus:hover {
        color: #52acb4;
    }
}


header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url(../img/header.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-rpg {
    background-image: url(../img/headerrpg.jpg);
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.9);
}

#brand-icon {
    margin-top: -4px;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.headerloggedin {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}


.boardgameslist {
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(37,144,188,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #52acb4;
}

.text-gray {
  color: #828282;
  padding-bottom: 5px;
  margin-left: 10px;
}

.text-gray-underline {
  text-decoration: none !important;
  padding-bottom: 5px;
  border-bottom: #b2b2b2 solid 1px;
  color: #828282;
  margin-left: 10px;
}

.text-gray-underline:hover {
  text-decoration: none !important;
  color: #323232;
}

.statsbar a {
  text-decoration: none;
  color: #323232;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-front {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-front:hover,
.btn-front:focus,
.btn-front.focus,
.btn-front:active,
.btn-front.active,
.open > .dropdown-toggle.btn-front {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-front:active,
.btn-front.active,
.open > .dropdown-toggle.btn-front {
    background-image: none;
}

.btn-front.disabled,
.btn-front[disabled],
fieldset[disabled] .btn-front,
.btn-front.disabled:hover,
.btn-front[disabled]:hover,
fieldset[disabled] .btn-front:hover,
.btn-front.disabled:focus,
.btn-front[disabled]:focus,
fieldset[disabled] .btn-front:focus,
.btn-front.disabled.focus,
.btn-front[disabled].focus,
fieldset[disabled] .btn-front.focus,
.btn-front.disabled:active,
.btn-front[disabled]:active,
fieldset[disabled] .btn-front:active,
.btn-front.disabled.active,
.btn-front[disabled].active,
fieldset[disabled] .btn-front.active {
    border-color: #fff;
    background-color: #fff;
}



.btn-front .badge {
    color: #fff;
    background-color: #222;
}

.btn-white {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-form {
    border-color: #52acb4;
    color: #fff;
    background-color: #52acb4;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}



.btn-form:hover,
.btn-form:focus,
.btn-form.focus,
.btn-form:active,
.btn-form.active,
.open > .dropdown-toggle.btn-form {
    border-color: #2590bc;
    color: #fff;
    background-color: #2590bc;
}

.btn-form:active,
.btn-form.active,
.open > .dropdown-toggle.btn-form {
    background-image: none;
}

.btn-form.disabled,
.btn-form[disabled],
fieldset[disabled] .btn-form,
.btn-form.disabled:hover,
.btn-form[disabled]:hover,
fieldset[disabled] .btn-form:hover,
.btn-form.disabled:focus,
.btn-form[disabled]:focus,
fieldset[disabled] .btn-form:focus,
.btn-form.disabled.focus,
.btn-form[disabled].focus,
fieldset[disabled] .btn-form.focus,
.btn-form.disabled:active,
.btn-form[disabled]:active,
fieldset[disabled] .btn-form:active,
.btn-form.disabled.active,
.btn-form[disabled].active,
fieldset[disabled] .btn-form.active {
    border-color: #52acb4;
    background-color: #52acb4;
}

.btn-form .badge {
    color: #52acb4;
    background-color: #fff;
}


.btn-roundedge {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img { max-width: 100%; }

img::selection {
    color: #fff;
}

img::-moz-selection {
    color: #fff;
}

.terms p {
    color: #666;
    font-size: 12px;
    text-align: left; 
};

.termheading {
    color: #666;
    font-size: 12px;
    text-align: left; 
};


.form-box {
	margin-top: 20px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 0px 25px;
	background: #f5f5f5;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top h3 {
  margin-bottom: 25px;
  margin-top: 25px;
  color: #52acb4;
}

.form-top p { opacity: 0.8; color: #52acb4; }
.form-top-left p { opacity: 0.8; color: #52acb4; }
.social-login-buttons p { padding-top: 30px; }

.buttons-area {
	padding: 25px 25px 30px 25px;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #52acb4;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #fff;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom-image {
	padding: 25px 25px 30px 25px;
	background: #f5f5f5;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: middle;
  align: middle;
}

.form-bottom form textarea {
	height: 180px;
}

.form-bottom form button.btn-form {
  background-color: #52acb4;
}

.form-bottom form input {
  background-color: #f3f3f3;
  color: #3c1825;
}

.form-bottom form select {
  background-color: #f3f3f3;
  color: #3c1825;
}

.form-bottom label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
}

.form-bottom form .input-error {
	border-color: #ed3751;
}

.form-header {
  font-size: 2em;
  line-height: 2.8rem;
  font-weight: 600;
  color: #555;
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
}

.form-label {
  font-size: 1em;
  font-weight: 400;
  color: #212B30;
  opacity: 0.7;
  margin-top: 3px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
}

.showpointer {
  cursor: pointer;
}

.form-labels {
  font-size: 1.5em;
  color: #52acb4;
  margin-top: 30px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.form-instructable {
  color: #52acb4;
  opacity: 0.8;
  margin-top: 20px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.form-feedbacklabel {
  opacity: 0.8;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

body {
    webkit-tap-highlight-color: #222;
}


.form-number {
	display: block;
	width: 10px height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #3c1825;
}

.social-login-buttons {
	margin-top: 15px;
    margin-bottom: 20px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}

/***** Top content *****/
.homeHero {
  height: 100px;
  width: 100%;

  background-color: #86c5cb;

  display: grid;
  grid-template-columns: 0.5fr 60px 60px 298px 50px 0.5fr;
  grid-template-rows: 0.5fr auto 0.5fr;

  grid-template-areas:
    ". . . . . ."
    ". online nearby centered reset ."
    ". . . . . ."
}

#setlocationDiv {
  width: 286px;
}

.homeImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.homeHeroOnline {
  grid-area: online;
  width: 50px;
  height: 50px;
  font-size: 32px;
}

.homeHeroNearby {
  grid-area: nearby;
  width: 50px;
  height: 50px;
  font-size: 32px;
}

.homeHeroCentered {
  grid-area: centered;
  width: 308px;
  height: 50px;
  font-size: 24px;
}

.homeHeroLabel {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 25px;
  font-size: 22px;
  width: 288px;
  border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  -webkit-border-radius: 1.2em;
  background-color: white;
}

.homeHeroReset {
  grid-area: reset;
  width: 50px;
  height: 50px;
  font-size: 30px;
}

#setlocation {
  background-color: white !important;
  width: 288px;
  font-size: 20px;
  height: 50px;
  border-width: 0px;
  top: -8px;
}

.dot {
  color: white;
  height: 50px;
  width: 50px;
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 4px;
}


.dotOnline {
  color: white;
  height: 50px;
  width: 50px;
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 3px;
}

.inner-bg {
  padding: 60px 0 80px 0;
}

.top-content {
  background-color: #e8e8e8;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.text {
  color: #212B30;
}

.filter-option {
  color: #212B30;
}

.bottom-buttongroup {
    height: 30px;
    margin-top: 10px;
    padding-right: 20px;
}

.btn-link-1 {
	display: inline-block;
	background: #e9e9e9;
  color: #5b5b5b;
	font-size: 16px;
  line-height: 16px;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #000; }
.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	padding: 15px 0px 0px 0px;
	background: #4469b0;
	font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
}

.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: #4469b0; color: #fff; }

.btn-link-2 i {
	padding-right: 10px;
	padding-left: 30px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-3 {
  margin-top: 10px;
  margin-bottom: 30px;
	display: inline-block;
	height: 50px;
	padding: 1px 20px 0 20px;
	background: #4285F4;
	font-family: 'Roboto', medium;
	font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
}
.btn-link-3:hover, .btn-link-3:focus,
.btn-link-3:active, .btn-link-3:active:focus { outline: 0; opacity: 0.6; background: #4285F4; color: #fff; }

.btn-link-3 img {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}

.form-select .ui-selecting {
	background: #fff;
	border: 1px solid #52acb4;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-select .ui-selected {
	background: #52acb4;
	color: white;
}

.form-select {
	list-style-type: none;
	padding: 0;
	width: 60%;

}

.form-select li {
	margin: 10px;
	height: 50px;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;

	color: #888;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;

	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;

	border: 0;

}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    color: #52acb4;
    padding: 15px 11px;
    /* font-size: 24px; */
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead {
  width: 100%;
}

.typeahead-row td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.typeahead-row:hover td {
  background-color: #f5f5ff;
}

.tt-hint {width: 100%;}
.tt-input {width: 100%;}
.tt-menu {width: 100%;}

span.twitter-typeahead {
  margin-top: 7px;
}

.initials {
    height: 45px;
    width:  45px;
}

/***** Footer *****/

footer {
	padding-top: 70px;
	padding-bottom: 70px;
	color: #bbb;
    background-color: #222;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
	color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }

.text_success {
    color: #4cae4c;
}

.text_info {
    color: #46b8da;
}

.text_warning {
    color: #f0ad4e;
}


/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
body {
    font: 12px 'Open Sans';
}
*/

.gamelist-header {
  color: #eee;
}

.thumbnail-list {
  padding: 30px;
  margin: 20px;
}

.thumb-icons {
  padding: 5px;
  background-color: #333;
  max-height: 100px;
}

.form-control, .thumbnail {
    border-radius: 2px;
}
.btn-danger {
    background-color: #B73333;
}

/* File Upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    max-width: 100%;
}


.user-header {
  background-color: #f8f8f8;
	border-bottom: thin solid rgba(0, 0, 0, 0.10);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.user-photo {
  max-width: 160px;
  max-height: 160px;
	margin: 0 auto;
}

.user-image {
	padding-top: 30px;
	height: 190px;
}

.user-name {
	padding-top: 10px;
	color: rgba(0, 0, 0, 0.85);
	font-size: 23px;
}

.user-stats {
	padding-top: 5px;
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
}

.invite-email {
  padding-top: 20px;
}


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #c3e9ec; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #52acb4; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #c3e9ec;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


.forgot-link {
    margin-top: 20px;
    padding-top: 30px;
}

.imglistsquare {
    max-width: 68px;
    max-height: 68px;
    padding: 4px;
    opacity: 0.5;
}

.imglistsquareUserOwn {
    max-width: 68px;
    max-height: 68px;
    padding: 4px;
}

.imglistsquareViewerOwn {
    max-width: 68px;
    max-height: 68px;
    padding: 4px;
    background-color: #52acb4;
}

.imglistsquareBothOwn {
    max-width: 68px;
    max-height: 68px;
    padding: 4px;
    background-color: #52acb4;
}

.imglistcircle {
    max-width: 45px;
    max-height: 45px;
}

.imglistcircle-standard-thin {
    border: 2px solid #cccccc;
}

.imglistcircle-staff-thin {
    border: 2px solid #99b3ff;
}

.imglistcircle-premium-thin {
    border: 2px solid #ffc266;
}

.imglistcircle-standard {
    border: 3px solid #cccccc;
}

.imglistcircle-staff {
    border: 3px solid #99b3ff;
}

.imglistcircle-premium {
    border: 3px solid #ffc266;
}

.imglistcircle-staff {
    max-width: 45px;
    max-height: 45px;
}

.imgvote16icon {
	max-width: 32px;
	max-height: 32px;
	border: 1px solid #dddddd;
};

.imgvote32icon {
	max-width: 16px;
	max-height: 16px;
	border: 1px solid #cccccc;
};

.a-name-premium {
    color: #cc7a00;
}

.a-name-premium:hover {
    color: #4d2e00;
}

.a-name-standard {
}

.a-name-staff {
    color: #4d79ff;
}

.a-name-staff:hover {
    color: #0033cc;
}

.text-standard {
    color: #777777;
}

.text-premium {
    color: #cc7a00;
}

.text-staff {
    color: #4d79ff;
}

.userlist tbody tr td {
    vertical-align: middle;
    color: #666666;
}

.userlist tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

#listhead {
    margin-top: 20px;
}

#textTitle {
  margin-top: 10px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.alert-info .form-instructable {
    color: #31708f;
}

.famotives {
    margin-right: 3px;
}

.matchheader {
    padding-top: 20px;
}

.matchdescription {
    background-color: #fff;
    margin: 0px 0px 25px 0px;
}

.matchfollowup {
    background-color: #fff;
    padding: 10px 20px 20px 20px;
    margin-bottom: 40px;
}

.matchfollowup h2 {
    margin-top: 80px;
}

.matchfollowup h3 {
    margin-top: 40px;
}

.eventlistheader {
    margin: 30px 0px 10px 20px;
}

.dateheader {
    margin: 30px 0px 10px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.middle {
    vertical-align: middle;
}

.gamecontainer {
  height: 62px; 
  overflow: hidden;
}

.gamesquare {
    height: 62px; 
    margin-right: 1px;
}

.player-placeholder {
    border: 0;
    border-radius: 300px;
    background: #d0d2d4;
    height: 45px; 
    width: 45px; 
    margin-right: 1px;
}

.game-placeholder {
    border: 0;
    border-radius: 3px;
    background: #d0d2d4;
    margin-right: 1px;
    height: 62px; 
    width: 62px; 
}

.text-placeholder {
    border: 0;
    border-radius: 2px;
    background: #d0d2d4;
    margin-right: 1px;
    height: 24px; 
    width: 128px; 
}

.shorttext-placeholder {
    border: 0;
    border-radius: 2px;
    background: #d0d2d4;
    margin-right: 1px;
    height: 24px; 
    width: 32px; 
}

.textbar {
  margin-bottom: 30px;
}

.eventplayers {
  margin-top:     10px;
  margin-bottom:  15px;
}

.eventtime {
    padding-top: 4px;
    width: 100px;
    font-size: 16px;
    color: #888;
}

.eventplayerimage {
    float: left;
    margin: 1px 1px 1px 1px;
}

.eventtitle {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    cursor: pointer;
    margin-bottom: 10px;
}

.eventisprivate {
    font-size: 14px;
    padding: 5px 0px 0px 0px;
}

.eventloc {
    font-size: 14px;
    font-color: #eee;
    padding: 5px 0px 0px 0px;
}

.eventcontainer {
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #dcdcdc;
    margin: 0px 0px 1px 0px;
    cursor: pointer;
}

.eventcontainer:hover {
    background-color: #EBF4FC;
}

.drafteventcontainer {
    padding-top: 20px;
    color: #8a6d3b;
    background-color: #fcf8ec;
    box-shadow: 3px 3px 3px #dcdcdc;
    margin: 0px 0px 1px 0px;
    cursor: pointer;
}

.drafteventcontainer:hover {
  background-color: #faebcc;
}


.bottompanels {
  margin-top: 30px;
}

.eventbadgelow {
  color: #52acb4;
  font-weight: 400;
  font-size:16px;
}

.eventmatchfull {
  color: #ed3751;
  font-size:16px;
}

.gamelisttitle {
  cursor: pointer;
}

#lobbychatpanel {
  background-color: #dddddd;
}

#map {
  position: relative;
  // padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  max-height: 300px;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.mapheight {
  width: 100% !important;
  height: 300px !important;
  margin-bottom: 10px;
}.


.chat
{
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.chat-name
{
  color: #777777;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat-body {
	margin-bottom: 20px;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    color: #333333;
}

.preview-border-right {
  border-left: solid 1px #aaa;
  min-height: 280px;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.chat-panel {
	background-color: #fff;
  overflow-y: scroll;
  max-height: 500px;
}

.chat-panel-long
{
	background-color: #fff;
    overflow-y: scroll;
    max-height: 600px;
}

.chat-footer
{
	background-color: #fff;
	margin-top: 5px;
}

#h-users {
  #border: 7px solid rgba(255,25,25,1);
  overflow: auto;
  white-space: nowrap;  
}

.playerinvites {
  height: 80px;
}

#share {
  height: 80px;
}

.player-area {
  position: relative;
  width: 90px;
  height: 120px;

  display: inline-block;
  color: #888;
  text-align: center;
  text-decoration: none;

  overflow:  hidden;

}

.player-area-text {
  height: 20px;
  font-size: 12px;
  overflow:  hidden;
}

.playerstatus {
  font-size: 12px;
  height: 20px;
  padding-bottom: 10px;
}

.playerbringing {
}

.extraplayers {
  position: relative;
  top: -26px;
  left: 26px;

  background: rgb(66, 172, 180, 1);
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
  font-size: 12px;
  cursor: pointer;
}

.acheivements {
  font-color: black;
}

.playeravatar {
  padding-top: 5px;
  height: 80px;
  overflow: hidden;
}

.declineavatar {
  opacity: 0.3;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.extraplayers-table {
  position: relative;
  top: 16px;
  left: -20px;

  background: rgb(66, 172, 180, 1);
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
  font-size: 12px;
}


.user-players-avatar {
	max-width: 65px;
	max-height: 65px;
}

.user-chat-avatar {
	max-width: 45px;
	max-height: 45px;
}

.notify-active {
}

.notify-hover:hover {
  background-color: #EBF4FC !important;
}

.notify-unread {
  background-color: #fff;
  padding-bottom: 20px;
}

.notify-fromnow {
  margin-left: 10px;
}

.notify-image {
  padding-right: 20px;
	max-height: 64px;
	max-width: 64px;
}

.premium-purchase {
    margin-top: 10px;
}

.premium-gemcount {
    margin-top: 10px;
}

.premium-cancel {
    margin-top: 10px;
}


/* Make the badge float in the top right corner of the button */
.button__badge {
	background-color: #ed3751;
	border-radius: 2px;
	color: white;

	padding: 1px 3px;
	font-size: 10px;

	position: absolute; /* Position the badge within the relatively positioned button */
	top: 1;
	right: 0;
}

.mailname {
    color: #52acb4;
}

.mailsubject {
    padding-top: 10px;
}

.mailreply {
    text-align: right; 
    text-decoration: underline;
}

.mail-subject {
  padding-bottom: 20px;
  font-size: 25px;
}

.mail-messagearea {
  padding: 20px 20px 20px 20px;
}

.mail-unread {
  font-weight: bold;
}

.loading-table {
  margin-top: 50px;
  margin-bottom: 50px;
}

.offers {
  padding-top: 10px;
	max-width: 300px;
  margin: 0 auto;
}

.share-label {
  margin-top: 15px;
  color: #828282;
}

#votebox {
  -webkit-appearance:none;
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
#votebox:checked {
  background: #52acb4;
}

.votecheck {
  margin-top: 10px;
}
.voteprogress {
  margin-top: 19px;
}
.matchgamebutton {
  margin-top: 13px;
}
.matchgametext {
  margin-top: 17px;
}

.typeahead-table {
  width: 100%;
}

.typeahead-gamebox {
  width: 110px;
  height: 50px;
}

.typeahead-players {
  width: 80px;
}

.typeahead-time {
  width: 100px;
}

.typeahead-avatar {
  width: 60px;
  height: 50px;
}

.typeahead-trophy {
  width: 40px;
}

.button-addtime {
  margin-top: 10px;
}

#preview {
  background-color: #f8f8f8;
  margin:  10px;
  padding: 10px;
}

.game-spacing {
  padding  : 10px;
}

.game-spacing-selected {
  padding  : 10px;
  background-color: #52acb4;
}

.blackcontainer {
  background-color: #050505;
}

.container-edgeroom {
  margin-top  : 20px;
  margin-left  : 10px;
  margin-right : 10px;
}

.game-scroll {
  overflow-y: scroll;
}

[v-cloak] {
  display:none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}







/* Center the image and position the close button */
.imgcontainer {
  margin: 30px 0 30px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.emailicon {
	color: #52acb4;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}



/* The Modal (background) */
.modal {
  display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-side {
	color: white;
  background-color: #52acb4;
	margin-left: 15px;
	margin-right: 15px;
	min-height: 366px;
}

.modal-content-side h2 {
	line-height: 150%;
	font-weight: bold;
	letter-spacing: 1px;;
}

.modal-content-side p {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
	z-index: 5;
}

.close:hover,
.close:focus {
  color: #52acb4;
  cursor: pointer;
}

.vote-button:hover {
  color: #444444;
}
.vote-button {
  color: #777777;
  cursor: pointer;
}

.vote-button-uservoted:hover {
  color: #ee5500;
}

.vote-button-uservoted {
  color: #ff7700;
  cursor: pointer;
}

.addgame {
  width: 120px;
  height: 100px;
  padding-top: 32px;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


@media screen and (min-width: 668px) {
	// #panelenddate { display: none; }

  .paneldate {
    color: white;
    background-color: red;
  }

  .cd-nums {
    font-weight: bold;
    top:  0px;
    letter-spacing: 1.2px;
  }
}


@media screen and (min-width: 0px) and (max-width: 668px) {

  .paneldate {
    color: white;
    padding: 20px;
    height: 108px;
  }

  .top-month {
    font-size: 12px;
    position: absolute;
    left: 52px;
    top:  18px;
    letter-spacing: 1.2px;
  }

  .top-day {
    font-size: 24px;
    position: absolute;
    left: 50px;
    top:  36px;
    letter-spacing: 1.4px;
  }

  .top-year {
    font-size: 12px;
    position: absolute;
    left: 52px;
    top:  76px;
  }

  .top-dow {
    font-size: 24px;
    position: absolute;
    left: 105px;
    top:  36px;
    letter-spacing: 1.5px;
  }

  .top-timestart {
    font-size: 14px;
    position: absolute;
    left: 270px;
    top:  26px;
    letter-spacing: 1.2px;
  }

  .top-timeend {
    font-size: 14px;
    position: absolute;
    left: 270px;
    top:  64px;
    letter-spacing: 1.2px;
  }

  .panelcountdown {
    color: #42acb4;;
    padding: 20px;
    height: 108px;
  }

  .cd-title {
    position: absolute;
    top:  -20px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .cd-title-days {
    left: 24px;
  }

  .cd-title-hours {
    left: 22px;
  }

  .cd-title-minutes {
    left: 24px;
  }

  .cd-title-seconds {
    left: 24px;
  }

  .cd-nums {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top:  0px;
    left: 20px;
    letter-spacing: 1.2px;
  }

}

.btn-brand {
  color: white;
  background-color: #329a98;
  border-style: none;
  padding: 12px 23px 12px 23px;
}
.btn-brand:hover,
.btn-brand:focus {
  background-color: #126c74; 
  color: white;
}

.isnotsignedup {
  background-color: #f0f0f2;
}


@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 501px) {
	.schedule { display: none; }   /* hide it elsewhere */
	.matchachievement { display: none; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 668px) {
	.login-image { display: none; }
	.hide-small-screen { display: none; }
}
