/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 218px;
  height: 100%;
  background-color: #f1f1f1;
  position: absolute;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #677;
  padding: 16px;
  text-decoration: none;
}

/* Sidebar icon */
.sidebar i {
  width: 25px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #329a98;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


.title {
  font-size: 2em;
  line-height: 2.8rem;
  font-weight: 600;
  color: #344;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
}

.savebuttons {
  margin-top: 8px;
}

.location {
  display: block;
  height: 50px;
  padding-top: 10px;
}

.rowtitle {
  padding-top: 20px;
}

.content li a{
  border: 0px !important;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 220px;
  padding: 1px 16px;
  height: 1000px;
  background-color: #f1f1f1;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
