@media (min-width: 401px) {
  .containerx {
    display: grid;
    grid-template-columns: 1fr 370px 1fr;
    grid-template-rows: 0.5fr auto 0.5fr auto;
    min-height: 100%;
    background-color: #fff;

    grid-template-areas:
      ". . ."
      ". loginform ."
      "bottomspace bottomspace bottomspace"
      "newfooter newfooter newfooter";

    -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
    padding-bottom: 80px;

  }

  .login-form {
    grid-area: loginform;
    width: 370px;
  }

  .brandname {
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
  }

  .createaccount {
    margin-top: 20px;
  }

  .headertext {
    margin-top: 40px;
  }

}

@media (min-width: 0px) and (max-width: 400px) {
  .containerx {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    background-color: #fff;

    grid-template-areas:
      "loginform"
      "bottomspace"
      "newfooter";

    -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
    padding-bottom: 80px;

  }

  .login-form {
    grid-area: loginform;
    background-color: #fff;
    width: 100%;
  }

  .rfglogo32 {
    margin-top: 10px;
  }

  .brandname {
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
  }

  .createaccount {
    margin-top: 20px;
  }

  .headertext {
    margin-top: 20px;
  }

}

html, body {
  min-height: 100%;
  min-width: 100%;
  background-color: #fff;
}

.loginbutton {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.bottomspace {
  grid-area: bottomspace;
}

#about {
  grid-area: about;
}

#support {
  grid-area: support;
}

#privacy {
  grid-area: privacy;
}

.newfooter {
  padding: 15px;
  background-color: #f2f4f6;
  min-height: 4.2rem;
  grid-area: newfooter;

  display: grid;
  grid-template-columns: 1fr auto auto auto;

  grid-template-areas:
    ". about support privacy";

}

.terms {
  color: #454f5b;
  padding: 15px;
}

.form-input {
  width: 100%;
  border: 1px solid #c4cdd5;;
  border-radius: 3px;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  max-height: 5.2rem;
  padding: 1.6rem;
  border-color: #8996a3;

}

#loginbutton {
  margin-top: 1.6rem 
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  background: #4599a0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

#facebookbutton {
  width: 100%;
}

#googlebutton {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#loginbutton:hover {
  background: #308B95;
}

.itemx {
  padding-top: 12px;
}

.alertspacing {
  margin-top: 10px;
}

label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
  color: #212b36;
  font-weight: 400;
  cursor: pointer;
}

.labelanchor {
  margin-top: 1.8rem;
}

h2 {
  font-size: 1.6rem;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.2em;
  margin-bottom: 0.4rem;
}

h3 {
  color: #637381;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  line-height: 2.4rem;
  text-transform: none;
}

#brandimg {
  margin-top: -14px;
}
