@media (min-width: 401px) {
  .containerx {
    display: grid;
    grid-template-columns: 1fr 370px 1fr;
    grid-template-rows: 0.5fr auto 0.5fr auto;
    min-height: 100%;
    color: #eaebec;
    background-color: #2a2c2e;

    grid-template-areas:
      ". . ."
      ". signupform ."

  }

  .signup-form {
    grid-area: signupform;
    width: 370px;
  }

  .registration-form {
    display: grid;
    grid-template-columns: auto 140px 30px;
    grid-template-rows: auto auto auto auto 80px auto auto;

    grid-template-areas:
      "header header closebutton"
      "email email email"
      "password password password"
      ". signupbutton signupbutton"
      ". . ."
      "googlebutton googlebutton googlebutton"
      "facebookbutton facebookbutton facebookbutton"

  }

}

@media (min-width: 0px) and (max-width: 400px) {
  .containerx {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    color: #eaebec;
    background-color: #2a2c2e;

    grid-template-areas:
      "signupform"

  }

  .signup-form {
    grid-area: signupform;
    width: 100%;
  }

}

html, body {
  min-height: 100%;
  min-width: 100%;
  background-color: #fff;
}

.signupbutton {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  grid-area: signupbutton;
}


.form-input {
  width: 100%;
  border: 1px solid #c4cdd5;;
  border-radius: 3px;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  max-height: 5.2rem;
  padding: 1.6rem;
  border-color: #8996a3;
  color: #000;
}


#signupbutton {
  margin-top: 1.6rem 
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  background: #5fb2ba;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

#facebookbutton {
  width: 100%;
  grid-area: facebookbutton;
}

#googlebutton {
  padding: 0px;
  margin: 0px;
  width: 100%;
  grid-area: googlebutton;
}

#signupbutton:hover {
  background: #308B95;
}

.itemx {
  padding-top: 12px;
  padding-top: 12px;
}

.closebutton {
  color: #aaabac;
  grid-area: closebutton;
}

.closebutton:hover {
  color: #eee;
}

.header {
  grid-area: header;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.facebookbutton {
  grid-area: facebookbutton;
}

.googlebutton {
  grid-area: googlebutton;
}

.alertspacing {
  margin-top: 10px;
}

h2 {
  font-size: 1.6rem;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.2em;
  margin-bottom: 0.4rem;
}

label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-weight: 400;
  cursor: pointer;
}
