@media (min-width: 501px) {
  .containerx {
    display: grid;
    grid-template-columns: 1fr 470px 1fr;
    grid-template-rows: auto auto auto 0.5fr auto;
    min-height: 100%;
    background-color: #fff;

    grid-template-areas:
      "stepwizard stepwizard stepwizard"
      ". brandlogo ."
      ". stageform ."
      "bottomspace bottomspace bottomspace"
      "newfooter newfooter newfooter";

  }

  .stage-form {
    grid-area: stageform;
    width: 470px;
  }

  .brandname {
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
  }

  .headertext {
    margin-top: 20px;
  }

}

@media (min-width: 0px) and (max-width: 500px) {
  .containerx {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    background-color: #fff;

    grid-template-areas:
      "stepwizard stepwizard stepwizard"
      ". brandlogo ."
      ". stageform ."
      ". bottomspace ."
      "newfooter newfooter newfooter";

  }

  .stage-form {
    grid-area: stageform;
    background-color: #fff;
    width: 100%;
  }

  .rfglogo32 {
    margin-top: 10px;
    width: 100%;
  }

  .brandname {
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    width: 100%;
  }

  .headertext {
    margin-top: 20px;
    width: 100%;
  }

}

html, body {
  min-height: 100%;
  min-width: 100%;
  background-color: #fff;
}

.nextbutton {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.brandlogo {
  grid-area: brandlogo;
}

.bottomspace {
  grid-area: bottomspace;
}

.helptext {
  color: #52acb4;
  margin-left:  22px;
}

#about {
  grid-area: about;
}

#support {
  grid-area: support;
}

#privacy {
  grid-area: privacy;
}

.bs-wizard {
  padding: 20px;
  grid-area: stepwizard;
}

.newfooter {
  padding: 15px;
  background-color: #f2f4f6;
  min-height: 4.2rem;
  grid-area: newfooter;

  display: grid;
  grid-template-columns: 1fr auto auto auto;

  grid-template-areas:
    ". about support privacy";

}

.terms {
  color: #454f5b;
  padding: 15px;
}

.form-input {
  width: 100%;
  border: 1px solid #c4cdd5;;
  border-radius: 3px;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  max-height: 5.2rem;
  padding: 1.6rem;
  border-color: #8996a3;

}

.nextbutton {
  margin-top: 1.6rem 
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  background: #4599a0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.nextbutton:hover {
  background: #308B95;
}

.itemx {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alertspacing {
  margin-top: 10px;
}

label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
  color: #212b36;
  font-weight: 400;
  cursor: pointer;
}

.labelanchor {
  margin-top: 1.8rem;
}

h2 {
  font-size: 1.6rem;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.2em;
  margin-bottom: 0.4rem;
}

h3 {
  color: #637381;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 20px;
  line-height: 2.4rem;
  text-transform: none;
}

#brandimg {
  margin-top: -14px;
}
